<div class="page_content_wrap page_top_wrap sc_bg1">
    <section class="container mt">
        <div class="col-sm-9 center-block">
            <div class="panel">
                <div class="panel-body">
                    <article class="row">
                        <div class="col-sm-12 mt">
                            <div class="user-list-data">
                                <h3 class="mt0"><a href="">Mohan Guptha</a></h3>
                                <dl class="col-sm-12 dashboard-list">
                                    <dt>Topic</dt>
                                    <dd>Gravitation</dd>
                                    <dt>Start</dt>
                                    <dd>2 Mar 2016 18:00</dd>
                                    <dt>End</dt>
                                    <dd>20:00</dd>
                                    <dt>Duration</dt>
                                    <dd>2 hr</dd>
                                    <h6>Session Repeat</h6>
                                    <dt>2 Mar 18:00 - 2 Mar 18:00</dt>
                                    <dt>2 Mar 18:00 - 2 Mar 18:00</dt>
                                    <dt>2 Mar 18:00 - 2 Mar 18:00</dt>
                                    <dt>2 Mar 18:00 - 2 Mar 18:00</dt>
                                </dl>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
</div>
