<div class="page_content_wrap page_top_wrap sc_bg1">
    <section class="container mt">
        <div class="col-sm-9ccenter-block">
            <div class="panel">
                <div class="panel-body">
                    <div class="product has-post-thumbnail">
                        <div class="col-sm-6">
                            <h1 class="product_title entry-title">Principles of Written English, Part 2</h1>
                            <div>
                                <p class="price"><span class="amount">&#x20B9; 85.00</span></p>
                            </div>
                            <div>
                                <dl class="dashboard-list course-details">
                                    <dt><i class="fa fa-book "></i> Subject </dt>
                                    <dd>English</dd>
                                    <dt><i class="fa fa-graduation-cap"></i> Starts </dt>
                                    <dd>11th Std ICSE</dd>
                                    <dt><i class="fa fa-calendar"></i> Starts </dt>
                                    <dd>30 Mar 2016</dd>
                                    <dt><i class="fa fa-calendar-check-o"></i> Ends </dt>
                                    <dd>30 Mar 2016</dd>
                                    <dt><i class="fa fa-clock-o"></i> Time </dt>
                                    <dd>6:00 - 10:00 PM</dd>
                                </dl>
                            </div>
                            <button type="submit" class="btn btn-info btn-raised">Enroll Now</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h2>Tutors</h2>
                            <article class="col-sm-4 sc_team_item  ph-xl">
                                <div class="sc_team_item_avatar"><img alt="" src="images/default-profile.jpg"></div>
                                <div class="sc_team_item_info p-sm">
                                    <div class="pull-right">
                                        <a title="Rating - 4" href="#">
                                            <span>4.0 <i class="fa fa-star"></i></span>
                                        </a>
                                    </div>
                                    <h6 class="sc_team_item_title">
                        <a href="#personalpage">John Snow</a>
                    </h6>
                                    <div class="sc_team_item_position">Lecturer, CET, TVM</div>
                                </div>
                            </article>
                            <article class="col-sm-4 sc_team_item  ph-xl">
                                <div class="sc_team_item_avatar"><img alt="" src="images/default-profile.jpg"></div>
                                <div class="sc_team_item_info p-sm">
                                    <div class="pull-right">
                                        <a title="Rating - 4" href="#">
                                            <span>4.0 <i class="fa fa-star"></i></span>
                                        </a>
                                    </div>
                                    <h6 class="sc_team_item_title">
                        <a href="#personalpage">John Snow</a>
                    </h6>
                                    <div class="sc_team_item_position">Lecturer, CET, TVM</div>
                                </div>
                            </article>
                            <article class="col-sm-4 sc_team_item  ph-xl">
                                <div class="sc_team_item_avatar"><img alt="" src="images/default-profile.jpg"></div>
                                <div class="sc_team_item_info p-sm">
                                    <div class="pull-right">
                                        <a title="Rating - 4" href="#">
                                            <span>4.0 <i class="fa fa-star"></i></span>
                                        </a>
                                    </div>
                                    <h6 class="sc_team_item_title">
                        <a href="#personalpage">John Snow</a>
                    </h6>
                                    <div class="sc_team_item_position">Lecturer, CET, TVM</div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- content -->
<script type="text/javascript">
$('document').ready(function() {
    $(window).scrollTop(0);
});
</script>
