<div class="page_content_wrap page_top_wrap sc_bg1">
    <section class="container mt">
       
        <div class="col-sm-9 center-block">
            <div class="panel">
                <div class="panel-heading">
                    <h3>Create Course</h3>
                    <!-- <small>Create One To Many course</small> -->
                </div>
                <div class="panel-body pv0">
                    <div class="col-sm-6 center-block mt">
                        <form class="form-horizontal">
                            <div id="block_container_course" class="form-group" >
                                <label class="control-label" for="course">Select Subject</label>
                                <select id="course_id" title="" class="form-control" name="course_name">
                                    <option> Please Select a Subject</option>
                                </select>
                            </div>
                            <div id="selecttopicdiv_id" class="form-group">
                                <label class="control-label" for="topic">Topic</label>
                                <select id="topic_id" title="" class="form-control" name="topic_name">
                                    <option>Please Select a Topic </option>
                                </select>
                            </div>
                            <div id="selecttutordiv_id" class="form-group" id="selecttutordiv_id">
                                <label class="control-label" for="topic">Tutor</label>
                                <select id="tutor_id" title="" class="form-control" name="tutor_name">
                                    <option>Please Select a Tutor </option>
                                </select>
                            </div>
                            <div id="selecttutordiv_id" class="form-group" id="selecttutordiv_id" >
                                <label class="control-label" for="topic">Type</label>
                                <select id="type" title="" class="form-control" name="tutor_name">
                                    <option value="personal" selected="">One To One</option>
                                    <option value="public">One To Many</option>
                                </select>
                            </div>
                            <div id="smartclassid" class="form-group">
                                <input readOnly type="hidden" id="smartclass_id" value="Smart Class" class="form-control open" pattern="\d+(.\d{2})?">
                            </div>
                            <div id="totalseats_div" class="form-group public">

                            <label class="control-label" for="totalseats">Total seats</label>
                                <input readOnly type="text" id="totalseats" class="form-control open" value="1" pattern="\d+(.\d{2})?">
                            </div>
                            <div id="feeperhourdiv_id" class="form-group public">
                            <label class="control-label" for="feePerHr">Fee per hour</label>
                                <input type="text" id="feePerHr" class="form-control open" placeholder="Course Fee" pattern="\d+(.\d{2})?">
                            </div>
                            <div id="startdatediv_id" class="form-group public">
                                <label class="control-label" for="sDate">Start Date</label>
                                <input type="text" id="start_date" class="form-control open">
                            </div>
                            <div id="end_datediv_id" class="form-group public">
                                <label class="control-label" for="endDate">End Date</label>
                                <input type="text" id="end_date" class="form-control open">
                            </div>
                            <div id="start_timediv_id" class="form-group public">
                                <label class="control-label" for="startTime">Start Time</label>
                                <input type="text" id="start_time" class="form-control open">
                            </div>
                            <!-- <div  id="end_timediv_id" class="form-group">
                            <label class="control-label" for="endTime">End Time</label>
                            <input type="text" id="end_time" class="form-control open">
                        </div> -->
                            <div id="durationdiv_id" class="form-group public">
                                <label class="control-label" for="duration">Duration</label>
                                <select id="duration" title="" class="form-control" name="duration">
                                    <option>Please Select the duration </option>
                                </select>
                                <!-- <input type="text" id="duration" class="form-control open"> -->
                            </div>
                            <div id="workingdayslabel_id" class="form-group public">Work Days</label>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="monday"> Mon
                                    </label>
                                    <label>
                                        <input type="checkbox" id="tuesday"> Tue
                                    </label>
                                    <label>
                                        <input type="checkbox" id="wednesday"> Wed
                                    </label>
                                    <label>
                                        <input type="checkbox" id="thursday"> Thu
                                    </label>
                                    <label>
                                        <input type="checkbox" id="friday"> Fri
                                    </label>
                                    <label>
                                        <input type="checkbox" id="saturday"> Sat
                                    </label>
                                    <label>
                                        <input type="checkbox" id="sunday"> Sun
                                    </label>
                                </div>
                            </div>
                            <div class="text-center">
                                <button id="btnCreateCourse" class="btn btn-info btn-raised" type="button">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</div>
</section>
<script type="text/javascript">
$('#start_time').datetimepicker({
    stepping: 30,
    format: 'HH:mm'
});

$('#start_date,#end_date').datetimepicker({
    stepping: 30,
    //   minDate:new Date(),
    format: 'YYYY-MM-DD'
});
$('div.public').hide();
$('select#type').on('change',function(){
    if($(this).val() == "personal"){
        $('div.public').hide('500');
    }else{
        $('div.public').show('500');
    }

});
</script>
<!-- <script src="../js/lib/material/ripples.min.js"></script>
<script src="../js/lib/material/material.min.js"></script> -->
