<div class="page_content_wrap page_top_wrap sc_bg1">
    <section class="container mt">
        <div class="col-sm-3 p0">
            <div class="panel text-center ph0 pv">
                <div class="p">
                    <form class="form-horizontal p-lg profileForm">
                        <div>
                            <img src="images/default-profile.jpg" class="img-fluid center-block img98" />
                            <div class="form-group file-upload">
                                <input type="file">
                                <div class="input-group">
                                    <input type="text" readonly="" class="form-control" placeholder="Change profile picture">
                                    <span class="input-group-btn input-group-sm">
                                                <button type="button" class="btn btn-fab btn-fab-mini">
                                                    
                                                        <i class="fa fa-file-image-o"></i>
                                                
                                                </button>
                                            </span>
                                </div>
                            </div>
                        </div>
                        <div class="row currentStatus mt-lg">
                            <ul class="list-inline course-wiggets">
                                <li class="c-widget">
                                    <b class="course-count">10</b>
                                    <span class="course-text">Active</span>
                                </li>
                                <li class="c-widget">
                                    <b class="course-count">10</b>
                                    <span class="course-text">Completed</span>
                                </li>
                            </ul>
                            <div class="col-md-12">
                                <a class="text-primary  enable-edit pointer">Update Profile</a>
                            </div>
                            <div class="col-md-12">
                                <a class="text-primary pointer" data-toggle="modal" data-target="#newClass">Change Password</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">First Name</label>
                                    <input type="text" value="John" autocomplete="off" required="required" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Last Name</label>
                                    <input type="text" value="Doe" autocomplete="off" required="required" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">City</label>
                            <input type="text" value="Delhi" autocomplete="off" required="required" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Phone</label>
                            <input type="text" value="+91 245 236 6895" autocomplete="off" required="required" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Email</label>
                            <input type="email" value="example@domain.com" autocomplete="off" required="required" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Classes Taught</label>
                            <input type="text" data-role="tagsinput" class="form-control tags" autocomplete="off" required="required" value="8,9,10">
                            <small class="tag-help-block">Enter a comma seperated list of classes</small>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Subjects Taught</label>
                            <input type="text" data-role="tagsinput" class="form-control tags" autocomplete="off" required="required" value="Math,English">
                            <small class="tag-help-block">Enter a comma seperated list of subjects</small>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Charge per hour</label>
                            <input type="text" value="200" autocomplete="off" required="required" class="form-control" />
                        </div>
                        <div class="form-group text-center actionBtn">
                            <button type="submit" class="sc_button sc_button_style_filled cancelBtn">CANCEL</button>
                            <button type="submit" class="sc_button sc_button_style_filled updateBtn">SAVE</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="panel">
                <div class="panel-body">
                    <article class="row">
                        <div class="col-sm-12 mt">
                            <div class="col-sm-4 p0 mb text-center col-md-2">
                                <img src="images/default-profile.jpg" class="img-responsive img-thumbnail img-student98" alt="Erudo" />
                            </div>
                            <div class="user-list-data col-sm-8 col-md-10">
                                <h3 class="mt0"><a href="">Mohan Guptha</a></h3>
                                <dl class="col-sm-12 dashboard-list">
                                    <dt>Topic</dt>
                                    <dd>Gravitation</dd>
                                    <dt>Start</dt>
                                    <dd>2 Mar 2016 18:00</dd>
                                    <dt>End</dt>
                                    <dd>20:00</dd>
                                    <dt>Duration</dt>
                                    <dd>2 hr</dd>
                                    <h6>Session Repeat</h6>
                                    <dt>2 Mar 18:00 - 2 Mar 18:00</dt>
                                    <dt>2 Mar 18:00 - 2 Mar 18:00</dt>
                                    <dt>2 Mar 18:00 - 2 Mar 18:00</dt>
                                    <dt>2 Mar 18:00 - 2 Mar 18:00</dt>
                                </dl>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <h6>Message</h6>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                            </p>
                            <div class="text-left">
                                <a class="btn btn-danger btn-raised pull-right btn-sm" title="Decline" href="">Decline</a>
                                <a class="btn btn-primary btn-raised pull-right btn-sm" title="Approve" href="">Approve</a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
</div>
<script type="text/javascript">
var profileForm = $('.profileForm');
$.each(profileForm.find('.form-control:not(.open)'), function(i, o) {
    $(o).after($("<p>", {
        "text": $(o).val(),
        "class": "form-control-static"
    })).hide();
});

$('.actionBtn').hide();

$('a.enable-edit').click(function() {
    $('input[data-role="tagsinput"]').tagsinput('refresh');
    $('.form-control-static,.img98,.currentStatus').hide();
    $('.form-control:not(.tags),.bootstrap-tagsinput,.tag-help-block,.file-upload,.actionBtn').fadeIn('300');
});

$('.cancelBtn,.updateBtn').on('click', function() {
    profileForm.find('.form-control:not(.tags),.bootstrap-tagsinput,.tag-help-block,.file-upload,.actionBtn').hide('300');
    $('.form-control-static,.img98,.currentStatus').show('300');
});
</script>
