<div class="page_content_wrap page_top_wrap sc_bg1">
    <section class="container mt">
        <div class="col-sm-9 center-block">
            <div class="panel">
                <div class="panel-body">
                    <article class="row enrolled-course">
                        <div class="col-sm-12 mt">
                            <div class="col-sm-4 p0 mb text-center col-md-2">
                                <img src="images/default-profile.jpg" class="img-responsive img-thumbnail img-student98" alt="Erudo" />
                            </div>
                            <div class="user-list-data col-sm-8 col-md-10">
                                <h3 class="mt0"><a href="">Mohan Guptha</a></h3>
                                <dl class="col-sm-12 dashboard-list">
                                    <dt>Topic</dt>
                                    <dd>Gravitation</dd>
                                    <dt>Start</dt>
                                    <dd>2 Mar 2016 18:00</dd>
                                    <dt>End</dt>
                                    <dd>20:00</dd>
                                    <dt>Duration</dt>
                                    <dd>2 hr</dd>
                                    <dt>
                                        <a href="#requestDetails">See Details</a>
                                    </dt>
                                </dl>
                            </div>
                        </div>
                    </article>
                    <article class="row enrolled-course">
                        <div class="col-sm-12 mt">
                            <div class="col-sm-4 p0 mb text-center col-md-2">
                                <img src="images/user/01.jpg" class="img-responsive img-thumbnail img-student98" alt="Erudo" />
                            </div>
                            <div class="user-list-data col-sm-8 col-md-10">
                                <h3 class="mt0"><a href="">Mohan Guptha</a></h3>
                                <dl class="col-sm-12 dashboard-list">
                                    <dt>Topic</dt>
                                    <dd>Gravitation</dd>
                                    <dt>Start</dt>
                                    <dd>2 Mar 2016 18:00</dd>
                                    <dt>End</dt>
                                    <dd>20:00</dd>
                                    <dt>Duration</dt>
                                    <dd>2 hr</dd>
                                    <dt>
                                        <a href="#requestDetails">See Details</a>
                                    </dt>
                                </dl>
                            </div>
                        </div>
                    </article>
                    <article class="row enrolled-course">
                        <div class="col-sm-12 mt">
                            <div class="col-sm-4 p0 mb text-center col-md-2">
                                <img src="images/user/02.jpg" class="img-responsive img-thumbnail img-student98" alt="Erudo" />
                            </div>
                            <div class="user-list-data col-sm-8 col-md-10">
                                <h3 class="mt0"><a href="">Mohan Guptha</a></h3>
                                <dl class="col-sm-12 dashboard-list">
                                    <dt>Topic</dt>
                                    <dd>Gravitation</dd>
                                    <dt>Start</dt>
                                    <dd>2 Mar 2016 18:00</dd>
                                    <dt>End</dt>
                                    <dd>20:00</dd>
                                    <dt>Duration</dt>
                                    <dd>2 hr</dd>
                                    <dt>
                                        <a href="#requestDetails">See Details</a>
                                    </dt>
                                </dl>
                            </div>
                        </div>
                    </article>
                    <article class="row enrolled-course">
                        <div class="col-sm-12 mt">
                            <div class="col-sm-4 p0 mb text-center col-md-2">
                                <img src="images/user/03.jpg" class="img-responsive img-thumbnail img-student98" alt="Erudo" />
                            </div>
                            <div class="user-list-data col-sm-8 col-md-10">
                                <h3 class="mt0"><a href="">Mohan Guptha</a></h3>
                                <dl class="col-sm-12 dashboard-list">
                                    <dt>Topic</dt>
                                    <dd>Gravitation</dd>
                                    <dt>Start</dt>
                                    <dd>2 Mar 2016 18:00</dd>
                                    <dt>End</dt>
                                    <dd>20:00</dd>
                                    <dt>Duration</dt>
                                    <dd>2 hr</dd>
                                    <dt>
                                        <a href="#requestDetails">See Details</a>
                                    </dt>
                                </dl>
                            </div>
                        </div>
                    </article>
                    <div class="text-center">
                        <ul class="pagination pagination-sm">
                            <li class="disabled"><a href="javascript:void(0)">«</a></li>
                            <li class="active"><a href="javascript:void(0)">1</a></li>
                            <li><a href="javascript:void(0)">2</a></li>
                            <li><a href="javascript:void(0)">3</a></li>
                            <li><a href="javascript:void(0)">»</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script type="text/javascript">
var profileForm = $('.profileForm');
$.each(profileForm.find('.form-control:not(.open)'), function(i, o) {
    $(o).after($("<p>", {
        "text": $(o).val(),
        "class": "form-control-static"
    })).hide();
});

$('.actionBtn').hide();

$('a.enable-edit').click(function() {
    $('input[data-role="tagsinput"]').tagsinput('refresh');
    $('.form-control-static,.img98,.currentStatus').hide();
    $('.form-control:not(.tags),.bootstrap-tagsinput,.tag-help-block,.file-upload,.actionBtn').fadeIn('300');
});

$('.cancelBtn,.updateBtn').on('click', function() {
    profileForm.find('.form-control:not(.tags),.bootstrap-tagsinput,.tag-help-block,.file-upload,.actionBtn').hide('300');
    $('.form-control-static,.img98,.currentStatus').show('300');
});
</script>
