<div class="page_content_wrap page_top_wrap sc_bg1">
    <section class="container mt">
        <div class="col-sm-3 p0">
            <div class="panel text-center ph0 pv">
                <div class="p">
                    <form class="form-horizontal p-lg profileForm">
                        <div>
                            <div style="background-image:url(images/user/02.jpg)" class="img-fluid center-block img98 img-bg">
                            </div>
                            <div class="form-group file-upload">
                                <input type="file">
                                <div class="input-group">
                                    <input type="text" readonly="" class="form-control" placeholder="Change profile picture">
                                    <span class="input-group-btn input-group-sm">
                                                <button type="button" class="btn btn-fab btn-fab-mini">
                                                    
                                                        <i class="fa fa-file-image-o"></i>
                                                
                                                </button>
                                            </span>
                                </div>
                            </div>
                        </div>
                        <div class="row currentStatus mt-lg">
                            <ul class="list-inline course-wiggets">
                                <li class="c-widget">
                                    <b class="course-count">10</b>
                                    <span class="course-text">Active</span>
                                </li>
                                <li class="c-widget">
                                    <b class="course-count">10</b>
                                    <span class="course-text">Completed</span>
                                </li>
                            </ul>
                            <div class="col-md-12">
                                <a class="text-primary  enable-edit pointer">Update Profile</a>
                            </div>
                            <div class="col-md-12">
                                <a class="text-primary pointer" data-toggle="modal" data-target="#newClass">Change Password</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">First Name</label>
                                    <input type="text" value="John" autocomplete="off" required="required" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Last Name</label>
                                    <input type="text" value="Doe" autocomplete="off" required="required" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">City</label>
                            <input type="text" value="Delhi" autocomplete="off" required="required" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Phone</label>
                            <input type="text" value="+91 245 236 6895" autocomplete="off" required="required" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Email</label>
                            <input type="email" value="example@domain.com" autocomplete="off" required="required" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Classes Taught</label>
                            <select id="classes" type="text" class="form-control" autocomplete="off" required="required" value="8,9,10" multiple="">
                                <option selected="">8</option>
                                <option selected>10</option>
                                <option>11</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Subjects Taught</label>
                            <select class="form-control" autocomplete="off" required="required" value="Math,English" multiple="">
                                <option selected>Physics</option>
                                <option selected>Chemistry</option>
                                <option>Math</option>
                                <option>English</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Charge per hour</label>
                            <input type="text" value="200" autocomplete="off" required="required" class="form-control" />
                        </div>
                        <div class="form-group text-center actionBtn">
                            <button type="submit" class="sc_button sc_button_style_filled cancelBtn">CANCEL</button>
                            <button type="submit" class="sc_button sc_button_style_filled updateBtn">SAVE</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="panel">
                <div class="panel-body">
                    <article class="col-sm-12 enrolled-course">
                        <h4 class="text-capitalize">Sequence and series
                                <label class="mb0">(Math)</label>
                               
                            </h4>
                        <dl class="col-sm-6 dashboard-list">
                            <dt><b>Class Type</b></dt>
                            <dd>Group Tution</dd>
                            <dt><b>Hours Remaimning</b></dt>
                            <dd>12Hrs</dd>
                            <dt><b>Next Session</b></dt>
                            <dd>10/04/2016 18:30</dd>
                        </dl>
                        <dl class="col-sm-6 dashboard-list">
                            <dt><b>Student(s) Enrolled</b></dt>
                            <dd>
                                <input type="hidden" class="rating" data-filled="fa fa-user" data-empty="fa fa-user text-muted" data-stop="5" value="2" data-readonly/>
                                <div>
                                    <input type="hidden" class="rating" data-filled="fa fa-user" data-empty="fa fa-user text-muted" data-stop="5" value="2" data-readonly/>
                                </div>
                            </dd>
                            <div><a href="#classDetails">See details</a></div>
                        </dl>
                    </article>
                    <article class="col-sm-12 enrolled-course">
                        <h4 class="text-capitalize">Sequence and series
                                <label class="mb0">(Math)</label>
                               
                            </h4>
                        <dl class="col-sm-6 dashboard-list">
                            <dt><b>Class Type</b></dt>
                            <dd>Group Tution</dd>
                            <dt><b>Hours Remaimning</b></dt>
                            <dd>12Hrs</dd>
                            <dt><b>Next Session</b></dt>
                            <dd>10/04/2016 18:30</dd>
                        </dl>
                        <dl class="col-sm-6 dashboard-list">
                            <dt><b>Student(s) Enrolled</b></dt>
                            <dd>
                                <input type="hidden" class="rating" data-filled="fa fa-user" data-empty="fa fa-user text-muted" data-stop="5" value="2" data-readonly/>
                                <div>
                                    <input type="hidden" class="rating" data-filled="fa fa-user" data-empty="fa fa-user text-muted" data-stop="5" value="2" data-readonly/>
                                </div>
                            </dd>
                            <div><a href="#classDetails">See details</a></div>
                        </dl>
                    </article>
                    <article class="col-sm-12 enrolled-course">
                        <h4 class="text-capitalize">Sequence and series
                                <label class="mb0">(Math)</label>
                               
                            </h4>
                        <dl class="col-sm-6 dashboard-list">
                            <dt><b>Class Type</b></dt>
                            <dd>Group Tution</dd>
                            <dt><b>Hours Remaimning</b></dt>
                            <dd>12Hrs</dd>
                            <dt><b>Next Session</b></dt>
                            <dd>10/04/2016 18:30</dd>
                        </dl>
                        <dl class="col-sm-6 dashboard-list">
                            <dt><b>Student(s) Enrolled</b></dt>
                            <dd>
                                <input type="hidden" class="rating" data-filled="fa fa-user" data-empty="fa fa-user text-muted" data-stop="5" value="2" data-readonly/>
                                <div>
                                    <input type="hidden" class="rating" data-filled="fa fa-user" data-empty="fa fa-user text-muted" data-stop="5" value="2" data-readonly/>
                                </div>
                            </dd>
                            <div><a href="#classDetails">See details</a></div>
                        </dl>
                    </article>
                    <article class="col-sm-12 enrolled-course">
                        <h4 class="text-capitalize">Sequence and series
                                <label class="mb0">(Math)</label>
                               
                            </h4>
                        <dl class="col-sm-6 dashboard-list">
                            <dt><b>Class Type</b></dt>
                            <dd>Group Tution</dd>
                            <dt><b>Hours Remaimning</b></dt>
                            <dd>12Hrs</dd>
                            <dt><b>Next Session</b></dt>
                            <dd>10/04/2016 18:30</dd>
                        </dl>
                        <dl class="col-sm-6 dashboard-list">
                            <dt><b>Student(s) Enrolled</b></dt>
                            <dd>
                                <input type="hidden" class="rating" data-filled="fa fa-user" data-empty="fa fa-user text-muted" data-stop="5" value="2" data-readonly/>
                                <div>
                                    <input type="hidden" class="rating" data-filled="fa fa-user" data-empty="fa fa-user text-muted" data-stop="5" value="2" data-readonly/>
                                </div>
                            </dd>
                            <div><a href="#classDetails">See details</a></div>
                        </dl>
                    </article>
                    <article class="col-sm-12 enrolled-course">
                        <h4 class="text-capitalize">Sequence and series
                                <label class="mb0">(Math)</label>
                               
                            </h4>
                        <dl class="col-sm-6 dashboard-list">
                            <dt><b>Class Type</b></dt>
                            <dd>Group Tution</dd>
                            <dt><b>Hours Remaimning</b></dt>
                            <dd>12Hrs</dd>
                            <dt><b>Next Session</b></dt>
                            <dd>10/04/2016 18:30</dd>
                        </dl>
                        <dl class="col-sm-6 dashboard-list">
                            <dt><b>Student(s) Enrolled</b></dt>
                            <dd>
                                <input type="hidden" class="rating" data-filled="fa fa-user" data-empty="fa fa-user text-muted" data-stop="5" value="2" data-readonly/>
                                <div>
                                    <input type="hidden" class="rating" data-filled="fa fa-user" data-empty="fa fa-user text-muted" data-stop="5" value="2" data-readonly/>
                                </div>
                            </dd>
                            <div><a href="#classDetails">See details</a></div>
                        </dl>
                    </article>
                    <div class="text-center">
                        <ul class="pagination pagination-sm">
                            <li class="disabled"><a href="javascript:void(0)">«</a></li>
                            <li class="active"><a href="javascript:void(0)">1</a></li>
                            <li><a href="javascript:void(0)">2</a></li>
                            <li><a href="javascript:void(0)">3</a></li>
                            <li><a href="javascript:void(0)">»</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Col9 -->
    </section>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="newClass">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Change password</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label" for="cpass">Current Password</label>
                    <input type="text" class="form-control open" id="cpass" placeholder="Current Password" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="npass">New Password</label>
                    <input type="text" class="form-control open" id="npass" placeholder="New Password" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="rpass">Repeat Password</label>
                    <input type="text" class="form-control open" id="rpass" placeholder="Repeat Password" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-info btn-raised add">SAVE</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<script type="text/javascript">
var profileForm = $('.profileForm');
$.each(profileForm.find('.form-control:not(.open)'), function(i, o) {
    $(o).after($("<p>", {
        "text": $(o).is('select') ? getSelectText($(o)) : $(o).val(),
        "class": "form-control-static"
    })).hide();
});

function getSelectText($el) {
    if (typeof $el.val() === 'object') {
        return $el.val().join(',');
    }
    return $el.val();
}

$('.actionBtn').hide();

$('a.enable-edit').click(function() {
    $('input[data-role="tagsinput"]').tagsinput('refresh');
    $('.form-control-static,.img98,.currentStatus').hide();
    $('.form-control:not(.tags),.bootstrap-tagsinput,.tag-help-block,.file-upload,.actionBtn').fadeIn('300');
});

$('.cancelBtn,.updateBtn').on('click', function() {
    profileForm.find('.form-control:not(.tags),.bootstrap-tagsinput,.tag-help-block,.file-upload,.actionBtn').hide('300');
    $('.form-control-static,.img98,.currentStatus').show('300');
});
</script>
