<div class="page_content_wrap page_top_wrap sc_bg1">
    <section class="container mt">

        <div class="col-sm-9 center-block">
            <div class="panel">
                <div class="panel-body">
                    <form class="form-horizontal p-lg col-sm-6 center-block">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group ph-lg">
                                    <label class="form-label" for="class">Class</label>
                                    <input type="text" id="class" class="form-control open" list="classlist">
                                    <datalist id="classlist">
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                    </datalist>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group ph-lg">
                                    <label class="form-label" for="subject">Subject</label>
                                    <input type="text" id="subject" class="form-control open" list="subjectlist">
                                    <datalist id="subjectlist">
                                        <option>Math</option>
                                        <option>Chemistry</option>
                                        <option>English</option>
                                    </datalist>
                                </div>
                            </div>
                        </div>
                        <div class="form-group ph-lg">
                            <label class="control-label" for="title">Title</label>
                            <input type="text" id="title" class="form-control open">
                        </div>
                        <div class="form-group ph-lg">
                            <label class="control-label" for="doubts">Doubts</label>
                            <textarea class="form-control open" id="doubts"></textarea>
                        </div>
                        <div class="form-group ph-lg">
                            <input type="file" id="inputFile4" multiple="">
                            <div class="input-group">
                                <input type="text" readonly="" class="form-control open" placeholder="Upload file">
                                <span class="input-group-btn input-group-sm">
                                    <button type="button" class="btn btn-fab btn-fab-mini">
                                        <i class="material-icons">attach_file</i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-primary btn-raised" type="submit">Post</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
</div>
