<div class="page_content_wrap page_top_wrap sc_bg1">
    <section class="container mt">

        <div class="col-sm-9 center-block">
            <div class="panel">
                <div class="panel-heading">
                    <h3>Cart</h3>
                    <small>Confirm and proceed to payment</small>
                </div>
                <div class="panel-body pv0">
                    <article class="row enrolled-course">
                        <div class="purchase-data">
                            <h2>P block  elements</h2>
                            <h3 class="text-muted">(One to One Session)</h3>
                            <dl class="dashboard-list">
                                <dt>Tutor</dt>
                                <dd><a href="">Athul Kulkarni</a></dd>
                                <dt>Subject</dt>
                                <dd>Chemistry</dd>
                                <dt>Class</dt>
                                <dd>11</dd>
                                <dt>Starts on</dt>
                                <dd>2 Mar 2016</dd>
                                <dt>Duration</dt>
                                <dd>3 Days</dd>
                                <dt>Price per hour</dt>
                                <dd><i class="fa fa-inr"></i> <b>200</b></dd>
                                <dt>Hours purchased/requested</dt>
                                <dd>8</dd>
                                <dt class="total-amount">Total</dt>
                                <dt class="total-amount"><i class="fa fa-inr"></i> <b class="paid">1600</b></dt>
                            </dl>
                        </div>
                    </article>
                    <div class="row mt">
                        <div class="col-sm-8 col-xs-12 center-block">
                            <div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover table-bordered">
                                    <caption class="text-center">
                                        <h4>Payment Details</h4></caption>
                                    <tr>
                                        <td>P Block Elements (One To One)</td>
                                        <td><i class="fa fa-inr"></i> <b>200</b></td>
                                    </tr>
                                    <tr>
                                        <td>Wallet Balance</td>
                                        <td><i class="fa fa-inr"></i> <b>0</b></td>
                                    </tr>
                                    <tr>
                                        <td><b>You Pay</b></td>
                                        <td><i class="fa fa-inr"></i> <b class="paid">1600</b></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary btn-raised" data-toggle="modal" data-target=".confirmPayment">Proceed</button>
                    </div>
                </div>
            </div>
        </div>
</div>
</section>
</div>

<div class="modal fade confirmPayment" id="confirmDialog" tabindex="-1" role="dialog" aria-labelledby="confirmDialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body text-center">
                <!-- form code -->
                <div id="div_id">
                    <form id="frmid" method="post" name="form1" action="https://sandbox.citruspay.com/sslperf/erudopayment">
                        <input type="hidden" id="merchantTxnId" name="merchantTxnId" value="" />
                        <input id="orderAmount" name="orderAmount" type="hidden" value="1" readonly />
                        <input type="hidden" id="currency" name="currency" value="INR" />
                        <input id="returnUrl" type="hidden" name="returnUrl" />
                        <input type="hidden" id="secSignature" name="secSignature" value="" />
                        <p class="lead">Confirm Payment</p>
                        <h2>&#x20B9; 1</h2>
                        <button type="sbmit" class="btn btn-primary btn-raised">Make Payment</button>
                    </form>
                </div>
                <!-- end of  form code -->
            </div>
        </div>
    </div>
</div>
