<div class="page_content_wrap page_top_wrap sc_bg1">
    <section class="container mt">

        <div class="col-sm-12">
            <!-- if  list is null-->
            <div class="alert alert-dismissible alert-info">
                <h4>Oh!</h4>
                <p>You haven't made any payments. Find suitable course or tutor
                    <a href="javascript:void(0)" class="alert-link">here</a>.</p>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <h3>My Payments</h3>
                    <small>View your purchase history</small>
                </div>
                <div class="panel-body pv0">
                    <div class="payemt-list">
                        <div class="payment-item row">
                            <a href="" class="col-sm-6 col-xs-12"><h4>Biotechnology</h4></a>
                            <div class="col-sm-3 col-xs-12">
                                <span class="text-muted mt"><i class="fa fa-clock-o"></i> 2 Jan 2016 18:00</span>
                            </div>
                            <div class="col-sm-3 text-right col-xs-12">
                                <span class="pay-method"><i class="fa fa-inr"></i> <b class="paid">5000</b></span>
                            </div>
                        </div>
                        <div class="payment-item row">
                            <a href="" class="col-sm-6 col-xs-12"><h4>Biotechnology</h4></a>
                            <div class="col-sm-3 col-xs-12">
                                <span class="text-muted mt"><i class="fa fa-clock-o"></i> 2 Jan 2016 18:00</span>
                            </div>
                            <div class="col-sm-3 text-right col-xs-12">
                                <span class="pay-method"><i class="fa fa-inr"></i> <b class="paid">5000</b></span>
                            </div>
                        </div>
                        <div class="payment-item row">
                            <a href="" class="col-sm-6 col-xs-12"><h4>Biotechnology</h4></a>
                            <div class="col-sm-3 col-xs-12">
                                <span class="text-muted mt"><i class="fa fa-clock-o"></i> 2 Jan 2016 18:00</span>
                            </div>
                            <div class="col-sm-3 text-right col-xs-12">
                                <span class="pay-method"><i class="fa fa-inr"></i> <b class="paid">5000</b></span>
                            </div>
                        </div>
                        <div class="payment-item row">
                            <a href="" class="col-sm-6 col-xs-12"><h4>Biotechnology</h4></a>
                            <div class="col-sm-3 col-xs-12">
                                <span class="text-muted mt"><i class="fa fa-clock-o"></i> 2 Jan 2016 18:00</span>
                            </div>
                            <div class="col-sm-3 text-right col-xs-12">
                                <span class="pay-method"><i class="fa fa-inr"></i> <b class="paid">5000</b></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
