<div class="page_content_wrap">
    <div class="content page_top_wrap">
        <article class="post_item post_item_single page type-page">
            <section class="post_content">
                <div class="sc_section" data-animation="animated fadeInUp normal">
                    <div class="sc_content content_wrap margin_top_3em_imp margin_bottom_3em_imp">
                        <h2 class="sc_title sc_title_regular sc_align_center margin_top_0 margin_bottom_08em text_center">My Tutors</h2>
                        <div class="row">
                            <div class="search-row col-sm-6 center-block">
                                <div class="col-sm-3 pl-sm pr0">
                                    <select class="form-control open">
                                        <option selected="" disabled="">Choose class</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                        <option>11</option>
                                        <option>12</option>
                                        <option>B.Tech</option>
                                    </select>
                                </div>
                                <div class="col-sm-4 pl-sm pr0">
                                    <select class="form-control open">
                                        <option selected="" disabled="">Choose Board</option>
                                        <option>CBSE</option>
                                        <option>ICSE</option>
                                    </select>
                                </div>
                                <div class="col-sm-4 pl-sm pr0">
                                    <select class="form-control open">
                                        <option selected="" disabled="">Choose Subject</option>
                                        <option>Math</option>
                                        <option>English</option>
                                        <option>History</option>
                                        <option>Chemistry</option>
                                    </select>
                                </div>
                                <div class="col-sm-1">
                                    <a class="btn btn-link btn-raised ph0 m0" style="background:transparent"> <i class="fa fa-search fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                        <section class="row">
                            <!-- Tutor -->
                            <article class="col-sm-4 sc_team_item  ph-xl">
                                <div class="mb-sm"><img alt="" src="images/user/01.jpg" class="img-responsive img-thumbnail center-block img-circle" style="height: 235px;"></div>
                                <div class="sc_team_item_info p-sm">
                                    <div class="pull-right">
                                        <a title="Rating - 4" href="#">
                                            <span>4.0 <i class="fa fa-star"></i></span>
                                        </a>
                                    </div>
                                    <h6 class="sc_team_item_title">
                                <a href="#personalpage">John Snow</a>
                            </h6>
                                    <div class="sc_team_item_position">English, History</div>
                                    <div>Pricing from <b>&#x20B9;350/Hr</b></div>
                                    <div class="text-center">
                                        <a class="btn btn-raised btn-info" href="#Request">Request Session</a>
                                    </div>
                                </div>
                            </article>
                            <!-- Tutor -->
                            <article class="col-sm-4 sc_team_item  ph-xl">
                                <div class="mb-sm"><img alt="" src="images/user/01.jpg" class="img-responsive img-thumbnail center-block img-circle" style="height: 235px;"></div>
                                <div class="sc_team_item_info p-sm">
                                    <div class="pull-right">
                                        <a title="Rating - 4" href="#">
                                            <span>4.0 <i class="fa fa-star"></i></span>
                                        </a>
                                    </div>
                                    <h6 class="sc_team_item_title">
                        <a href="#personalpage">Pamela Fryman</a>
                    </h6>
                                    <div class="sc_team_item_position">English, History</div>
                                    <div>Pricing from <b>&#x20B9;350/Hr</b></div>
                                    <div class="text-center">
                                        <a class="btn btn-raised btn-info" href="#Request">Request Session</a>
                                    </div>
                                </div>
                            </article>
                            <!-- Tutor -->
                            <article class="col-sm-4 sc_team_item  ph-xl">
                                <div class="mb-sm"><img alt="" src="images/user/02.jpg" class="img-responsive img-thumbnail center-block img-circle" style="height: 235px;"></div>
                                <div class="sc_team_item_info p-sm">
                                    <div class="pull-right">
                                        <a title="Rating - 4" href="#">
                                            <span>4.0 <i class="fa fa-star"></i></span>
                                        </a>
                                    </div>
                                    <h6 class="sc_team_item_title">
                <a href="#personalpage">John Johnson</a>
            </h6>
                                    <div class="sc_team_item_position">English, History</div>
                                    <div>Pricing from <b>&#x20B9;350/Hr</b></div>
                                    <div class="text-center">
                                        <a class="btn btn-raised btn-info" href="#Request">Request Session</a>
                                    </div>
                                </div>
                            </article>
                            <!-- Tutor -->
                            <article class="col-sm-4 sc_team_item  ph-xl">
                                <div class="mb-sm"><img alt="" src="images/user/03.jpg" class="img-responsive img-thumbnail center-block img-circle" style="height: 235px;"></div>
                                <div class="sc_team_item_info p-sm">
                                    <div class="pull-right">
                                        <a title="Rating - 4" href="#">
                                            <span>4.0 <i class="fa fa-star"></i></span>
                                        </a>
                                    </div>
                                    <h6 class="sc_team_item_title">
        <a href="#personalpage">John Snow</a>
    </h6>
                                    <div class="sc_team_item_position">English, History</div>
                                    <div>Pricing from <b>&#x20B9;350/Hr</b></div>
                                    <div class="text-center">
                                        <a class="btn btn-raised btn-info" href="#Request">Request Session</a>
                                    </div>
                                </div>
                            </article>
                            <!-- Tutor -->
                            <article class="col-sm-4 sc_team_item  ph-xl">
                                <div class="mb-sm"><img alt="" src="images/user/04.jpg" class="img-responsive img-thumbnail center-block img-circle" style="height: 235px;"></div>
                                <div class="sc_team_item_info p-sm">
                                    <div class="pull-right">
                                        <a title="Rating - 4" href="#">
                                            <span>4.0 <i class="fa fa-star"></i></span>
                                        </a>
                                    </div>
                                    <h6 class="sc_team_item_title">
    <a href="#personalpage">Pamela Fryman</a>
</h6>
                                    <div class="sc_team_item_position">English, History</div>
                                    <div>Pricing from <b>&#x20B9;350/Hr</b></div>
                                    <div class="text-center">
                                        <a class="btn btn-raised btn-info" href="#Request">Request Session</a>
                                    </div>
                                </div>
                            </article>
                            <!-- Tutor -->
                            <article class="col-sm-4 sc_team_item  ph-xl">
                                <div class="mb-sm"><img alt="" src="images/user/05.jpg" class="img-responsive img-thumbnail center-block img-circle" style="height: 235px;"></div>
                                <div class="sc_team_item_info p-sm">
                                    <div class="pull-right">
                                        <a title="Rating - 4" href="#">
                                            <span>4.0 <i class="fa fa-star"></i></span>
                                        </a>
                                    </div>
                                    <h6 class="sc_team_item_title">
    <a href="#personalpage">John Johnson</a>
</h6>
                                    <div class="sc_team_item_position">English, History</div>
                                    <div>Pricing from <b>&#x20B9;350/Hr</b></div>
                                    <div class="text-center">
                                        <a class="btn btn-raised btn-info" href="#Request">Request Session</a>
                                    </div>
                                </div>
                            </article>
                            <!-- Tutor -->
                            <article class="col-sm-4 sc_team_item  ph-xl">
                                <div class="mb-sm"><img alt="" src="images/user/06.jpg" class="img-responsive img-thumbnail center-block img-circle" style="height: 235px;"></div>
                                <div class="sc_team_item_info p-sm">
                                    <div class="pull-right">
                                        <a title="Rating - 4" href="#">
                                            <span>4.0 <i class="fa fa-star"></i></span>
                                        </a>
                                    </div>
                                    <h6 class="sc_team_item_title">
    <a href="#personalpage">John Snow</a>
</h6>
                                    <div class="sc_team_item_position">English, History</div>
                                    <div>Pricing from <b>&#x20B9;350/Hr</b></div>
                                    <div class="text-center">
                                        <a class="btn btn-raised btn-info" href="#Request">Request Session</a>
                                    </div>
                                </div>
                            </article>
                            <!-- Tutor -->
                            <article class="col-sm-4 sc_team_item  ph-xl">
                                <div class="mb-sm"><img alt="" src="images/user/07.jpg" class="img-responsive img-thumbnail center-block img-circle" style="height: 235px;"></div>
                                <div class="sc_team_item_info p-sm">
                                    <div class="pull-right">
                                        <a title="Rating - 4" href="#">
                                            <span>4.0 <i class="fa fa-star"></i></span>
                                        </a>
                                    </div>
                                    <h6 class="sc_team_item_title">
    <a href="#personalpage">Pamela Fryman</a>
</h6>
                                    <div class="sc_team_item_position">English, History</div>
                                    <div>Pricing from <b>&#x20B9;350/Hr</b></div>
                                    <div class="text-center">
                                        <a class="btn btn-raised btn-info" href="#Request">Request Session</a>
                                    </div>
                                </div>
                            </article>
                            <!-- Tutor -->
                            <article class="col-sm-4 sc_team_item  ph-xl">
                                <div class="mb-sm"><img alt="" src="images/user/08.jpg" class="img-responsive img-thumbnail center-block img-circle" style="height: 235px;"></div>
                                <div class="sc_team_item_info p-sm">
                                    <div class="pull-right">
                                        <a title="Rating - 4" href="#">
                                            <span>4.0 <i class="fa fa-star"></i></span>
                                        </a>
                                    </div>
                                    <h6 class="sc_team_item_title">
    <a href="#personalpage">John Johnson</a>
</h6>
                                    <div class="sc_team_item_position">English, History</div>
                                    <div>Pricing from <b>&#x20B9;350/Hr</b></div>
                                    <div class="text-center">
                                        <a class="btn btn-raised btn-info" href="#Request">Request Session</a>
                                    </div>
                                </div>
                            </article>
                            <!-- Tutor -->
                            <article class="col-sm-4 sc_team_item  ph-xl">
                                <div class="mb-sm"><img alt="" src="images/user/09.jpg" class="img-responsive img-thumbnail center-block img-circle" style="height: 235px;"></div>
                                <div class="sc_team_item_info p-sm">
                                    <div class="pull-right">
                                        <a title="Rating - 4" href="#">
                                            <span>4.0 <i class="fa fa-star"></i></span>
                                        </a>
                                    </div>
                                    <h6 class="sc_team_item_title">
    <a href="#personalpage">John Snow</a>
</h6>
                                    <div class="sc_team_item_position">English, History</div>
                                    <div>Pricing from <b>&#x20B9;350/Hr</b></div>
                                    <div class="text-center">
                                        <a class="btn btn-raised btn-info" href="#Request">Request Session</a>
                                    </div>
                                </div>
                            </article>
                            <!-- Tutor -->
                            <article class="col-sm-4 sc_team_item  ph-xl">
                                <div class="mb-sm"><img alt="" src="images/user/10.jpg" class="img-responsive img-thumbnail center-block img-circle" style="height: 235px;"></div>
                                <div class="sc_team_item_info p-sm">
                                    <div class="pull-right">
                                        <a title="Rating - 4" href="#">
                                            <span>4.0 <i class="fa fa-star"></i></span>
                                        </a>
                                    </div>
                                    <h6 class="sc_team_item_title">
    <a href="#personalpage">Pamela Fryman</a>
</h6>
                                    <div class="sc_team_item_position">English, History</div>
                                    <div>Pricing from <b>&#x20B9;350/Hr</b></div>
                                    <div class="text-center">
                                        <a class="btn btn-raised btn-info" href="#Request">Request Session</a>
                                    </div>
                                </div>
                            </article>
                            <!-- Tutor -->
                            <article class="col-sm-4 sc_team_item  ph-xl">
                                <div class="mb-sm"><img alt="" src="images/user/11.jpg" class="img-responsive img-thumbnail center-block img-circle" style="height: 235px;"></div>
                                <div class="sc_team_item_info p-sm">
                                    <div class="pull-right">
                                        <a title="Rating - 4" href="#">
                                            <span>4.0 <i class="fa fa-star"></i></span>
                                        </a>
                                    </div>
                                    <h6 class="sc_team_item_title">
    <a href="#personalpage">John Johnson</a>
</h6>
                                    <div class="sc_team_item_position">English, History</div>
                                    <div>Pricing from <b>&#x20B9;350/Hr</b></div>
                                    <div class="text-center">
                                        <a class="btn btn-raised btn-info" href="#Request">Request Session</a>
                                    </div>
                                </div>
                            </article>
                        </section>
                        <div class="text-center">
                            <ul class="pagination pagination-sm">
                                <li class="disabled"><a href="javascript:void(0)">«</a></li>
                                <li class="active"><a href="javascript:void(0)">1</a></li>
                                <li><a href="javascript:void(0)">2</a></li>
                                <li><a href="javascript:void(0)">3</a></li>
                                <li><a href="javascript:void(0)">»</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="sc_line sc_line_style_solid margin_top_0 margin_bottom_0"></div>
            </section>
        </article>
    </div>
</div>
