<div class="page_content_wrap page_top_wrap sc_bg1">
    <section class="container mt">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3>My Wallet</h3>
                    <small>View wallet details</small>
                </div>
                <div class="panel-body pv0">
                    <div class="row p-lg">
                        <button class="btn btn-info btn-raised" data-toggle="modal" data-target=".confirmPayment">Credit Wallet</button>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <th>Date</th>
                                <th>Detail</th>
                                <th>Debit/Credit</th>
                                <th>Amount(&#x20B9;)</th>
                            </thead>
                            <tr>
                                <td>20/03/2016</td>
                                <td>Activation credit</td>
                                <td>Credit</td>
                                <td>500</td>
                            </tr>
                            <tr>
                                <td>20/03/2016</td>
                                <td>Account credit via SIB (A/C XXXXXXXXXXXXX2356)</td>
                                <td>Credit</td>
                                <td>5000</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="modal fade confirmPayment" id="confirmDialog" tabindex="-1" role="dialog" aria-labelledby="confirmDialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body text-center">
                <!-- form code -->
                <div id="div_id">
                    <form id="frmid" method="post" name="form1" action="https://sandbox.citruspay.com/sslperf/erudopayment">
                        <input type="hidden" id="merchantTxnId" name="merchantTxnId" value="" />
                        <input id="orderAmount" name="orderAmount" class="form-control" type="text" value="1" readonly />
                        <input type="hidden" id="currency" name="currency" value="INR" />
                        <input id="returnUrl" type="hidden" name="returnUrl" />
                        <input type="hidden" id="secSignature" name="secSignature" value="" />
                        <button type="sbmit" class="btn btn-primary btn-raised">Make Payment</button>
                    </form>
                </div>
                <!-- end of  form code -->
            </div>
        </div>
    </div>
</div>
