<div class="page_content_wrap page_top_wrap sc_bg1">
    <section class="container mt">
        <div class="col-sm-3 p0">
            <div class="panel text-center ph0 pv">
                <!-- Student info Edit -->
                <div class="p">
                    <form class="form-horizontal p-lg profileForm">
                        <div>
                            <div style="background-image:url(images/user/02.jpg)" class="img-fluid center-block img98 img-bg">
                            </div>  
                            <div class="form-group file-upload">
                                <input type="file">
                                <div class="input-group">
                                    <input type="text" readonly="" class="form-control" placeholder="Change profile picture">
                                    <span class="input-group-btn input-group-sm">
                                                <button type="button" class="btn btn-fab btn-fab-mini">
                                                    
                                                        <i class="fa fa-file-image-o"></i>
                                                
                                                </button>
                                            </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">First Name</label>
                                    <input type="text" value="John" autocomplete="off" required="required" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Last Name</label>
                                    <input type="text" value="Doe" autocomplete="off" required="required" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row currentStatus">
                            <ul class="list-inline course-wiggets">
                                <li class="c-widget">
                                    <b class="course-count">10</b>
                                    <span class="course-text">Active</span>
                                </li>
                                <li class="c-widget">
                                    <b class="course-count">10</b>
                                    <span class="course-text">Completed</span>
                                </li>
                            </ul>
                            <dl class="pv mb0">
                                <dd>
                                    <input type="hidden" class="rating" data-filled="fa fa-trophy fa-2x rated" data-stop="2" value="2" data-readonly/>
                                </dd>
                                <dd>Grow your balance by sharing</dd>
                                <dd>
                                    <button type="submit" class="btn  facebook-icon">
                                        <i class="fa fa-facebook"></i>
                                    </button>
                                    <button type="submit" class="btn  google-icon">
                                        <i class="fa fa-google"></i>
                                    </button>
                                </dd>
                            </dl>
                        </div>
                        <div class="row currentStatus mb">
                            <div class="col-md-12">
                                <a class="text-primary  enable-edit pointer">Update Profile</a>
                            </div>
                            <div class="col-md-12">
                                <a class="text-primary pointer" data-toggle="modal" data-target="#newClass">Change Password</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">City</label>
                            <input type="text" value="Delhi" autocomplete="off" required="required" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Phone</label>
                            <input type="text" value="+91 245 236 6895" autocomplete="off" required="required" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Email</label>
                            <input type="email" value="example@domain.com" autocomplete="off" required="required" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Class</label>
                            <select class="form-control">
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                                <option>B.Sc</option>
                                <option>Diploma</option>
                                <option>Engineering</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Stream/Syllabus</label>
                            <select class="form-control">
                                <option value="1">CBSE</option>
                                <option value="2">ICSE</option>
                                <option value="3">State</option>
                                <option value="4">Mechanical Engineering</option>
                                <option value="5">Electrical Engineering</option>
                                <option value="6">Electronics and Communication Engineering</option>
                                <option>Computer Science</option>
                                <option>IT</option>
                            </select>
                        </div>
                        <div class="form-group text-center actionBtn">
                            <button type="submit" class="sc_button sc_button_style_filled cancelBtn">CANCEL</button>
                            <button type="submit" class="sc_button sc_button_style_filled updateBtn">SAVE</button>
                        </div>
                    </form>
                </div>
                <!-- Student info Edit -->
            </div>
        </div>
        <div class="col-sm-9">
            <div class="panel">
                <div class="panel-body">
                    <article class="row enrolled-course">
                        <h3><a href="#" class="text-info text-capitalize">Sequence and series</a> 
                        <label class="mb0">(Math)</label>
                       
                    </h3>
                        <dl class="col-sm-6 dashboard-list">
                            <dt><a href="">Sudhanshu Bhatia</a> </dt>
                            <dd>One to One Tution</dd>
                            <dt>Next Session</dt>
                            <dd>10/04/2016 18:30</dd>
                        </dl>
                    </article>
                    <article class="row enrolled-course">
                        <h3><a href="#" class="text-info text-capitalize">Sequence and series</a> 
                        <label class="mb0">(Math)</label>
                       
                    </h3>
                        <dl class="col-sm-6 dashboard-list">
                            <dt><a href="">Sudhanshu Bhatia</a> </dt>
                            <dd>One to One Tution</dd>
                            <dt>Next Session</dt>
                            <dd>10/04/2016 18:30</dd>
                        </dl>
                    </article>
                    <article class="row enrolled-course">
                        <h3><a href="#" class="text-info text-capitalize">Sequence and series</a> 
                        <label class="mb0">(Math)</label>
                       
                    </h3>
                        <dl class="col-sm-6 dashboard-list">
                            <dt><a href="">Sudhanshu Bhatia</a> </dt>
                            <dd>One to One Tution</dd>
                            <dt>Next Session</dt>
                            <dd>10/04/2016 18:30</dd>
                        </dl>
                    </article>
                    <article class="row enrolled-course">
                        <h3><a href="#" class="text-info text-capitalize">Sequence and series</a> 
                        <label class="mb0">(Math)</label>
                       
                    </h3>
                        <dl class="col-sm-6 dashboard-list">
                            <dt><a href="">Sudhanshu Bhatia</a> </dt>
                            <dd>One to One Tution</dd>
                            <dt>Next Session</dt>
                            <dd>10/04/2016 18:30</dd>
                        </dl>
                    </article>
                    <article class="row enrolled-course">
                        <h3><a href="#" class="text-info text-capitalize">Sequence and series</a> 
                        <label class="mb0">(Math)</label>
                       
                    </h3>
                        <dl class="col-sm-6 dashboard-list">
                            <dt><a href="">Sudhanshu Bhatia</a> </dt>
                            <dd>One to One Tution</dd>
                            <dt>Next Session</dt>
                            <dd>10/04/2016 18:30</dd>
                        </dl>
                    </article>
                    <article class="row enrolled-course">
                        <h3><a href="#" class="text-info text-capitalize">Sequence and series</a> 
                        <label class="mb0">(Math)</label>
                       
                    </h3>
                        <dl class="col-sm-6 dashboard-list">
                            <dt><a href="">Sudhanshu Bhatia</a> </dt>
                            <dd>One to One Tution</dd>
                            <dt>Next Session</dt>
                            <dd>10/04/2016 18:30</dd>
                        </dl>
                    </article>
                    <div class="text-center">
                        <ul class="pagination pagination-sm">
                            <li class="disabled"><a href="javascript:void(0)">«</a></li>
                            <li class="active"><a href="javascript:void(0)">1</a></li>
                            <li><a href="javascript:void(0)">2</a></li>
                            <li><a href="javascript:void(0)">3</a></li>
                            <li><a href="javascript:void(0)">»</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="newClass">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Change password</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label" for="cpass">Current Password</label>
                    <input type="text" class="form-control open" id="cpass" placeholder="Current Password" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="npass">New Password</label>
                    <input type="text" class="form-control open" id="npass" placeholder="New Password" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="rpass">Repeat Password</label>
                    <input type="text" class="form-control open" id="rpass" placeholder="Repeat Password" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-info btn-raised add">SAVE</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<script type="text/javascript">
var inputs = $('.form-control:not(.open),.actionBtn'),
    formCtrl = $('.profileForm').find('.form-control:not(.tags),.form-control:not(.tags).bootstrap-tagsinput,.tag-help-block,.file-upload,.actionBtn');

function hideInputs() {
    $.each(inputs, function(i, o) {
        $(o).after($("<p>", {
            "text": $(o).is('select') ? getSelectText($(o)) : $(o).val(),
            "class": "form-control-static"
        })).hide();
    });
};


function getSelectText($el) {
    if (typeof $el.val() === 'object') {
        return $el.val().join(',');
    }
    return $el.val();
}

hideInputs();

$('a.enable-edit').click(function() {
    $('.form-control-static,.img98,.currentStatus').hide();
    formCtrl.fadeIn('300');
});

$('.cancelBtn,.updateBtn').on('click', function(e) {
    e.preventDefault();
    formCtrl.hide('300');
    inputs.hide('300');
    $('.form-control-static,.img98,.currentStatus').show('300');
});
</script>
