<div class="page_content_wrap page_top_wrap sc_bg1">
    <section class="container mt">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-body">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </section>
</div>
<script type="text/javascript">
$('#calendar').fullCalendar({


    events: [{
        title: "Class1",
        start: "06-25-2016"
    }],
    eventClick: function(calEvent, jsEvent, view) {
      window.location.href = '#startClass'
    }
});
</script>
