<div class="page_content_wrap page_top_wrap sc_bg1">
    <section class="container mt">
        <div class="col-sm-12 center-block">
            <div class="panel">
                <div class="panel-heading">
                    <h3>Approve feedbacks</h3>
                    <small>Approve or deny feedback</small>
                </div>
                <div class="panel-body pv0">
                    <div class="col-md-12 p-lg">
                        <h2 class="text-center"> Pending Approovals</h2>
                        <div class="row-fluid">
                            <div class="feedback-wrap">
                                <article class="course-review">
                                    <div>
                                        <img alt="" class="avatar avatar-60 photo pull-left mr-sm img-circle" src="images/default-profile.jpg" height="60" width="60" />
                                        <div class="reviewd-user">
                                            <strong>TRX_admin</strong>
                                            <time>February 16, 2015</time>
                                            <div>
                                                <input type="hidden" class="rating" data-filled="fa fa-star rated" data-empty="fa fa-star" value="2" data-readonly/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-justify">
                                        <p>Mauris non rhoncus mauris, ut porta nunc. Nullam tincidunt tempus ligula, a dapibus massa ullamcorper et. Aliquam facilisis, massa in malesuada vehicula, odio mauris gravida sem, molestie imperdiet metus urna sit amet ex. Praesent egestas, nisi vel finibus finibus, dui nulla aliquam metus, sit amet lacinia diam justo sed mauris.</p>
                                    </div>
                                    <div class="text-right">
                                        <p><small>by</small> <span class="text-info">Varun</span> </p>
                                        <div>
                                            <button class="btn btn-info">Add to popular</button>
                                            <button class="btn btn-success">Approve</button>
                                            <button class="btn btn-danger">Decline</button>
                                        </div>
                                    </div>
                                </article>
                                <article class="course-review">
                                    <div>
                                        <img alt="" class="avatar avatar-60 photo pull-left mr-sm img-circle" src="images/default-profile.jpg" height="60" width="60" />
                                        <div class="reviewd-user">
                                            <strong>TRX_admin</strong>
                                            <time>February 16, 2015</time>
                                            <div>
                                                <input type="hidden" class="rating" data-filled="fa fa-star rated" data-empty="fa fa-star" value="2" data-readonly/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-justify">
                                        <p>Mauris non rhoncus mauris, ut porta nunc. Nullam tincidunt tempus ligula, a dapibus massa ullamcorper et. Aliquam facilisis, massa in malesuada vehicula, odio mauris gravida sem, molestie imperdiet metus urna sit amet ex. Praesent egestas, nisi vel finibus finibus, dui nulla aliquam metus, sit amet lacinia diam justo sed mauris.</p>
                                    </div>
                                    <div class="text-right">
                                        <p><small>by</small> <span class="text-info">Varun</span> </p>
                                        <div>
                                            <button class="btn btn-info">Remove from popular</button>
                                            <button class="btn btn-danger">Decline</button>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="row-fluid text-right">
                                <ul class="pagination pagination-sm">
                                    <li class="disabled"><a href="javascript:void(0)">«</a></li>
                                    <li class="active"><a href="javascript:void(0)">1</a></li>
                                    <li><a href="javascript:void(0)">2</a></li>
                                    <li><a href="javascript:void(0)">3</a></li>
                                    <li><a href="javascript:void(0)">»</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
