<div class="page_content_wrap page_top_wrap sc_bg1">
    <section class="container mt">
        <div class="col-sm-9 center-block">
            <div class="panel">
                <div class="panel-heading">
                    <h3>Courses</h3>
                    <small>View and manage courses</small>
                </div>
                <div class="panel-body pv0">
                    <div class="row mt">
                        <div class="col-sm-12 col-xs-12 center-block">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#main" aria-controls="home" role="tab" data-toggle="tab">Course</a></li>
                                <li role="presentation"><a href="#archive" aria-controls="profile" role="tab" data-toggle="tab">Archives</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade active in" id="main">
                                    <div class="row p-lg">
                                        <div class="pull-left">
                                            <div class="button-group">
                                                <button class="btn btn-info btn-raised" href="#edit" aria-controls="home" role="tab" data-toggle="tab">Edit</button>
                                                <button class="btn btn-info btn-raised">Delete</button>
                                                <!-- <button class="btn btn-info btn-raised">Disable/Activate</button> -->
                                            </div>
                                        </div>
                                        <div class="pull-right pr">
                                            <div class="form-group has-feedback">
                                                <input type="text" placeholder="Search" required="required" class="form-control open" />
                                                <a class="glyphicon glyphicon-search form-control-feedback text-muted search" href=""></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-hover table-bordered">
                                            <thead>
                                                <th>
                                                    <span class="checkbox">
                                                    <label class="checkbox">
                                                        <input type="checkbox" id="bulkSelect">
                                                    </label>
                                                </span>
                                                </th>
                                                <th>Course Name</th>
                                                <th>Fee Per Hr</th>
                                                <th>Seats Occupied</th>
                                                <th>Tutors</th>
                                                <th>Acivate Status</th>
                                            </thead>
                                            <tr>
                                                <td>
                                                    <span class="checkbox">
                                                <label class="checkbox">
                                                    <input type="checkbox" >
                                                </label>
                                            </span>
                                                </td>
                                                <td>P Block Elements (One To One)</td>
                                                <td><i class="fa fa-inr"></i> <b>200</b></td>
                                                <td><span class="text-primary">3</span>/<span class="text-info">10</span></td>
                                                <td>
                                                    <span>Aman Guptha</span>
                                                    <span>Ashokh Rawat</span>
                                                    <span>Mukesh Kandpal</span>
                                                </td>
                                                <td>
                                                    <div class="togglebutton text-center">
                                                        <label>
                                                            <input type="checkbox" checked>
                                                        </label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="checkbox">
                                            <label class="checkbox">
                                                <input type="checkbox" >
                                            </label>
                                        </span>
                                                </td>
                                                <td>P Block Elements (One To One)</td>
                                                <td><i class="fa fa-inr"></i> <b>200</b></td>
                                                <td><span class="text-primary">3</span>/<span class="text-info">10</span></td>
                                                <td>
                                                    <span>Aman Guptha</span>
                                                    <span>Ashokh Rawat</span>
                                                    <span>Mukesh Kandpal</span>
                                                </td>
                                                <td>
                                                    <div class="togglebutton text-center">
                                                        <label>
                                                            <input type="checkbox" checked>
                                                        </label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="checkbox">
                                        <label class="checkbox">
                                            <input type="checkbox" >
                                        </label>
                                    </span>
                                                </td>
                                                <td>P Block Elements (One To One)</td>
                                                <td><i class="fa fa-inr"></i> <b>200</b></td>
                                                <td><span class="text-primary">3</span>/<span class="text-info">10</span></td>
                                                <td>
                                                    <span>Aman Guptha</span>
                                                    <span>Ashokh Rawat</span>
                                                    <span>Mukesh Kandpal</span>
                                                </td>
                                                <td>
                                                    <div class="togglebutton text-center">
                                                        <label>
                                                            <input type="checkbox" checked>
                                                        </label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="checkbox">
                                    <label class="checkbox">
                                        <input type="checkbox" >
                                    </label>
                                </span>
                                                </td>
                                                <td>P Block Elements (One To One)</td>
                                                <td><i class="fa fa-inr"></i> <b>200</b></td>
                                                <td><span class="text-primary">3</span>/<span class="text-info">10</span></td>
                                                <td>
                                                    <span>Aman Guptha</span>
                                                    <span>Ashokh Rawat</span>
                                                    <span>Mukesh Kandpal</span>
                                                </td>
                                                <td>
                                                    <div class="togglebutton text-center">
                                                        <label>
                                                            <input type="checkbox" checked>
                                                        </label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr class="text-right">
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="row-fluid text-right">
                                        <ul class="pagination pagination-sm">
                                            <li class="disabled"><a href="javascript:void(0)">«</a></li>
                                            <li class="active"><a href="javascript:void(0)">1</a></li>
                                            <li><a href="javascript:void(0)">2</a></li>
                                            <li><a href="javascript:void(0)">3</a></li>
                                            <li><a href="javascript:void(0)">»</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="archive">
                                    <div class="alert alert-info mt alert-block">
                                        <b>No records found</b>
                                    </div>
                                    <div class="p-sm">
                                        <button class="btn btn-info btn-raised">Restore</button>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover">
                                            <thead>
                                                <th class="text-center">
                                                    <span class="checkbox">
                            <label class="checkbox">
                            <input type="checkbox" id="bulkSelecat"/>
                            </label>
                            </span>
                                                </th>
                                                <th>Course</th>
                                                <th>Active Status</th>
                                            </thead>
                                            <tr>
                                                <td class="text-center">
                                                    <span class="checkbox">
                            <label class="checkbox">
                            <input type="checkbox" id="bulkSelecat"/>
                            </label>
                            </span>
                                                </td>
                                                <td>
                                                    <span class="editable"> P-block</span>
                                                </td>
                                                <td>
                                                    <span class="togglebutton text-center">
                      <label>
                        <input type="checkbox" checked> 
                      </label>
                    </span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane fade " id="edit">
                                    <form class="form-horizontal col-sm-6 center-block">
                                        <div id="block_container_course" class="form-group">
                                            <label class="control-label" for="course">Select Subject</label>
                                            <select id="course_id" title="" class="form-control" name="course_name">
                                                <option> Please Select a Subject</option>
                                            </select>
                                        </div>
                                        <div id="selecttopicdiv_id" class="form-group">
                                            <label class="control-label" for="topic">Topic</label>
                                            <select id="topic_id" title="" class="form-control" name="topic_name">
                                                <option>Please Select a Topic </option>
                                            </select>
                                        </div>
                                        <div id="selecttutordiv_id" class="form-group" id="selecttutordiv_id">
                                            <label class="control-label" for="topic">Tutor</label>
                                            <select id="tutor_id" title="" class="form-control" name="tutor_name">
                                                <option>Please Select a Tutor </option>
                                            </select>
                                        </div>
                                        <div id="smartclassid" class="form-group">
                                            <input readOnly type="hidden" id="smartclass_id" value="Smart Class" class="form-control open" pattern="\d+(.\d{2})?">
                                        </div>
                                        <div id="totalseats_div" class="form-group">
                                            <label class="control-label" for="totalseats">Total seats</label>
                                            <input readOnly type="text" id="totalseats" class="form-control open" value="1" pattern="\d+(.\d{2})?">
                                        </div>
                                        <div id="feeperhourdiv_id" class="form-group">
                                            <label class="control-label" for="feePerHr">Fee per hour</label>
                                            <input type="text" id="feePerHr" class="form-control open" placeholder="Course Fee" pattern="\d+(.\d{2})?">
                                        </div>
                                        <div id="startdatediv_id" class="form-group">
                                            <label class="control-label" for="sDate">Start Date</label>
                                            <input type="text" id="start_date" class="form-control open">
                                        </div>
                                        <div id="end_datediv_id" class="form-group">
                                            <label class="control-label" for="endDate">End Date</label>
                                            <input type="text" id="end_date" class="form-control open">
                                        </div>
                                        <div id="start_timediv_id" class="form-group">
                                            <label class="control-label" for="startTime">Start Time</label>
                                            <input type="text" id="start_time" class="form-control open">
                                        </div>
                                        <!-- <div  id="end_timediv_id" class="form-group">
                            <label class="control-label" for="endTime">End Time</label>
                            <input type="text" id="end_time" class="form-control open">
                        </div> -->
                                        <div id="durationdiv_id" class="form-group">
                                            <label class="control-label" for="duration">Duration</label>
                                            <select id="duration" title="" class="form-control" name="duration">
                                                <option>Please Select the duration </option>
                                            </select>
                                            <!-- <input type="text" id="duration" class="form-control open"> -->
                                        </div>
                                        <div id="workingdayslabel_id" class="form-group">Work Days</label>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" id="monday"> Mon
                                                </label>
                                                <label>
                                                    <input type="checkbox" id="tuesday"> Tue
                                                </label>
                                                <label>
                                                    <input type="checkbox" id="wednesday"> Wed
                                                </label>
                                                <label>
                                                    <input type="checkbox" id="thursday"> Thu
                                                </label>
                                                <label>
                                                    <input type="checkbox" id="friday"> Fri
                                                </label>
                                                <label>
                                                    <input type="checkbox" id="saturday"> Sat
                                                </label>
                                                <label>
                                                    <input type="checkbox" id="sunday"> Sun
                                                </label>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <button id="btnCreateCourse" class="btn btn-info btn-raised" type="button">Save</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</section>
</div>
