<div class="page_content_wrap page_top_wrap sc_bg1">
    <section class="container mt">
        <div class="col-sm-9 center-block">
            <div class="panel">
                <div class="panel-heading">
                    <h3>Duration</h3>
                    <small>View and manage Duration</small>
                </div>
                <div class="panel-body pv0">
                    <div class="row mt">
                        <div class="col-sm-12 col-xs-12 center-block">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#main" aria-controls="home" role="tab" data-toggle="tab">Durations</a></li>
                                <li role="presentation"><a href="#archive" aria-controls="profile" role="tab" data-toggle="tab">Archives</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade active in" id="main">
                                    <!-- Main -->
                                    <div class="row p">
                                        <div class="pull-left">
                                            <div class="button-group">
                                                <a  class="btn btn-raised btn-info" data-toggle="modal" data-target="#addNew">Add New </a>
                                                <button id="btnDeleteDur" class="btn btn-info btn-raised" data-toggle="modal" data-target="#confirmDialog" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i> </button>
                                                <button class="btn btn-info btn-raised" id="btnDisableDur">Disable</button>
                                                <button class="btn btn-info btn-raised" id="btnActivateDur">Activate</button>
                                                <button id="reloaddur" class="btn btn-info btn-raised"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                                            </div>
                                        </div>
                                        <div class="pull-right pr">
                                            <div class="form-group has-feedback" id="dur_div_id">
                                                <input type="text" id="durationsearch" placeholder="Search" required="required" class="form-control open" />
                                                <a class="glyphicon glyphicon-search form-control-feedback text-muted search" type="button" id="btnsearchDuration"> </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-hover table-bordered">
                                            <thead>
                                                <th class="text-center">
                                                    <span class="checkbox">
                            <label class="checkbox">
                            <input type="checkbox" id="bulkSelect"/>
                            </label>
                            </span>
                                                </th>
                                                <th>Duration</th>
                                                <th>Active Status</th>
                                            </thead>
                                            <tr>
                                                <td class="text-center">
                                                    <span class="checkbox">
                            <label class="checkbox">
                            <input type="checkbox" id="bulkSelecat"/>
                            </label>
                            </span>
                                                </td>
                                                <td id="">
                                                    10:00
                                                </td>
                                                <td>
                                                    <div class="togglebutton text-center">
                                                        <label>
                                                            <input name="activeToggleDuration" type="checkbox">
                                                        </label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">
                                                    <span class="checkbox">
                            <label class="checkbox">
                            <input type="checkbox" id="bulkSelecat"/>
                            </label>
                            </span>
                                                </td>
                                                <td id="">
                                                    10:00
                                                </td>
                                                <td>
                                                    <div class="togglebutton text-center">
                                                        <label>
                                                            <input name="activeToggleDuration" type="checkbox">
                                                        </label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">
                                                    <span class="checkbox">
                            <label class="checkbox">
                            <input type="checkbox" id="bulkSelecat"/>
                            </label>
                            </span>
                                                </td>
                                                <td id="">
                                                    10:00
                                                </td>
                                                <td>
                                                    <div class="togglebutton text-center">
                                                        <label>
                                                            <input name="activeToggleDuration" type="checkbox" />
                                                        </label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">
                                                    <span class="checkbox">
                            <label class="checkbox">
                            <input type="checkbox" id="bulkSelecat"/>
                            </label>
                            </span>
                                                </td>
                                                <td id="">
                                                    10:00
                                                </td>
                                                <td>
                                                    <div class="togglebutton text-center">
                                                        <label>
                                                            <input name="activeToggleDuration" type="checkbox">
                                                        </label>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="text-center">
                                        <ul class="pagination pagination-sm">
                                            <li class="disabled"><a href="javascript:void(0)">«</a></li>
                                            <li class="active"><a href="javascript:void(0)">1</a></li>
                                            <li><a href="javascript:void(0)">2</a></li>
                                            <li><a href="javascript:void(0)">3</a></li>
                                            <li><a href="javascript:void(0)">»</a></li>
                                        </ul>
                                    </div>
                                    <!-- Main -->
                                </div>
                                <div class="tab-pane fade" id="archive">
                                    <!-- archieve -->
                                    <div class="alert alert-info mt alert-block">
                                        <b>No records found</b>
                                    </div>
                                    <div class="p-sm">
                                        <button class="btn btn-info btn-raised">Restore</button>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-hover table-bordered">
                                            <thead>
                                                <th class="text-center">
                                                    <span class="checkbox">
                            <label class="checkbox">
                            <input type="checkbox" id="bulkSelect"/>
                            </label>
                            </span>
                                                </th>
                                                <th>Duration</th>
                                            </thead>
                                            <tr>
                                                <td class="text-center">
                                                    <span class="checkbox">
                            <label class="checkbox">
                            <input type="checkbox" id="bulkSelecat"/>
                            </label>
                            </span>
                                                </td>
                                                <td id="">
                                                    10:00
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">
                                                    <span class="checkbox">
                            <label class="checkbox">
                            <input type="checkbox" id="bulkSelecat"/>
                            </label>
                            </span>
                                                </td>
                                                <td id="">
                                                    10:00
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <!-- archieve -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</section>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="confirmDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirm Action</h4>
            </div>
            <div class="modal-body">
                <p>You are about to delete something permanently which can't be undone. Are you sure?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger btn-raised delete">Delete</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="addNew">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add new duration</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label" for="class">Duration</label>
                    <input type="text" class="form-control open" id="duration" placeholder="Choose time" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-info btn-raised add">ADD</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<script type="text/javascript">
$('#duration').datetimepicker({
    stepping: 30,
    format: 'HH:mm'
});
</script>
