<div class="page_content_wrap page_top_wrap sc_bg1">
    <section class="container mt">
        <div class="col-sm-9 center-block">
            <div class="panel">
                <div class="panel-heading">
                    <h3>Classes</h3>
                    <small>View and manage classes</small>
                </div>
                <div class="panel-body pv0">
                    <div class="row mt">
                        <div class="col-sm-12 col-xs-12 center-block">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#main" aria-controls="home" role="tab" data-toggle="tab">Classes</a></li>
                                <li role="presentation"><a href="#archive" aria-controls="profile" role="tab" data-toggle="tab">Archives</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade active in" id="main">
                                    <div class="row p-lg">
                                        <div class="pull-left">
                                            <button class="btn btn-raised btn-info" data-toggle="modal" data-target="#newClass">Add New</button>
                                        </div>
                                        <div class="pull-right pr">
                                            <div class="form-group has-feedback" id="crs_div_id">
                                                <input type="text" id="searchCourse" placeholder="Search" required="required" class="form-control open" />
                                                <a class="glyphicon glyphicon-search form-control-feedback text-muted search" type="button" id="btnsearchcourse"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover">
                                            <thead>
                                                <th>Class</th>
                                                <th>Active Status</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </thead>
                                            <tr>
                                                <td>
                                                    <span class="editable"> 8th Std</span>
                                                </td>
                                                <td>
                                                    <span class="togglebutton text-center">
                      <label>
                        <input type="checkbox" checked> 
                      </label>
                    </span>
                                                </td>
                                                <td> <a href="" class="text-info"><i class="fa fa-pencil"></i></a></td>
                                                <td><a href="" class="text-danger"><i class="fa fa-trash"></i></a></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="text-center">
                                        <ul class="pagination pagination-sm">
                                            <li class="disabled"><a href="javascript:void(0)">«</a></li>
                                            <li class="active"><a href="javascript:void(0)">1</a></li>
                                            <li><a href="javascript:void(0)">2</a></li>
                                            <li><a href="javascript:void(0)">3</a></li>
                                            <li><a href="javascript:void(0)">»</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="archive">
                                    <div class="alert alert-info mt alert-block">
                                        <b>No records found</b>
                                    </div>
                                    <div class="p-sm">
                                        <button class="btn btn-info btn-raised">Restore</button>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover">
                                            <thead>
                                                <th class="text-center">
                                                    <span class="checkbox">
                            <label class="checkbox">
                            <input type="checkbox" id="bulkSelecat"/>
                            </label>
                            </span>
                                                </th>
                                                <th>Class</th>
                                                <th>Active Status</th>
                                            </thead>
                                            <tr>
                                                <td class="text-center">
                                                    <span class="checkbox">
                            <label class="checkbox">
                            <input type="checkbox" id="bulkSelecat"/>
                            </label>
                            </span>
                                                </td>
                                                <td>
                                                    <span class="editable"> 8th Std</span>
                                                </td>
                                                <td>
                                                    <span class="togglebutton text-center">
                      <label>
                        <input type="checkbox" checked> 
                      </label>
                    </span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</section>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="confirmDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirm Action</h4>
            </div>
            <div class="modal-body">
                <p>You are about to delete something permanently which can't be undone. Are you sure?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger btn-raised delete">Delete</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="newClass">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add new class</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label" for="class">Class</label>
                    <input type="text" class="form-control open" id="class" placeholder="Class name" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-info btn-raised add">ADD</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="editClass">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit class</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label" for="class">Class</label>
                    <input type="text" class="form-control open" id="class" placeholder="Class" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-info btn-raised update">Update</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<script type="text/javascript">
var row;
// Delete clicked
$('.fa-trash').on('click', function(e) {
    e.preventDefault();
    row = $(this).parents('tr');
    $('div#confirmDialog').modal('show');
});
// Delete confirmed
$('button.delete').on('click', function() {
    $(row).fadeOut('slow');
    $('div#confirmDialog').modal('hide');
});

// Edit data
$('.fa-pencil').on('click', function(e) {
    e.preventDefault();
    row = $(this).parents('tr');
    $('input#className').val(row.find('span').text().trim());
    $('div#editClass').modal('show');
});

$('button.update').on('click', function() {
    $('div#editClass').modal('hide');
});
// Save edited data
function saveData(el) {
    row = $(el).parent();
    row.find('h4').text(row.find('input.form-control').first().val()).show();
    row.find('input,button').hide();
    row.find('div.pull-right').show();
}
</script>
