<div class="page_content_wrap page_top_wrap sc_bg1">
    <section class="container mt">
        <div class="col-sm-4 center-block panel p-lg">
            <form role="form" novalidate="" class="form-horizontal p-lg">
                <div class="form-group " id="firstnamediv_id">
                    <input type="text" autocomplete="off" required="required" style="text-transform: capitalize;" required pattern="(\s(?=\w))*\w.*" class="form-control" placeholder="First name" id="firstname" value="" />
                </div>
                <div class="form-group ">
                    <input type="text" autocomplete="off" required="required" style="text-transform: capitalize;" required pattern="(\s(?=\w))*\w.*" class="form-control" placeholder="Last name" id="lastname" value="" />
                </div>
                <div class="form-group" id="Emaildiv_id">
                    <input type="email" placeholder="Enter email" autocomplete="off" required="required" class="form-control" id="Email" value="" />
                </div>
                <div class="form-group" id="Passworddiv_id">
                    <input type="password" minlength="8" placeholder="Password" autocomplete="off" required="required" class="form-control" id="PasswordFld" />
                </div>
                <div class="form-group" id="Cpass_div_id">
                    <input type="password" minlength="8" placeholder="Confirm Password" autocomplete="off" required="required" class="form-control" id="CPassword" />
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Place" autocomplete="off" required="required" class="form-control" id="place" value="" />
                </div>
                <div class="form-group" id="syllabusdiv_id">
                    <select id="syllabus_box" title="" name="syllabus_name" class="form-control"> >
                        <option>Select Syllabus</option>
                    </select>
                </div>
                <div class="form-group" id="gradediv_id">
                    <select id="grade_box" name="grade_name" title="" class="form-control">
                        <option>Select Grade</option>
                    </select>
                </div>
                <div class="form-group" id="mobilediv_id">
                    <input type="text" placeholder="Phone" autocomplete="off" required="required" class="form-control" maxlength="10" runat="server" onkeypress="javascript:return isNumber (event)" id="mobile" value="" />
                </div>
                <div class="form-group">
                    <button type="button" id="btnSubmitstudent" class="btn sc_button sc_button_style_filled btn-block">ADD STUDENT</button>
                </div>
                
            </form>
        </div>
</div>
</section>
</div>
