<div class="page_content_wrap page_top_wrap sc_bg1">
    <section class="container mt">
        <div class="col-sm-12 center-block">
            <div class="panel">
                <div class="panel-heading">
                    <h3>Subject</h3>
                    <small>View and manage Subject</small>
                </div>
                <div class="panel-body pv0">
                    <div class="row mt">
                        <div class="col-sm-12 col-xs-12 center-block">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#main" aria-controls="home" role="tab" data-toggle="tab">Subjects</a></li>
                                <li role="presentation"><a href="#archive" aria-controls="profile" role="tab" data-toggle="tab">Archives</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade active in" id="main">
                                    <!-- Main -->
                                    <div class="row p-lg">
                                        <div class="pull-left">
                                            <div class="button-group">
                                                <a data-toggle="modal" data-target="#addNew" class="btn btn-info btn-raised">Add Subject</a>
                                                <!-- <button class="btn btn-info btn-raised" id="btnDeleteCourse"  >Delete</button>
                                            <button class="btn btn-info btn-raised"  id="btnDisableCourse">Disable</button>
                                            <button class="btn btn-info btn-raised"  id="btnActivateCourse">Activate</button>
                                            <button id="reloadcourse" ><i class="fa fa-refresh" aria-hidden="true"></i></button> -->
                                                <button id="btnDeleteCourse" class="btn btn-info btn-raised" d title="Delete" data-toggle="modal" data-target="#confirmDialog"><i class="fa fa-trash" aria-hidden="true"></i> </button>
                                                <button class="btn btn-info btn-raised" id="btnDisableCourse">Disable</button>
                                                <button class="btn btn-info btn-raised" id="btnActivateCourse">Activate</button>
                                                <button id="reloadcourse" class="btn btn-info btn-raised"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                                            </div>
                                        </div>
                                        <div class="pull-right pr">
                                            <div class="form-group has-feedback" id="crs_div_id">
                                                <input type="text" id="searchCourse" placeholder="Search By subject" required="required" class="form-control open" />
                                                <a class="glyphicon glyphicon-search form-control-feedback text-muted search" type="button" id="btnsearchcourse"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-hover table-bordered">
                                            <thead>
                                                <th class="text-center">
                                                    <span class="checkbox">
                                                            <label class="checkbox">
                                                            <input type="checkbox" id="bulkSelect">
                                                            </label>
                                                    </span>
                                                </th>
                                                <th>Subject Name</th>
                                                <th>Fee Per Hr</th>
                                                <th>Acivate Status</th>
                                            </thead>
                                            <tr>
                                                <td class="text-center">
                                                    <span class="checkbox">
                            <label class="checkbox">
                            <input type="checkbox" id="bulkSelecat"/>
                            </label>
                            </span>
                                                </td>
                                                <td>
                                                    math
                                                </td>
                                                <td>
                                                    12
                                                </td>
                                                <td>
                                                    <div class="togglebutton text-center">
                                                        <label>
                                                            <input name="activeToggleSubject" type="checkbox">
                                                        </label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">
                                                    <span class="checkbox">
                            <label class="checkbox">
                            <input type="checkbox" id="bulkSelecat"/>
                            </label>
                            </span>
                                                </td>
                                                <td id="">
                                                    English
                                                </td>
                                                <td>320</td>
                                                <td>
                                                    <div class="togglebutton text-center">
                                                        <label>
                                                            <input name="activeToggleSubject" type="checkbox" />
                                                        </label>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="text-center">
                                        <ul class="pagination pagination-sm">
                                            <li class="disabled"><a href="javascript:void(0)">«</a></li>
                                            <li class="active"><a href="javascript:void(0)">1</a></li>
                                            <li><a href="javascript:void(0)">2</a></li>
                                            <li><a href="javascript:void(0)">3</a></li>
                                            <li><a href="javascript:void(0)">»</a></li>
                                        </ul>
                                    </div>
                                    <!-- Main -->
                                </div>
                                <div class="tab-pane fade" id="archive">
                                    <!-- archieve -->
                                    <div class="alert alert-info mt alert-block">
                                        <b>No records found</b>
                                    </div>
                                    <div class="p-sm">
                                        <button class="btn btn-info btn-raised">Restore</button>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-hover table-bordered">
                                            <thead>
                                                <th class="text-center">
                                                    <span class="checkbox">
                                                            <label class="checkbox">
                                                            <input type="checkbox" id="bulkSelect">
                                                            </label>
                                                    </span>
                                                </th>
                                                <th>Subject Name</th>
                                                <th>Fee Per Hr</th>
                                                <th>Acivate Status</th>
                                            </thead>
                                            <tr>
                                                <td class="text-center">
                                                    <span class="checkbox">
                            <label class="checkbox">
                            <input type="checkbox" id="bulkSelecat"/>
                            </label>
                            </span>
                                                </td>
                                                <td>
                                                    math
                                                </td>
                                                <td>
                                                    12
                                                </td>
                                                <td>
                                                    <div class="togglebutton text-center">
                                                        <label>
                                                            <input name="activeToggleSubject" type="checkbox">
                                                        </label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">
                                                    <span class="checkbox">
                            <label class="checkbox">
                            <input type="checkbox" id="bulkSelecat"/>
                            </label>
                            </span>
                                                </td>
                                                <td id="">
                                                    English
                                                </td>
                                                <td>320</td>
                                                <td>
                                                    <div class="togglebutton text-center">
                                                        <label>
                                                            <input name="activeToggleSubject" type="checkbox" />
                                                        </label>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <!-- archieve -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</section>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="confirmDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirm Action</h4>
            </div>
            <div class="modal-body">
                <p>You are about to delete something permanently which can't be undone. Are you sure?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger btn-raised delete">Delete</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="addNew">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add new Subject</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label" for="class">Subject</label>
                    <input type="text" class="form-control open" id="Subject" placeholder="Subject Name" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="class">Fee</label>
                    <input type="text" class="form-control open" id="Subject" placeholder="Subject fee" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-info btn-raised add">ADD</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
