<div class="page_content_wrap page_top_wrap sc_bg1">
    <section class="container mt">
        <div class="col-sm-9 center-block">
            <div class="panel">
                <div class="panel-heading">
                    <h3>Duration</h3>
                    <small>View and manage Duration</small>
                </div>
                <div class="panel-body pv0">
                    <div class="row mt">
                        <div class="col-sm-12 col-xs-12 center-block">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#main" aria-controls="home" role="tab" data-toggle="tab">Durations</a></li>
                                <li role="presentation"><a href="#archive" aria-controls="profile" role="tab" data-toggle="tab">Archives</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade active in" id="main"> Repeat once
                                </div>
                                <div class="tab-pane fade" id="archive"> Repeat 2
                                </div>
                            </div>
                            <div class="text-center">
                                <ul class="pagination pagination-sm">
                                    <li class="disabled"><a href="javascript:void(0)">«</a></li>
                                    <li class="active"><a href="javascript:void(0)">1</a></li>
                                    <li><a href="javascript:void(0)">2</a></li>
                                    <li><a href="javascript:void(0)">3</a></li>
                                    <li><a href="javascript:void(0)">»</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</section>
</div>
