<div class="page_content_wrap page_top_wrap sc_bg1">
    <section class="container mt">
        <div class="col-sm-12 center-block">
            <div class="panel">
                <div class="panel-heading">
                    <h3>Add Testimonials</h3>
                </div>
                <div class="panel-body pv0">
                    <div class="row mt">
                        <form class="form-horizontal col-sm-4 center-block">
                            <div class="form-group ph-lg">
                                <label class="control-label" for="title">Name</label>
                                <input type="text" id="title" class="form-control open">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Image</label>
                                <input type="file">
                                <div class="input-group">
                                    <input type="text" readonly="" class="form-control" placeholder="Upload image">
                                    <span class="input-group-btn input-group-sm">
                                                <button type="button" class="btn btn-fab btn-fab-mini">          
                                                        <i class="fa fa-file-image-o"></i>
                                                </button>
                                            </span>
                                </div>
                            </div>
                            <div class="form-group ph-lg">
                                <label class="control-label" for="comment">Comment</label>
                                <textarea id="comment" class="form-control open"></textarea>
                            </div>
                            <div class="form-group text-center">
                                <button class="btn btn-raised btn-info">Add</button>
                            </div>
                        </form>
                    </div>
                    <hr>
                    <div class="col-md-12 p-lg">
                    <h2 class="text-center"> Testimonials</h2>
                        <article>
                            <div class="row text-center">
                            <a class="pull-right text-danger" href="javascript:void(0)"><i class="fa fa-trash"></i></a>
                                <img alt="" class="avatar avatar-60 photo mr-sm img-circle" src="images/default-profile.jpg" height="60" width="60" />
                                <p>
                                    <strong>Alif Khureshi</strong>
                                </p>
                            </div>
                            <div class="text-justify">
                                <p>Mauris non rhoncus mauris, ut porta nunc. Nullam tincidunt tempus ligula, a dapibus massa ullamcorper et. Aliquam facilisis, massa in malesuada vehicula, odio mauris gravida sem, molestie imperdiet metus urna sit amet ex. Praesent egestas, nisi vel finibus finibus, dui nulla aliquam metus, sit amet lacinia diam justo sed mauris.</p>
                            </div>
                        </article>
                        <article>
                            <div class="row text-center">
                            <a class="pull-right text-danger" href="javascript:void(0)"><i class="fa fa-trash"></i></a>
                                <img alt="" class="avatar avatar-60 photo mr-sm img-circle" src="images/default-profile.jpg" height="60" width="60" />
                                <p>
                                    <strong>Alif Khureshi</strong>
                                </p>
                            </div>
                            <div class="text-justify">
                                <p>Mauris non rhoncus mauris, ut porta nunc. Nullam tincidunt tempus ligula, a dapibus massa ullamcorper et. Aliquam facilisis, massa in malesuada vehicula, odio mauris gravida sem, molestie imperdiet metus urna sit amet ex. Praesent egestas, nisi vel finibus finibus, dui nulla aliquam metus, sit amet lacinia diam justo sed mauris.</p>
                            </div>
                        </article>
                        <article>
                            <div class="row text-center">
                            <a class="pull-right text-danger" href="javascript:void(0)"><i class="fa fa-trash"></i></a>
                                <img alt="" class="avatar avatar-60 photo mr-sm img-circle" src="images/default-profile.jpg" height="60" width="60" />
                                <p>
                                    <strong>Alif Khureshi</strong>
                                </p>
                            </div>
                            <div class="text-justify">
                                <p>Mauris non rhoncus mauris, ut porta nunc. Nullam tincidunt tempus ligula, a dapibus massa ullamcorper et. Aliquam facilisis, massa in malesuada vehicula, odio mauris gravida sem, molestie imperdiet metus urna sit amet ex. Praesent egestas, nisi vel finibus finibus, dui nulla aliquam metus, sit amet lacinia diam justo sed mauris.</p>
                            </div>
                        </article>
                        <article>
                            <div class="row text-center">
                            <a class="pull-right text-danger" href="javascript:void(0)"><i class="fa fa-trash"></i></a>
                                <img alt="" class="avatar avatar-60 photo mr-sm img-circle" src="images/default-profile.jpg" height="60" width="60" />
                                <p>
                                    <strong>Alif Khureshi</strong>
                                </p>
                            </div>
                            <div class="text-justify">
                                <p>Mauris non rhoncus mauris, ut porta nunc. Nullam tincidunt tempus ligula, a dapibus massa ullamcorper et. Aliquam facilisis, massa in malesuada vehicula, odio mauris gravida sem, molestie imperdiet metus urna sit amet ex. Praesent egestas, nisi vel finibus finibus, dui nulla aliquam metus, sit amet lacinia diam justo sed mauris.</p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
