<div class="page_content_wrap page_top_wrap sc_bg1">
    <section class="container mt">
        <div class="col-sm-12 center-block">
            <div class="panel">
                <div class="panel-heading">
                    <h3>Topics</h3>
                    <small>Add or edit topics</small>
                </div>
                <div class="panel-body pv0">
                    <div class="row mt">
                        <div class="col-sm-12 col-xs-12 center-block">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#main" aria-controls="home" role="tab" data-toggle="tab">Topics</a></li>
                                <li role="presentation"><a href="#archive" aria-controls="profile" role="tab" data-toggle="tab">Archives</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade active in" id="main">
                                    <!-- Main -->
                                    <div class="row p-lg">
                                        <div class="pull-left">
                                            <button class="btn btn-raised btn-info" data-toggle="modal" data-target="#newTopic">Add New</button>
                                        </div>
                                        <div class="pull-right pr">
                                            <div class="form-group has-feedback" id="crs_div_id">
                                                <input type="text" id="searchCourse" placeholder="Search" required="required" class="form-control open" />
                                                <a class="glyphicon glyphicon-search form-control-feedback text-muted search" type="button" id="btnsearchcourse"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover">
                                            <thead>
                                                <th>Topic</th>
                                                <th>Subject</th>
                                                <th>Grade</th>
                                                <th>Active Status</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </thead>
                                            <tr>
                                                <td>
                                                    <span class="topic">Sequence and series</span>
                                                </td>
                                                <td>Subject</td>
                                                <td>
                                                    <span class="grade"> 8th Std</span>
                                                </td>
                                                <td>
                                                    <span class="togglebutton text-center">
                      <label>
                        <input type="checkbox" checked> 
                      </label>
                    </span>
                                                </td>
                                                <td> <a class="text-info"><i class="fa fa-pencil" data-toggle="modal" data-target="#newTopic"></i></a></td>
                                                <td><a  class="text-danger"><i class="fa fa-trash" data-toggle="modal" data-target="#confirmDialog"></i></a></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="text-center">
                                        <ul class="pagination pagination-sm">
                                            <li class="disabled"><a href="javascript:void(0)">«</a></li>
                                            <li class="active"><a href="javascript:void(0)">1</a></li>
                                            <li><a href="javascript:void(0)">2</a></li>
                                            <li><a href="javascript:void(0)">3</a></li>
                                            <li><a href="javascript:void(0)">»</a></li>
                                        </ul>
                                    </div>
                                    <!-- Main -->
                                </div>
                                <div class="tab-pane fade" id="archive">
                                    <!-- archieve -->
                                    <div class="alert alert-info mt alert-block">
                                        <b>No records found</b>
                                    </div>
                                    <div class="p-sm">
                                        <button class="btn btn-info btn-raised">Restore</button>
                                    </div>
                                    <div class="table-responsive">
                                         <table class="table table-bordered table-hover">
                                            <thead>
                                               <th class="text-center">
                                                    <span class="checkbox">
                            <label class="checkbox">
                            <input type="checkbox" id="bulkSelecat"/>
                            </label>
                            </span>
                                                </th>
                                                <th>Topic</th>
                                                <th>Subject</th>
                                                <th>Grade</th>
                                            </thead>
                                            <tr>
                                               <td class="text-center">
                                                    <span class="checkbox">
                            <label class="checkbox">
                            <input type="checkbox" id="bulkSelecat"/>
                            </label>
                            </span>
                                                </td>
                                                <td>
                                                    <span class="topic">Sequence and series</span>
                                                </td>
                                                <td>Subject</td>
                                                <td>
                                                    <span class="grade"> 8th Std</span>
                                                </td>
                   
                                            
                                            </tr>
                                        </table>
                         
                                    </div>
                                    <!-- archieve -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</section>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="confirmDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirm Action</h4>
            </div>
            <div class="modal-body">
                <p>You are about to delete something permanently which can't be undone. Are you sure?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger btn-raised delete">Delete</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="newTopic">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add a topic</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label" for="grade">Subject</label>
                    <select class="form-control open" id="grade" placeholder="Choose subject">
                        <option>Math</option>
                        <option>Physics</option>
                        <option>10th English</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="class">Topic</label>
                    <input type="text" class="form-control open" id="topic" placeholder="Topic" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="grade">Grade</label>
                    <select class="form-control open" id="grade" placeholder="Choose grade">
                        <option>8th Std</option>
                        <option>9th Std</option>
                        <option>10th Std</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-info btn-raised add">ADD</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
