<div class="page_content_wrap page_top_wrap sc_bg1">
    <section class="container mt">
        <div class="col-sm-4 center-block panel p-lg">
            <form role="form" novalidate="" class="form-horizontal p-lg">
                <div class="form-group" id="firstnamediv_id">
                    <div class="controls">
                        <input type="text" id="firstname" name="fname" style="text-transform: capitalize;" placeholder="Your First Name" required="required" class="form-control" value="" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <input type="text" id="lastname" name="lname" style="text-transform: capitalize;" placeholder="Last Name" required="required" class="form-control" value="" />
                    </div>
                </div>
                <div class="form-group has-feedback" id="qualificationdiv_id">
                    <input type="text" id="qualification" name="cnum" placeholder="Highest Qualification" required="required" class="form-control" value="" />
                    <span class="glyphicon glyphicon-education form-control-feedback text-muted"></span>
                </div>
                <div class="form-group has-feedback" id="Emaildiv_id">
                    <input type="email" id="Email" placeholder="Email" required="required" class="form-control" value="" />
                    <span class="glyphicon glyphicon-envelope form-control-feedback text-muted"></span>
                </div>
                <div class="form-group has-feedback" id="Passworddiv_id">
                    <input type="password" id="PasswordFld" minlength="8" placeholder="Password" required="required" class="form-control" />
                </div>
                <div class="form-group has-feedback" id="Cpass_div_id">
                    <input type="password" id="CPassword" minlength="8" name="cnum" placeholder="Confirm Password" required="required" class="form-control" />
                </div>
                <div class="form-group" id="syllabus_boxdiv_id">
                    <select id="syllabus_box" title="" name="subject_name" class="form-control">
                        <option>Select Subject</option>
                    </select>
                </div>
                <div class="form-group has-feedback">
                    <input type="text" id="place" name="cnum" placeholder="Place" required="required" class="form-control" value="" />
                </div>
                <div class="form-group has-feedback" id="fee_per_hourdiv_id">
                    <input type="text" id="fee_per_hour" name="cnum" runat="server" onkeypress="javascript:return isNumber (event)" placeholder="Fee Per Hour" required="required" class="form-control" value="" />
                </div>
                <div class="form-group">
                    <input type="file">
                    <div class="input-group">
                        <input type="text" readonly="" class="form-control" placeholder="Upoload profile picture">
                        <span class="input-group-btn input-group-sm">
                                                <button type="button" class="btn btn-fab btn-fab-mini">
                                                    
                                                        <i class="fa fa-file-image-o"></i>
                                                
                                                </button>
                                            </span>
                    </div>
                </div>
                <div class="clearfix text-center">
                    <button type="button" id="btnSubmittutor" class="btn sc_button sc_button_style_filled btn-block">Add Tutor</button>
                </div>
            </form>
        </div>
</div>
</section>
</div>
