<div class="page_content_wrap page_top_wrap">
    <div class="content">
        <article class="post_item post_item_single page">
            <section class="post_content">
                <!-- Info section -->
                <div class="sc_section_overlay">
                    <div class="sc_section_content">
                        <div class="sc_content content_wrap margin_top_2_5em_imp margin_bottom_2_5em_imp">
                            <div class="row-fluid">
                                <div class="col-sm-4 center-block panel p-lg">
                                    <form role="form" novalidate="" class="form-horizontal p-lg">
                                        <div class="form-group " id="firstnamediv_id">
                                            <input type="text" autocomplete="off" required="required" style="text-transform: capitalize;" required pattern="(\s(?=\w))*\w.*" class="form-control" placeholder="First name" id="firstname" value="" />
                                        </div>
                                        <div class="form-group ">
                                            <input type="text" autocomplete="off" required="required" style="text-transform: capitalize;" required pattern="(\s(?=\w))*\w.*" class="form-control" placeholder="Last name" id="lastname" value="" />
                                        </div>
                                        <div class="form-group" id="Emaildiv_id">
                                            <input type="email" placeholder="Enter email" autocomplete="off" required="required" class="form-control" id="Email" value="" />
                                        </div>
                                        <div class="form-group" id="Passworddiv_id">
                                            <input type="password" minlength="8" placeholder="Password" autocomplete="off" required="required" class="form-control" id="PasswordFld" />
                                        </div>
                                        <div class="form-group" id="Cpass_div_id">
                                            <input type="password" minlength="8" placeholder="Confirm Password" autocomplete="off" required="required" class="form-control" id="CPassword" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" placeholder="Place" autocomplete="off" required="required" class="form-control" id="place" value="" />
                                        </div>
                                        <div class="form-group" id="syllabusdiv_id">
                                            <select id="syllabus_box" title="" name="syllabus_name" class="form-control"> >
                                                <option>Select your Syllabus</option>
                                            </select>
                                        </div>
                                        <div class="form-group" id="gradediv_id">
                                            <select id="grade_box" name="grade_name" title="" class="form-control">
                                                <option>Select your Grade</option>
                                            </select>
                                        </div>
                                        <div class="form-group" id="mobilediv_id">
                                            <input type="text" placeholder="Phone" autocomplete="off" required="required" class="form-control" maxlength="10" runat="server" onkeypress="javascript:return isNumber (event)" id="mobile" value="" />
                                        </div>
                                        <div class="form-group">
                                            <button type="button" id="btnSubmitstudent" class="btn sc_button sc_button_style_filled btn-block">Sign Up</button>
                                        </div>
                                        <div class="signup">
                                            <div class="clearfix">
                                                <div class="alt-sign text-muted text-sm">
                                                    <hr class="divider-hr" />
                                                    <sapn class="div-text small">Or sign up with</sapn>
                                                </div>
                                            </div>
                                            <div class="row-fluid text-center form-group mt">
                                                <div class="col-sm-6 mb-lg p0">
                                                    <a href="/auth/facebook" class="facebook">
                                                        <i class="fa fa-facebook"></i>&nbsp; Facebook
                                                    </a>
                                                </div>
                                                <div class="col-sm-6 p0">
                                                    <a href="/auth/google" class="google">
                                                        <i class="fa fa-google"></i> Google</a>
                                                </div>
                                            </div>
                                            <div class="clearfix text-center text-sm">
                                                <small><b>By signing up to create an account I accept Erudo's <a href="#">Terms</a> .</b></small>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
    <!-- /Info section -->
    </section>
    </article>
</div>
</div>
