<div class="page_content_wrap page_top_wrap">
    <div class="content">
        <article class="post_item post_item_single page">
            <section class="post_content">
                <!-- Info section -->
                <div class="sc_section_overlay">
                    <div class="sc_section_content">
                        <div class="sc_content content_wrap margin_top_2_5em_imp margin_bottom_2_5em_imp">
                            <h2 class="sc_title sc_title_regular sc_align_center margin_top_0 margin_bottom_085em text_center">Apply As Tutor</h2>
                            <div class="row-fluid">
                                <div class="col-sm-4 center-block panel p-lg">
                                    <form role="form" novalidate="" class="form-horizontal p-lg">
                                        <div class="form-group" id="firstnamediv_id">
                                            <div class="controls">
                                                <input type="text" id="firstname" name="fname" style="text-transform: capitalize;" placeholder="Your First Name" required="required" class="form-control" value="" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="controls">
                                                <input type="text" id="lastname" name="lname" style="text-transform: capitalize;" placeholder="Last Name" required="required" class="form-control" value="" />
                                            </div>
                                        </div>
                                        <div class="form-group has-feedback" id="qualificationdiv_id">
                                            <input type="text" id="qualification" name="cnum" placeholder="Highest Qualification" required="required" class="form-control" value="" />
                                            <span class="glyphicon glyphicon-education form-control-feedback text-muted"></span>
                                        </div>
                                        <div class="form-group has-feedback" id="Emaildiv_id">
                                            <input type="email" id="Email" placeholder="Email" required="required" class="form-control" value="" />
                                            <span class="glyphicon glyphicon-envelope form-control-feedback text-muted"></span>
                                        </div>
                                        <div class="form-group has-feedback" id="Passworddiv_id">
                                            <input type="password" id="PasswordFld" minlength="8" placeholder="Password" required="required" class="form-control" />
                                        </div>
                                        <div class="form-group has-feedback" id="Cpass_div_id">
                                            <input type="password" id="CPassword" minlength="8" name="cnum" placeholder="Confirm Password" required="required" class="form-control" />
                                        </div>
                                        <div class="form-group" id="syllabus_boxdiv_id">
                                            <select id="syllabus_box" title="" name="subject_name" class="form-control">
                                                <option>Select your Subject</option>
                                            </select>
                                        </div>
                                        <div class="form-group has-feedback">
                                            <input type="text" id="place" name="cnum" placeholder="Place" required="required" class="form-control" value="" />
                                        </div>
                                        <div class="form-group has-feedback" id="fee_per_hourdiv_id">
                                            <input type="text" id="fee_per_hour" name="cnum" runat="server" onkeypress="javascript:return isNumber (event)" placeholder="Fee Per Hour" required="required" class="form-control" value="" />
                                        </div>
                                        <div>
                                            <label>Upload your Passport size photo:</label>
                                            <input type="file" id="myFile" accept="image/*">
                                            <br>
                                            <br>
                                            <div class="clearfix text-center">
                                                <button type="button" id="btnSubmittutor" class="btn sc_button sc_button_style_filled btn-block">Apply Now</button>
                                            </div>
                                            <div class="clearfix text-center text-sm">
                                                <small><b>By signing up to create an account I accept Erudo's <a href="#">Terms</a> .</b></small>
                                            </div>
                                    </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Info section -->
            </section>
        </article>
    </div>
</div>
