<div class="page_content_wrap page_top_wrap sc_bg1">
    <section class="container mt">
        <div class="col-sm-9 center-block">
            <div class="panel">
                <div class="panel-heading">
                    <h3>Courses</h3>
                    <small>View and manage courses</small>
                </div>
                <div class="panel-body pv0">
                    <div class="row mt">
                        <div class="col-sm-12 col-xs-12 center-block">
                            <div>
                            </div>
                            <div class="table-responsive">
                                <div class="row-fluid">
                                    <div class="pull-left">
                                        <div class="button-group">
                                            <button class="btn btn-info btn-raised">Edit</button>
                                            <button class="btn btn-info btn-raised">Delete</button>
                                            <!-- <button class="btn btn-info btn-raised">Disable/Activate</button> -->
                                        </div>
                                    </div>
                                    <div class="pull-right pr">
                                        <div class="form-group has-feedback">
                                            <input type="text" placeholder="Search" required="required" class="form-control open" />
                                            <a class="glyphicon glyphicon-search form-control-feedback text-muted search" href=""></a>
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-hover table-bordered">
                                    <thead>
                                        <th>
                                            <span class="checkbox">
                                                    <label class="checkbox">
                                                        <input type="checkbox" id="bulkSelect">
                                                    </label>
                                                </span>
                                        </th>
                                        <th>Course Name</th>
                                        <th>Fee Per Hr</th>
                                        <th>Seats Occupied</th>
                                        <th>Tutors</th>
                                        <th>Acivate Status</th>
                                    </thead>
                                    <tr>
                                        <td>
                                            <span class="checkbox">
                                                <label class="checkbox">
                                                    <input type="checkbox" >
                                                </label>
                                            </span>
                                        </td>
                                        <td>P Block Elements (One To One)</td>
                                        <td><i class="fa fa-inr"></i> <b>200</b></td>
                                        <td><span class="text-primary">3</span>/<span class="text-info">10</span></td>
                                        <td>
                                            <a href="">Aman Guptha</a>
                                            <a href="">Ashokh Rawat</a>
                                            <a href="">Mukesh Kandpal</a>
                                        </td>
                                        <td>
                                            <div class="togglebutton text-center">
                                                <label>
                                                    <input type="checkbox" checked>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="checkbox">
                                            <label class="checkbox">
                                                <input type="checkbox" >
                                            </label>
                                        </span>
                                        </td>
                                        <td>P Block Elements (One To One)</td>
                                        <td><i class="fa fa-inr"></i> <b>200</b></td>
                                        <td><span class="text-primary">3</span>/<span class="text-info">10</span></td>
                                        <td>
                                            <a href="">Aman Guptha</a>
                                            <a href="">Ashokh Rawat</a>
                                            <a href="">Mukesh Kandpal</a>
                                        </td>
                                        <td>
                                            <div class="togglebutton text-center">
                                                <label>
                                                    <input type="checkbox" checked>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="checkbox">
                                        <label class="checkbox">
                                            <input type="checkbox" >
                                        </label>
                                    </span>
                                        </td>
                                        <td>P Block Elements (One To One)</td>
                                        <td><i class="fa fa-inr"></i> <b>200</b></td>
                                        <td><span class="text-primary">3</span>/<span class="text-info">10</span></td>
                                        <td>
                                            <a href="">Aman Guptha</a>
                                            <a href="">Ashokh Rawat</a>
                                            <a href="">Mukesh Kandpal</a>
                                        </td>
                                        <td>
                                            <div class="togglebutton text-center">
                                                <label>
                                                    <input type="checkbox" checked>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="checkbox">
                                    <label class="checkbox">
                                        <input type="checkbox" >
                                    </label>
                                </span>
                                        </td>
                                        <td>P Block Elements (One To One)</td>
                                        <td><i class="fa fa-inr"></i> <b>200</b></td>
                                        <td><span class="text-primary">3</span>/<span class="text-info">10</span></td>
                                        <td>
                                            <a href="">Aman Guptha</a>
                                            <a href="">Ashokh Rawat</a>
                                            <a href="">Mukesh Kandpal</a>
                                        </td>
                                        <td>
                                            <div class="togglebutton text-center">
                                                <label>
                                                    <input type="checkbox" checked>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="text-right">
                                    </tr>
                                </table>
                            </div>
                            <div class="row-fluid text-right">
                                <ul class="pagination pagination-sm">
                                    <li class="disabled"><a href="javascript:void(0)">«</a></li>
                                    <li class="active"><a href="javascript:void(0)">1</a></li>
                                    <li><a href="javascript:void(0)">2</a></li>
                                    <li><a href="javascript:void(0)">3</a></li>
                                    <li><a href="javascript:void(0)">»</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</section>
</div>
