<div class="page_content_wrap page_top_wrap sc_bg1">
    <section class="container mt">
        <div class="col-sm-3 p0">
            <div class="panel text-center ph0 pv">
                <img src="http://lorempixel.com/64/64/people" class="img-fluid img-circle center-block" alt="profile_pic">
                <h4 class="text-capitalize text-center">john doe</h4>
                <small>Lecturer, UC Berkley</small>
                <div>
                    <input type="hidden" class="rating" data-filled="fa fa-star rated" data-empty="fa fa-star" value="2" data-readonly/>
                </div>
                <ul class="list-inline course-wiggets">
                    <li class="c-widget">
                        <b class="course-count">8</b>
                        <span class="course-text">Personal</span>
                    </li>
                    <li class="c-widget">
                        <b class="course-count">10</b>
                        <span class="course-text">Active</span>
                    </li>
                    <li class="c-widget">
                        <b class="course-count">10</b>
                        <span class="course-text">Completed</span>
                    </li>
                </ul>
                <dl class="pv mb0">
                    <dt>Subjects Taught</dt>
                    <dd>Maths,English</dd>
                </dl>
            </div>
            <div class="panel mt">
                <div class="panel-heading">
                    <h4>Upcoming Sessions</h4>
                </div>
                <div class="panel-body p0">
                    <div class="list-group upcoming-list">
                        <a class="list-group-item">
                            <div class="session-date">
                                <h1 class="text-danger m0">3</h1> Mar
                            </div>
                            <div class="session-name">
                                <h4 class="text-primary">Vector </h4>
                                <small>Arabind Shetty</small>
                            </div>
                        </a>
                        <a class="list-group-item">
                            <div class="session-date">
                                <h1 class="text-danger m0">3</h1> Mar
                            </div>
                            <div class="session-name">
                                <h4 class="text-primary">Vector Calculus</h4>
                                <small>Arabind Shetty</small>
                            </div>
                        </a>
                        <a class="list-group-item">
                            <div class="session-date">
                                <h1 class="text-danger m0">3</h1> Mar
                            </div>
                            <div class="session-name">
                                <h4 class="text-primary">Vector Calculus</h4>
                                <small>Arabind Shetty</small>
                            </div>
                        </a>
                        <a class="list-group-item">
                            <div class="session-date">
                                <h1 class="text-danger m0">3</h1> Mar
                            </div>
                            <div class="session-name">
                                <h4 class="text-primary">Vector Calculus</h4>
                                <small>Arabind Shetty</small>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div id="calendar"></div>
        </div>
        <div class="col-sm-9">
            <div class="panel">
                <div class="panel-heading">
                    <h3>Create A Course</h3>
                </div>
                <div class="panel-body">
                    <div class="row mt">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label" for="name">Topic</label>
                                <input type="text" id="name" class="form-control open" required pattern="(\s(?=\w))*\w.*">
                            </div>
                            <div class="form-group  ">
                                <label class="control-label" for="subject">Subject</label>
                                <select id="subject" class="form-control open">
                                    <option selected="selected" disabled="disabled">Choose Subject</option>
                                    <option>Math</option>
                                    <option>Chemistry</option>
                                    <option>English</option>
                                </select>
                            </div>
                            <div class="form-group ">
                                <label class="control-label" for="class">Class</label>
                                <select id="class" class="form-control open">
                                    <option selected="selected" disabled="disabled">Choose Class</option>
                                    <option>8</option>
                                    <option>9</option>
                                    <option>10</option>
                                </select>
                            </div>
                            <div class="form-group ">
                                <label class="control-label" for="message">Leave a message</label>
                                <textarea class="form-control open" id="message"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div id="calendarSelect"></div>
                        </div>
                    </div>
                    <div class="row m-lg text-center">
                        <button type="submit" class="btn btn-primary btn-raised" data-dismiss="modal">Create Course</button>
                        <button type="button" class="btn btn-danger btn-raised" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Event Creation Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="createRequest">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Choose Time and Duration</h4>
            </div>
            <div class="modal-body">
                <div class="row-fluid">
                    <form class="p-lg">
                        <div class="form-group">
                            <div class="control-label">Choose Time</div>
                            <input class="form-control open sessionTime" type="text">
                        </div>
                        <div class="form-group">
                            <div class="control-label">Duration</div>
                            <input class="form-control open duration" type="text">
                        </div>
                        <div class="form-group">
                            <div class="control-label">Repeat </div>
                            <select class="form-control open" id="repeat">
                                <option value="" selected>None</option>
                                <option value="Once">Once</option>
                                <option value="Daily">Daily</option>
                                <optgroup label="Weekly On">
                                    <option value="1">Mondays</option>
                                    <option value="2">Tuesdays</option>
                                    <option value="3">Wednesdays</option>
                                    <option value="4">Thursdays</option>
                                    <option value="5">Fridays</option>
                                    <option value="6">Saturdays</option>
                                    <option value="7">Sundays</option>
                                </optgroup>
                                <option value="Multiple">Multiple</option>
                            </select>
                        </div>
                        <div class="form-group hide">
                            <div class="control-label">Repeat for</div>
                            <input class="form-control open endDate" type="number" min="1">
                        </div>
                        <div class="form-group addmore hide">
                            <div class="control-label">Choose date and time</div>
                            <input class="form-control open repeatDays" type="text">
                        </div>
                        <div id="repeaters" class="addmore hide"></div>
                        <div class="text-center addmore hide">
                            <button class="btn btn-fab btn-fab-mini btn-raised btn-info addBtn" title="Add More"><i class="fa fa-plus"></i></button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-raised" id="createEvent">Continue</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- End Event Creation Modal -->
<script type="text/javascript">
var availHours = [9, 10, 11, 12, 13, 14, 15, 16],
    dow = [1, 2, 3, 4],
    eventData = [];

$('input.sessionTime').datetimepicker({
    enabledHours: availHours,
    stepping: 30,
    format: 'H:mm A'
});

$('input.duration').datetimepicker({
    enabledHours: availHours,
    stepping: 30,
    format: 'H:mm'
});


var title = 'Topic';
$('select#repeat').on('change', function() {
    var val = $(this).val();
    if (val == '' || val == 'Multiple') {
        $('div.addmore').addClass('hide');
        bindDTPicker('.repeatDays');
        $('input.endDate').parent().addClass('hide');
        if (val == 'Multiple')
            $('div.addmore').removeClass('hide');
    } else if (val == 'Once') {
        $('input.endDate').parent().addClass('hide');
    } else {
        $('input.endDate').parent().removeClass('hide');
        $('div.addmore').addClass('hide');
    }
});

var day;

$('#calendar,#calendarSelect').fullCalendar({
    defaultDate: new Date(),
    selectable: true,
    selectConstraint: {
        dow: [1, 2, 3, 4]
    },
    businessHours: {
        dow: [1, 2, 3, 4] // days of week. an array of zero-based day of week integers (0=Sunday)
            // (Monday-Thursday in this example)
    },
    eventLimit: true, // for all non-agenda views
    select: function(start, end) {
        day = start;
        if (typeof(title) != null && start > new Date()) {
            $('#createRequest').modal('show');
        }
        $('#calendar').fullCalendar('unselect');
    },

    eventRender: function(event, element, view) {
        console.log("render", element)
        if ('ranges' in event) {
            return (event.ranges.filter(function(range) {
                return (event.start.isBefore(range.end.add(1, 'day')) && event.start.isAfter(range.start.subtract(1, 'day')));
            }).length) > 0;
        } else
            return element;
    }

});

// Bind datetimepicker
function bindDTPicker(el) {
    $(el).datetimepicker({
        enabledHours: [9, 10, 11, 12, 13, 14, 15, 16],
        stepping: 30,
        minDate: day
    });
}
// Add more days
var rDays = 0;
$('button.addBtn').on('click', function(e) {
    e.preventDefault();
    $('<div>', {
        class: 'form-group has-feedback',
        id: rDays
    }).appendTo('div#repeaters');
    bindDTPicker($('<input/>', {
        type: "text",
        class: "form-control open"
    }).appendTo('div#' + rDays));
    $(' <a></a>', {
        class: 'glyphicon glyphicon glyphicon-remove form-control-feedback search text-danger',
        onclick: 'removeItem(this)'
    }).appendTo('div#' + rDays++);
});
//Remove Day
function removeItem(el) {
    $(el).parents('.form-group').remove();
};
// Create event
$('button#createEvent').click(function() {
    var repeat = $('select#repeat').val();

    if (repeat == 'Once') {
        console.log('once');
        eventData = {
            title: title,
            start: day,
            allDay: false
        };
        $('#calendar').fullCalendar('renderEvent', eventData, true);
    }

    if (parseInt(repeat)) {
        var end = parseInt($('.endDate').val());
        console.log(end);
        // eventData = {
        //     title:title,
        //     id: 1,
        //     start: day.format(),
        //     end: end.format("YYYY-MM-DD"),
        //     dow: [parseInt(repeat)],
        //     ranges: [{ 
        //         start:moment(day.format("YYYY-MM-DD"),"YYYY-MM-DD"), 
        //         end:moment(end.format("YYYY-MM-DD"),"YYYY-MM-DD"),
        //     }],
        // };
        // console.log(eventData);
        // $('#calendar').fullCalendar('renderEvent', eventData, true);
    }

    if (repeat == 'Multiple') {
        $('#repeaters input').each(function(i, e) {
            eventData = {
                title: title,
                start: moment($(e).val()).format(),
                allDay: false
            };
            $('#calendar').fullCalendar('renderEvent', eventData, true);
        });
    }
});
</script>
