<div class="page_content_wrap page_top_wrap sc_bg1">
    <section class="container mt sc_bg1">
        <div class="col-sm-9 center-block">
            <div class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="clear"></div>
                        <!-- Comments -->
                        <div class="col-sm-12">
                            <div class="panel-heading text-center">
                                <h1 class="page_title">Feedbacks</h1>
                            </div>
                            <div class="row-fluid">
                                <div>
                                    <div class="text-center">
                                        <button class="btn btn-raised btn-info" data-toggle="modal" data-target=".feedback">Write a feedback</button>
                                    </div>
                                    <article class="course-review">
                                        <div>
                                            <img alt="" class="avatar avatar-60 photo pull-left mr-sm img-circle" src="images/default-profile.jpg" height="60" width="60" />
                                            <div class="reviewd-user">
                                                <strong>TRX_admin</strong>
                                                <time>February 16, 2015</time>
                                                <div>
                                                    <input type="hidden" class="rating" data-filled="fa fa-star rated" data-empty="fa fa-star" value="2" data-readonly/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-justify">
                                            <p>Mauris non rhoncus mauris, ut porta nunc. Nullam tincidunt tempus ligula, a dapibus massa ullamcorper et. Aliquam facilisis, massa in malesuada vehicula, odio mauris gravida sem, molestie imperdiet metus urna sit amet ex. Praesent egestas, nisi vel finibus finibus, dui nulla aliquam metus, sit amet lacinia diam justo sed mauris.</p>
                                        </div>
                                    </article>
                                    <article class="course-review">
                                        <div>
                                            <img alt="" class="avatar avatar-60 photo pull-left mr-sm img-circle" src="images/default-profile.jpg" height="60" width="60" />
                                            <div class="reviewd-user">
                                                <strong>TRX_admin</strong>
                                                <time>February 16, 2015</time>
                                                <div>
                                                    <input type="hidden" class="rating" data-filled="fa fa-star rated" data-empty="fa fa-star" value="2" data-readonly/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-justify">
                                            <p>Mauris non rhoncus mauris, ut porta nunc. Nullam tincidunt tempus ligula, a dapibus massa ullamcorper et. Aliquam facilisis, massa in malesuada vehicula, odio mauris gravida sem, molestie imperdiet metus urna sit amet ex. Praesent egestas, nisi vel finibus finibus, dui nulla aliquam metus, sit amet lacinia diam justo sed mauris.</p>
                                        </div>
                                    </article>
                                    <article class="course-review">
                                        <div>
                                            <img alt="" class="avatar avatar-60 photo pull-left mr-sm img-circle" src="images/default-profile.jpg" height="60" width="60" />
                                            <div class="reviewd-user">
                                                <strong>TRX_admin</strong>
                                                <time>February 16, 2015</time>
                                                <div>
                                                    <input type="hidden" class="rating" data-filled="fa fa-star rated" data-empty="fa fa-star" value="2" data-readonly/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-justify">
                                            <p>Mauris non rhoncus mauris, ut porta nunc. Nullam tincidunt tempus ligula, a dapibus massa ullamcorper et. Aliquam facilisis, massa in malesuada vehicula, odio mauris gravida sem, molestie imperdiet metus urna sit amet ex. Praesent egestas, nisi vel finibus finibus, dui nulla aliquam metus, sit amet lacinia diam justo sed mauris.</p>
                                        </div>
                                    </article>
                                    <article class="course-review">
                                        <div>
                                            <img alt="" class="avatar avatar-60 photo pull-left mr-sm img-circle" src="images/default-profile.jpg" height="60" width="60" />
                                            <div class="reviewd-user">
                                                <strong>TRX_admin</strong>
                                                <time>February 16, 2015</time>
                                                <div>
                                                    <input type="hidden" class="rating" data-filled="fa fa-star rated" data-empty="fa fa-star" value="2" data-readonly/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-justify">
                                            <p>Mauris non rhoncus mauris, ut porta nunc. Nullam tincidunt tempus ligula, a dapibus massa ullamcorper et. Aliquam facilisis, massa in malesuada vehicula, odio mauris gravida sem, molestie imperdiet metus urna sit amet ex. Praesent egestas, nisi vel finibus finibus, dui nulla aliquam metus, sit amet lacinia diam justo sed mauris.</p>
                                        </div>
                                    </article>
                                    <article class="course-review">
                                        <div>
                                            <img alt="" class="avatar avatar-60 photo pull-left mr-sm img-circle" src="images/default-profile.jpg" height="60" width="60" />
                                            <div class="reviewd-user">
                                                <strong>TRX_admin</strong>
                                                <time>February 16, 2015</time>
                                                <div>
                                                    <input type="hidden" class="rating" data-filled="fa fa-star rated" data-empty="fa fa-star" value="2" data-readonly/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-justify">
                                            <p>Mauris non rhoncus mauris, ut porta nunc. Nullam tincidunt tempus ligula, a dapibus massa ullamcorper et. Aliquam facilisis, massa in malesuada vehicula, odio mauris gravida sem, molestie imperdiet metus urna sit amet ex. Praesent egestas, nisi vel finibus finibus, dui nulla aliquam metus, sit amet lacinia diam justo sed mauris.</p>
                                        </div>
                                    </article>
                                </div>
                                <div class="row-fluid text-right">
                                    <ul class="pagination pagination-sm">
                                        <li class="disabled"><a href="javascript:void(0)">«</a></li>
                                        <li class="active"><a href="javascript:void(0)">1</a></li>
                                        <li><a href="javascript:void(0)">2</a></li>
                                        <li><a href="javascript:void(0)">3</a></li>
                                        <li><a href="javascript:void(0)">»</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Comments -->
                        </div>
                    </div>
                </div>
            </div>
    </section>
    </div>
    <div class="modal fade feedback" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog">
            <div class="modal-content p-lg">
                <div class="text-center">
                    <p class="lead">Send your comments about ERUDO</p>
                    <div class="form-group row">
                        <div>Your rating</div>
                        <div class="text-center">
                            <input type="hidden" class="rating editable" data-filled="fa fa-star fa-2x rated" data-empty="fa fa-star fa-2x" data-start="0" data-stop="5" data-step="1" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="feedback">Feedback</label>
                    <textarea id="feedback" class="form-control border">
                    </textarea>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-info btn-raised" data-dismiss="modal">Send </button>
                    <button class="btn btn-default btn-raised" data-dismiss="modal">Cancel </button>
                </div>
            </div>
        </div>
    </div>
