<div class="page_content_wrap page_top_wrap sc_bg1">
    <section class="container mt">
        <div class="col-sm-3 p0">
            <div class="panel text-center ph0 pv">
                <img src="http://lorempixel.com/64/64/people" class="img-fluid img-circle center-block" alt="profile_pic">
                <h4 class="text-capitalize text-center">john doe</h4>
                <ul class="list-inline course-wiggets">
                    <li class="c-widget">
                        <b class="course-count">8</b>
                        <span class="course-text">Personal</span>
                    </li>
                    <li class="c-widget">
                        <b class="course-count">10</b>
                        <span class="course-text">Active</span>
                    </li>
                    <li class="c-widget">
                        <b class="course-count">10</b>
                        <span class="course-text">Completed</span>
                    </li>
                </ul>
                <dl class="pv mb0">
                    <dd>
                        <input type="hidden" class="rating" data-filled="fa fa-trophy fa-2x rated" data-empty="fa fa-trophy fa-2x" value="2" data-readonly/>
                    </dd>
                    <dd>Grow your balance by sharing</dd>
                    <dd>
                        <button type="submit" class="btn  facebook-icon">
                            <i class="fa fa-facebook"></i>
                        </button>
                        <button type="submit" class="btn  google-icon">
                            <i class="fa fa-google"></i>
                        </button>
                    </dd>
                </dl>
            </div>
            <div class="panel mt">
                <div class="panel-heading">
                    <h4>Upcoming Sessions</h4>
                </div>
                <div class="panel-body p0">
                    <div class="list-group upcoming-list">
                        <a class="list-group-item">
                            <div class="session-date">
                                <h1 class="text-danger m0">3</h1> Mar
                            </div>
                            <div class="session-name">
                                <h4 class="text-primary">Vector </h4>
                                <small>Arabind Shetty</small>
                            </div>
                        </a>
                        <a class="list-group-item">
                            <div class="session-date">
                                <h1 class="text-danger m0">3</h1> Mar
                            </div>
                            <div class="session-name">
                                <h4 class="text-primary">Vector Calculus</h4>
                                <small>Arabind Shetty</small>
                            </div>
                        </a>
                        <a class="list-group-item">
                            <div class="session-date">
                                <h1 class="text-danger m0">3</h1> Mar
                            </div>
                            <div class="session-name">
                                <h4 class="text-primary">Vector Calculus</h4>
                                <small>Arabind Shetty</small>
                            </div>
                        </a>
                        <a class="list-group-item">
                            <div class="session-date">
                                <h1 class="text-danger m0">3</h1> Mar
                            </div>
                            <div class="session-name">
                                <h4 class="text-primary">Vector Calculus</h4>
                                <small>Arabind Shetty</small>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <!-- if  list is null-->
            <div class="alert alert-dismissible alert-info">
                <h4>Oh!</h4>
                <p>You haven't made any payments. Find suitable course or tutor
                    <a href="javascript:void(0)" class="alert-link">here</a>.</p>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <h3>My Payments</h3>
                    <small>View your purchase history</small>
                </div>
                <div class="panel-body pv0">
                    <div class="payemt-list">
                        <div class="payment-item row">
                            <a href="" class="col-sm-6"><h4>Biotechnology</h4></a>
                            <div class="col-sm-3">
                                <span class="text-muted mt"><i class="fa fa-clock-o"></i> 2 Jan 2016 18:00</span>
                            </div>
                            <div class="col-sm-3 text-right">
                                <span class="pay-method"><i class="fa fa-inr"></i> <b class="paid">5000</b></span>
                            </div>
                        </div>
                        <div class="payment-item row">
                            <a href="" class="col-sm-6"><h4>Biotechnology tgdfg fdgfdg fghfgh fghfghfgh fgghgh</h4></a>
                            <div class="col-sm-3">
                                <span class="text-muted mt"><i class="fa fa-clock-o"></i> 2 Jan 2016 18:00</span>
                            </div>
                            <div class="col-sm-3 text-right">
                                <span class="pay-method"><i class="fa fa-inr"></i> <b class="paid">5000</b></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
