<!-- Content -->
<div class="page_content_wrap page_top_wrap">
    <br/>
    <div class="content_wrap">
        <div class="content">
            <div class="row">
                <div class="col-sm-6">
                    <section class="post_content">
                        <h3 class="sc_title sc_title_iconed margin_top_0 margin_bottom_10">
                 <span class="sc_title_icon sc_title_icon_top  sc_title_icon_small icon-book-2"></span>John Snow
             </h3>
                        <div class="sc_section bg_tint_none margin_bottom_1em_imp sc_features_st1">
                            <p>Royal L. Garff Presidential Chair in Marketing, Marketing Department,
                            </p>
                            <p>Subjects : English, Math</p>
                            <p>Classes : 8,9,10 CBSE/ICSE</p>
                            <p>Email John: <a href="mailto:info@yoursitename.com">info@yoursitename.com</a>
                                <br /> Phone: +1(800)123-4566
                            </p>
                        </div>
                    </section>
                </div>
                <div class="col-sm-6 center-block">
                    <div class="post_thumb">
                        <img alt="" src="images/default-profile.jpg" style="width:240px;" class="img-circle">
                    </div>
                </div>
            </div>
            <article class="post_item post_item_single_team post_featured_right team">
                <div class="columns_wrap sc_columns columns_nofluid sc_columns_count_2 margin_top_1em ">
                    <div class="col-md-6 center-block">
                        <div class="row mt-lg ph-sm">
                            <h2>Reviews</h2>
                            <h2 class="text-center">
                    <span class="text-warning">4.0</span>
                    <small>
                        <input type="hidden"  class="rating" data-filled="fa fa-star rated" data-empty="fa fa-star" value="4" data-readonly/></small> 
                    </h2>
                            <div class="text-center">
                                <button type="button" class="btn btn-info btn-raised" data-toggle="modal" data-target=".feedback">Add Feedback</button>
                            </div>
                            <div class="height-limited">
                                <article class="mb">
                                    <div>
                                        <img alt="" class="avatar avatar-60 photo pull-left mr-sm " src="images/default-profile.jpg" height="60" width="60" />
                                        <strong>TRX_admin</strong>
                                        <time datetime="2015-02-16T07:39:35+00:00">February 16, 2015</time>
                                        <div>
                                            <input type="hidden" class="rating" data-filled="fa fa-star rated" data-empty="fa fa-star" value="2" data-readonly/>
                                        </div>
                                    </div>
                                    <div class="text-justify">
                                        <p>Mauris non rhoncus mauris, ut porta nunc. Nullam tincidunt tempus ligula, a dapibus massa ullamcorper et. Aliquam facilisis, massa in malesuada vehicula, odio mauris gravida sem, molestie imperdiet metus urna sit amet ex. Praesent egestas, nisi vel finibus finibus, dui nulla aliquam metus, sit amet lacinia diam justo sed mauris.</p>
                                    </div>
                                </article>
                                <article class="mb">
                                    <div>
                                        <img alt="" src="images/default-profile.jpg" class="avatar avatar-60 photo pull-left mr-sm img-circle" height="60" width="60" />
                                        <strong>TRX_admin</strong> -
                                        <time datetime="2015-02-16T07:39:35+00:00">February 16, 2015</time>
                                        <div>
                                            <input type="hidden" class="rating" data-filled="fa fa-star rated" data-empty="fa fa-star" value="2" data-readonly/>
                                        </div>
                                    </div>
                                    <div class="text-justify">
                                        <p>Mauris non rhoncus mauris, ut porta nunc. Nullam tincidunt tempus ligula, a dapibus massa ullamcorper et. Aliquam facilisis, massa in malesuada vehicula, odio mauris gravida sem, molestie imperdiet metus urna sit amet ex. Praesent egestas, nisi vel finibus finibus, dui nulla aliquam metus, sit amet lacinia diam justo sed mauris.</p>
                                    </div>
                                </article>
                                <article class="mb">
                                    <div>
                                        <img alt="" src="images/default-profile.jpg" class="avatar avatar-60 photo pull-left mr-sm img-circle" height="60" width="60" />
                                        <strong>TRX_admin</strong> -
                                        <time datetime="2015-02-16T07:39:35+00:00">February 16, 2015</time>
                                        <div>
                                            <input type="hidden" class="rating" data-filled="fa fa-star rated" data-empty="fa fa-star" value="2" data-readonly/>
                                        </div>
                                    </div>
                                    <div class="text-justify">
                                        <p>Mauris non rhoncus mauris, ut porta nunc. Nullam tincidunt tempus ligula, a dapibus massa ullamcorper et. Aliquam facilisis, massa in malesuada vehicula, odio mauris gravida sem, molestie imperdiet metus urna sit amet ex. Praesent egestas, nisi vel finibus finibus, dui nulla aliquam metus, sit amet lacinia diam justo sed mauris.</p>
                                    </div>
                                </article>
                            </div>
                            <div class="overflow-btn">
                                <a class="btn btn-raised btn-info" href="#viewmyfeed"> View More</a>
                            </div>
                        </div>
                    </div>
                </div>
                </section>
            </article>
        </div>
    </div>
</div>
<div class="modal fade feedback" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog">
        <div class="modal-content p-lg">
            <div class="text-center">
                <h3><a href="">Vivek Narayanan</a></h3>
                <p class="lead">IIT, Kanpur</p>
                <div class="form-group row">
                    <div>Your rating</div>
                    <div class="text-center">
                        <input type="hidden" class="rating" data-filled="fa fa-star fa-2x rated" data-empty="fa fa-star fa-2x" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="feedback">Feedback</label>
                <textarea id="feedback" class="form-control border">
                </textarea>
            </div>
            <div class="form-group text-center">
                <button class="btn btn-info btn-raised" data-dismiss="modal">Send </button>
                <button class="btn btn-default btn-raised" data-dismiss="modal">Cancel </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$('textarea').val('');

$('document').ready(function() {
    $(window).scrollTop(0);
});
</script>
