<div class="page_content_wrap page_top_wrap sc_bg1" style="z-index:10001">
    <section class="container mt">
        <div class="col-sm-9 center-block">
            <div class="panel">
                <div class="panel-body">
                    <article class="row enrolled-course">
                        <div class="pull-left mr-lg mt">
                            <img src="images/user/06.jpg" class="img-responsive img-thumbnail img-circle" alt="" width="150" />
                        </div>
                        <div class="user-list-data">
                            <h2>Shohan Gupta</h2>
                            <p>MIT, Allahabad</p>
                            <dl class="col-sm-6  col-xs-12 dashboard-list">
                                <dt>Subjects Taught</dt>
                                <dd>Math, Chemistry, English</dd>
                                <dt>Classes Taught</dt>
                                <dd>8,9,10</dd>
                            </dl>
                        </div>
                    </article>
                    <form class="row mt">
                        <div class="col-sm-6 center-block">
                            <div id="block_container_course" class="form-group">
                                <label class="control-label" for="subject">Subject</label>
                                <select id="course_id_request" title="" class="form-control open" name="course_name">
                                    <option selected="selected" disabled="disabled">Choose Subject</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="name">Topic</label>
                                <input id="topic_id_request" class="form-control open" equired pattern="(\s(?=\w))*\w.*">
                            </div>
                            <div class="form-inline">
                                <div class="form-group date has-feedback">
                                    <input id="start0" class="form-control  sessionTime" type="text" placeholder="Start time">
                                    <span class="glyphicon glyphicon glyphicon-calendar form-control-feedback"></span>
                                </div>
                                <div class="form-group duration has-feedback">
                                    <input id="duration0" class="form-control duration" type="text" placeholder="Duration">
                                    <span class="fa fa-clock-o form-control-feedback"></span>
                                </div>
                            </div>
                            <div class="multiple">
                                <a href="javascript:void(0);" id="addMultiple" class="addMultiple">Add More</a>
                            </div>
                            <div class="multiple hide">
                                <div id="repeaters"></div>
                                <a id="addMore" class="badge addMore">Add More</a>
                            </div>
                            <div class="form-group multiple">
                                <div class="btn-group btn-group-raised">
                                    <a href="#once" data-toggle="tab" class="btn">Once</a>
                                    <a href="#daily" data-toggle="tab" class="btn">Daily</a>
                                    <a href="#weekly" data-toggle="tab" class="btn">Weekly</a>
                                </div>
                                <div class="tab-content form-inline repeatForm">
                                    <div class="tab-pane fade active in" id="once"> Repeat once
                                    </div>
                                    <div class="tab-pane fade" id="daily">
                                        <label>Repeat daily for </label>
                                        <input class="form-control" type="number" min="1" value="1">
                                        <label> days</label>
                                    </div>
                                    <div class="tab-pane fade" id="weekly">
                                        <label>Repeat weekly for </label>
                                        <input class="form-control  " type="number" min="1" value="1">
                                        <label> days</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m-lg text-center">
                            <button id="btnCreateRequest" type="button" class="btn btn-primary btn-raised">Send Request</button>
                            <!-- <input type="reset" class="btn btn-danger btn-raised"/> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript">
    var repeatCounter = 0;


    function addSession() {
        $('<div>', {
            class: 'form-inline',
            id: 'inlineForm' + repeatCounter
        }).appendTo('div#repeaters');
        $('<div>', {
            class: 'form-group date has-feedback'
        }).appendTo('div#inlineForm' + repeatCounter);
        bindDTPicker($('<input>', {
            class: 'form-control',
            placeholder: 'Start Time'
        }).appendTo('div#inlineForm' + repeatCounter + ' .date'));
        $('<span>', {
            class: 'glyphicon glyphicon glyphicon-calendar form-control-feedback',
            placeholder: 'Start time'
        }).appendTo('div#inlineForm' + repeatCounter + ' .date');
        $('<div>', {
            class: 'form-group duration has-feedback'
        }).appendTo('div#inlineForm' + repeatCounter);
        bindTimePicker($('<input>', {
            class: 'form-control',
            placeholder: 'Duration'
        }).appendTo('div#inlineForm' + repeatCounter + ' .duration'));
        $('<span>', {
                class: 'fa fa-clock-o form-control-feedback form-control-feedback'
            })
            .appendTo('div#inlineForm' + repeatCounter + ' .duration');

        $('<span>', {
            class: 'text-danger fa fa-times-circle-o',
            onclick: 'removeItem(this)'
        }).appendTo('div#inlineForm' + repeatCounter);
        repeatCounter++;
    }

    $('a.addMultiple').on('click', function() {
        $('div.multiple').toggleClass('hide');
        addSession();
    });
    $('a.addMore').on('click', function() {
        addSession();
    });
    $('.form-inline:after').on('click', function() {
        alert('dfdsf');
    });


    bindDTPicker($('input.sessionTime'));
    bindTimePicker($('input.duration'));



    var availHours = [9, 10, 11, 12, 13, 14, 15, 16];

    // Bind datetimepicker
    function bindDTPicker(el) {
        $(el).datetimepicker({
            enabledHours: [9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22],
            stepping: 30 //,

        });
    }

    // Time picker
    function bindTimePicker(el) {
        $(el).datetimepicker({
            enabledHours: [1, 2, 3, 4, 5, 6],
            stepping: 30,
            format: 'HH:mm' //,

        });
    }
    //Remove Day
    function removeItem(el) {
        $(el).parent('.form-inline').remove();
    };
    </script>
