<div class="page_content_wrap page_top_wrap sc_bg1">

        <section class="container mt">

            <div class="col-sm-3 p0">
                <div class="panel text-center ph0 pv">
                    <img src="http://lorempixel.com/64/64/people" class="img-fluid img-circle center-block" alt="profile_pic">
                    <h4 class="text-capitalize text-center">john doe</h4>
                    <small>Lecturer, UC Berkley</small>
                    <div><input type="hidden"  class="rating" data-filled="fa fa-star rated" data-empty="fa fa-star" value="2" data-readonly/></div>
                    <ul class="list-inline course-wiggets">
                        <li class="c-widget">
                            <b class="course-count">8</b>
                            <span class="course-text">Personal</span>
                        </li>
                        <li class="c-widget">
                            <b class="course-count">10</b>
                            <span class="course-text">Active</span>
                        </li>
                        <li class="c-widget">
                            <b class="course-count">10</b>
                            <span class="course-text">Completed</span>
                        </li>                                   
                    </ul>

                    <dl class="pv mb0"> 
                        <dt>Subjects Taught</dt>
                        <dd>Maths,English</dd>
                    </dl>
                </div>

                <div class="panel mt">
                    <div class="panel-heading">
                        <h4>Upcoming Sessions</h4>
                    </div>
                    <div class="panel-body p0">
                        <div class="list-group upcoming-list">

                            <a class="list-group-item">
                                <div class="session-date">
                                    <h1 class="text-danger m0">3</h1>
                                    Mar
                                </div>
                                <div class="session-name">
                                    <h4 class="text-primary">Vector </h4>
                                    <small>Arabind Shetty</small>
                                </div> 
                            </a>

                            <a class="list-group-item">
                                <div class="session-date">
                                    <h1 class="text-danger m0">3</h1>
                                    Mar
                                </div>
                                <div class="session-name">
                                    <h4 class="text-primary">Vector Calculus</h4>
                                    <small>Arabind Shetty</small>
                                </div> 
                            </a>

                            <a class="list-group-item">
                                <div class="session-date">
                                    <h1 class="text-danger m0">3</h1>
                                    Mar
                                </div>
                                <div class="session-name">
                                    <h4 class="text-primary">Vector Calculus</h4>
                                    <small>Arabind Shetty</small>
                                </div> 
                            </a>

                            <a class="list-group-item">
                                <div class="session-date">
                                    <h1 class="text-danger m0">3</h1>
                                    Mar
                                </div>
                                <div class="session-name">
                                    <h4 class="text-primary">Vector Calculus</h4>
                                    <small>Arabind Shetty</small>
                                </div> 
                            </a>                                                                    

                        </div>
                    </div>
                </div>

<div id="calendar"></div>

            </div>

            <div class="col-sm-9">
                <div class="panel">
                    <div class="panel-body">    

                        <article class="row enrolled-course">
                            <div class="col-sm-12 mt">
                                <div class="col-sm-2 p0 mb">
                                    <img src="http://placehold.it/98x98" class="img-responsive img-thumbnail" alt=""/>
                                </div>
                                <div class="user-list-data col-sm-9 p0">
                                    <h3 class="mt0"><a href="">Mohan Guptha</a></h3>
                                    <dl class="col-sm-6  col-xs-12 dashboard-list">
                                        <dt>Subjects</dt>
                                        <dd>Math</dd>
                                        <dt>Class</dt>
                                        <dd>10</dd>
                                        <dt>Date</dt>
                                        <dd>2 Mar 2016 18:00</dd>
                                    </dl>
                                </div>  
                            </div>
                            <div class="col-sm-12">
                                <h6>Message</h6>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                            </p>
                            <div class="text-left">
                                <a class="btn btn-danger btn-raised pull-right btn-sm" title="Decline" href="" >Decline</a>
                                <a class="btn btn-primary btn-raised pull-right btn-sm" title="Approve" href="" >Approve</a>
                            </div>      
                            </div>                          
                        </article>      

                        <article class="row enrolled-course">
                            <div class="col-sm-12 mt">
                                <div class="col-sm-2 p0 mb">
                                    <img src="http://placehold.it/98x98" class="img-responsive img-thumbnail" alt=""/>
                                </div>
                                <div class="user-list-data col-sm-9 p0">
                                    <h3 class="mt0"><a href="">Mohan Guptha</a></h3>
                                    <dl class="col-sm-6  col-xs-12 dashboard-list">
                                        <dt>Subjects</dt>
                                        <dd>Math</dd>
                                        <dt>Class</dt>
                                        <dd>10</dd>
                                        <dt>Date</dt>
                                        <dd>2 Mar 2016 18:00</dd>
                                    </dl>
                                </div>  
                            </div>
                            <div class="col-sm-12">
                                <h6>Message</h6>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                            </p>
                            <div class="text-left">
                                <a class="btn btn-danger btn-raised pull-right btn-sm" title="Decline" href="" >Decline</a>
                                <a class="btn btn-primary btn-raised pull-right btn-sm" title="Approve" href="" >Approve</a>
                            </div>      
                            </div>                          
                        </article>      

                        <article class="row enrolled-course">
                            <div class="col-sm-12 mt">
                                <div class="col-sm-2 p0 mb">
                                    <img src="http://placehold.it/98x98" class="img-responsive img-thumbnail" alt=""/>
                                </div>
                                <div class="user-list-data col-sm-9 p0">
                                    <h3 class="mt0"><a href="">Mohan Guptha</a></h3>
                                    <dl class="col-sm-6  col-xs-12 dashboard-list">
                                        <dt>Subjects</dt>
                                        <dd>Math</dd>
                                        <dt>Class</dt>
                                        <dd>10</dd>
                                        <dt>Date</dt>
                                        <dd>2 Mar 2016 18:00</dd>
                                    </dl>
                                </div>  
                            </div>
                            <div class="col-sm-12">
                                <h6>Message</h6>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                            </p>
                            <div class="text-left">
                                <a class="btn btn-danger btn-raised pull-right btn-sm" title="Decline" href="" >Decline</a>
                                <a class="btn btn-primary btn-raised pull-right btn-sm" title="Approve" href="" >Approve</a>
                            </div>      
                            </div>                          
                        </article>      

                        <article class="row enrolled-course">
                            <div class="col-sm-12 mt">
                                <div class="col-sm-2 p0 mb">
                                    <img src="http://placehold.it/98x98" class="img-responsive img-thumbnail" alt=""/>
                                </div>
                                <div class="user-list-data col-sm-9 p0">
                                    <h3 class="mt0"><a href="">Mohan Guptha</a></h3>
                                    <dl class="col-sm-6  col-xs-12 dashboard-list">
                                        <dt>Subjects</dt>
                                        <dd>Math</dd>
                                        <dt>Class</dt>
                                        <dd>10</dd>
                                        <dt>Date</dt>
                                        <dd>2 Mar 2016 18:00</dd>
                                    </dl>
                                </div>  
                            </div>
                            <div class="col-sm-12">
                                <h6>Message</h6>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                            </p>
                            <div class="text-left">
                                <a class="btn btn-danger btn-raised pull-right btn-sm" title="Decline" href="" >Decline</a>
                                <a class="btn btn-primary btn-raised pull-right btn-sm" title="Approve" href="" >Approve</a>
                            </div>      
                            </div>                          
                        </article>      

                        <article class="row enrolled-course">
                            <div class="col-sm-12 mt">
                                <div class="col-sm-2 p0 mb">
                                    <img src="http://placehold.it/98x98" class="img-responsive img-thumbnail" alt=""/>
                                </div>
                                <div class="user-list-data col-sm-9 p0">
                                    <h3 class="mt0"><a href="">Mohan Guptha</a></h3>
                                    <dl class="col-sm-6  col-xs-12 dashboard-list">
                                        <dt>Subjects</dt>
                                        <dd>Math</dd>
                                        <dt>Class</dt>
                                        <dd>10</dd>
                                        <dt>Date</dt>
                                        <dd>2 Mar 2016 18:00</dd>
                                    </dl>
                                </div>  
                            </div>
                            <div class="col-sm-12">
                                <h6>Message</h6>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                            </p>
                            <div class="text-left">
                                <a class="btn btn-danger btn-raised pull-right btn-sm" title="Decline" href="" >Decline</a>
                                <a class="btn btn-primary btn-raised pull-right btn-sm" title="Approve" href="" >Approve</a>
                            </div>      
                            </div>                          
                        </article>                  

                        <div class="text-center">
                            <ul class="pagination pagination-sm">
                                <li class="disabled"><a href="javascript:void(0)">«</a></li>
                                <li class="active"><a href="javascript:void(0)">1</a></li>
                                <li><a href="javascript:void(0)">2</a></li>
                                <li><a href="javascript:void(0)">3</a></li>
                                <li><a href="javascript:void(0)">»</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

        </section>

</div>