<style>
.page_top_wrap .breadcrumbs a.breadcrumbs_item {
    color: #FFFFFF;
    font-size: 12px;
}
.page_top_wrap .breadcrumbs .breadcrumbs_item {
    background-color: #529CCC;}

.page_top_wrap .breadcrumbs {
    float: none;
}
.page_top_wrap .breadcrumbs span {
    color: #FFF;
font-size: 12px;
}

</style>





<div class="page_content_wrap sc_bg1">
    <div class="page_top_wrap page_top_title page_top_breadcrumbs sc_pt_st1">
        <div class="content_wrap">
 <h1 class="page_title">Feedbacks</h1>
            <div class="breadcrumbs" style="padding:0">
                <a class="breadcrumbs_item home" href="#personalpage">Personal Page</a>
                <span class="breadcrumbs_delimiter"></span>
                <span class="breadcrumbs_item current">Feedback</span>
            </div>
           
        </div>
    </div>
    <section class="container mt sc_bg1">
        <div class="col-sm-9 center-block">
            <div class="panel">
                <div class="panel-body"> 
                    <div class="row">
                        <div class="clear"></div>
                        <!-- Comments -->
                        <div class="col-sm-12">
                            <div class="row mb">
                                <div class="col-sm-12 text-center">
                                    <div class="pull-left text-center">
                                        <div class="feedback-img center-block" style="background-image:url(https://erudo.in/images/user/Abhiram.jpg)">

                                        </div>
                                    </div>
                                    <h2 class="product_title entry-title mt-sm">JOHN DOE</h2>
                                    <small>Lecturer, UC Alabama</small>
                                    <h2 class="text-center">
                        <span class="text-warning">4.0</span>
                        <small>
                            <input type="hidden"  class="rating" data-filled="fa fa-star rated" data-empty="fa fa-star" value="4" data-readonly/></small> 
                        </h2>
                                    <button class="btn btn-raised btn-info" data-toggle="modal" data-target=".feedback">Write a feedback</button>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div>
                                    <article class="course-review">
                                        <div>
                                            <img alt="" class="avatar avatar-60 photo pull-left mr-sm img-circle" src="images/default-profile.jpg" height="60" width="60" />
                                            <div class="reviewd-user">
                                                <strong>TRX_admin</strong>
                                                <time>February 16, 2015</time>
                                                <div>
                                                    <input type="hidden" class="rating" data-filled="fa fa-star rated" data-empty="fa fa-star" value="2" data-readonly/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-justify">
                                            <p>Mauris non rhoncus mauris, ut porta nunc. Nullam tincidunt tempus ligula, a dapibus massa ullamcorper et. Aliquam facilisis, massa in malesuada vehicula, odio mauris gravida sem, molestie imperdiet metus urna sit amet ex. Praesent egestas, nisi vel finibus finibus, dui nulla aliquam metus, sit amet lacinia diam justo sed mauris.</p>
                                        </div>
                                    </article>
                                    <article class="course-review">
                                        <div>
                                            <img alt="" class="avatar avatar-60 photo pull-left mr-sm img-circle" src="images/default-profile.jpg" height="60" width="60" />
                                            <div class="reviewd-user">
                                                <strong>TRX_admin</strong>
                                                <time>February 16, 2015</time>
                                                <div>
                                                    <input type="hidden" class="rating" data-filled="fa fa-star rated" data-empty="fa fa-star" value="2" data-readonly/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-justify">
                                            <p>Mauris non rhoncus mauris, ut porta nunc. Nullam tincidunt tempus ligula, a dapibus massa ullamcorper et. Aliquam facilisis, massa in malesuada vehicula, odio mauris gravida sem, molestie imperdiet metus urna sit amet ex. Praesent egestas, nisi vel finibus finibus, dui nulla aliquam metus, sit amet lacinia diam justo sed mauris.</p>
                                        </div>
                                    </article>
                                    <article class="course-review">
                                        <div>
                                            <img alt="" class="avatar avatar-60 photo pull-left mr-sm img-circle" src="images/default-profile.jpg" height="60" width="60" />
                                            <div class="reviewd-user">
                                                <strong>TRX_admin</strong>
                                                <time>February 16, 2015</time>
                                                <div>
                                                    <input type="hidden" class="rating" data-filled="fa fa-star rated" data-empty="fa fa-star" value="2" data-readonly/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-justify">
                                            <p>Mauris non rhoncus mauris, ut porta nunc. Nullam tincidunt tempus ligula, a dapibus massa ullamcorper et. Aliquam facilisis, massa in malesuada vehicula, odio mauris gravida sem, molestie imperdiet metus urna sit amet ex. Praesent egestas, nisi vel finibus finibus, dui nulla aliquam metus, sit amet lacinia diam justo sed mauris.</p>
                                        </div>
                                    </article>
                                    <article class="course-review">
                                        <div>
                                            <img alt="" class="avatar avatar-60 photo pull-left mr-sm img-circle" src="images/default-profile.jpg" height="60" width="60" />
                                            <div class="reviewd-user">
                                                <strong>TRX_admin</strong>
                                                <time>February 16, 2015</time>
                                                <div>
                                                    <input type="hidden" class="rating" data-filled="fa fa-star rated" data-empty="fa fa-star" value="2" data-readonly/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-justify">
                                            <p>Mauris non rhoncus mauris, ut porta nunc. Nullam tincidunt tempus ligula, a dapibus massa ullamcorper et. Aliquam facilisis, massa in malesuada vehicula, odio mauris gravida sem, molestie imperdiet metus urna sit amet ex. Praesent egestas, nisi vel finibus finibus, dui nulla aliquam metus, sit amet lacinia diam justo sed mauris.</p>
                                        </div>
                                    </article>
                                    <article class="course-review">
                                        <div>
                                            <img alt="" class="avatar avatar-60 photo pull-left mr-sm img-circle" src="images/default-profile.jpg" height="60" width="60" />
                                            <div class="reviewd-user">
                                                <strong>TRX_admin</strong>
                                                <time>February 16, 2015</time>
                                                <div>
                                                    <input type="hidden" class="rating" data-filled="fa fa-star rated" data-empty="fa fa-star" value="2" data-readonly/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-justify">
                                            <p>Mauris non rhoncus mauris, ut porta nunc. Nullam tincidunt tempus ligula, a dapibus massa ullamcorper et. Aliquam facilisis, massa in malesuada vehicula, odio mauris gravida sem, molestie imperdiet metus urna sit amet ex. Praesent egestas, nisi vel finibus finibus, dui nulla aliquam metus, sit amet lacinia diam justo sed mauris.</p>
                                        </div>
                                    </article>
                                </div>
                                <div class="row-fluid text-right">
                                    <ul class="pagination pagination-sm">
                                        <li class="disabled"><a href="javascript:void(0)">«</a></li>
                                        <li class="active"><a href="javascript:void(0)">1</a></li>
                                        <li><a href="javascript:void(0)">2</a></li>
                                        <li><a href="javascript:void(0)">3</a></li>
                                        <li><a href="javascript:void(0)">»</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Comments -->
                        </div>
                    </div>
                </div>
            </div>
    </section>
    </div>
    <div class="modal fade feedback" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog">
            <div class="modal-content p-lg">
                <div class="text-center">
                    <h3><a href="">Vivek Narayanan</a></h3>
                    <p class="lead">IIT, Kanpur</p>
                    <div class="form-group row">
                        <div>Your rating</div>
                        <div class="text-center">
                            <input type="hidden" class="rating" data-filled="fa fa-star fa-2x rated" data-empty="fa fa-star fa-2x" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="feedback">Feedback</label>
                    <textarea id="feedback" class="form-control border">
                    </textarea>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-info btn-raised" data-dismiss="modal">Send </button>
                    <button class="btn btn-default btn-raised" data-dismiss="modal">Cancel </button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    $('textarea').val('');
    </script>