@charset "utf-8";

/* Responsive styles
-------------------------------------------------------------- */


/*
Apple iPhone 5, 5S & 5C 
Apple iPod Touch (5th generation)
*/

@media (min-width: 1136px) and (max-width: 1367px) {
    /* Body sizes */
    .body_style_boxed .page_wrap {
        width: 1050px;
    }
    .slider_boxed,
    .content_wrap,
    .content_container {
        width: 1000px;
    }
    /* Content and Sidebar */
    .sidebar_show .content {
        width: 700px;
    }
    .sidebar {
        width: 250px;
    }
    /* Fullwide or Fullscreen with sidebar */
    .body_style_fullwide.sidebar_right .content,
    .body_style_fullscreen.sidebar_right .content {
        padding-right: 300px;
    }
    .body_style_fullwide.sidebar_right .sidebar,
    .body_style_fullscreen.sidebar_right .sidebar {
        margin-left: -250px;
    }
    .body_style_fullwide.sidebar_left .content,
    .body_style_fullscreen.sidebar_left .content {
        padding-left: 300px;
    }
    .body_style_fullwide.sidebar_left .sidebar,
    .body_style_fullscreen.sidebar_left .sidebar {
        margin-right: -250px;
    }
    /* Menu area */
    .menu_main_wrap .search_wrap {
        margin-top: 2em;
    }
    /* Posts layouts */
    .post_item_courses .post_category {
        max-height: 1.2em;
        overflow: hidden;
    }
    .post_item_courses .post_descr .post_price {
        margin-top: 1.2em;
    }
    /* Widgets */
    .widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li + li {
        margin-left: 0.4em;
    }
    .widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li a {
        padding: 2px 0.5em;
    }
}


/*
Apple iPhone 4 & 4S
Apple iPod Touch (4th generation)
*/

@media (min-width: 960px) and (max-width: 1135px) {
    /* Body sizes */
    .body_style_boxed .page_wrap {
        width: 900px;
    }
    .slider_boxed,
    .content_wrap,
    .content_container {
        width: 850px;
    }
    /* Content and Sidebar */
    .sidebar_show .content {
        width: 600px;
    }
    .sidebar {
        width: 220px;
    }
    /* Fullwide or Fullscreen with sidebar */
    .body_style_fullwide.sidebar_right .content,
    .body_style_fullscreen.sidebar_right .content {
        padding-right: 250px;
    }
    .body_style_fullwide.sidebar_right .sidebar,
    .body_style_fullscreen.sidebar_right .sidebar {
        margin-left: -220px;
    }
    .body_style_fullwide.sidebar_left .content,
    .body_style_fullscreen.sidebar_left .content {
        padding-left: 250px;
    }
    .body_style_fullwide.sidebar_left .sidebar,
    .body_style_fullscreen.sidebar_left .sidebar {
        margin-right: -220px;
    }
    /* Grid */
    .container,
    .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }
    .row,
    .columns_wrap {
        margin-right: -30px;
    }
    .row > [class*="column-"],
    .columns_wrap > [class*="column-"] {
        padding-right: 30px;
    }
    .row.column_padding_left,
    .columns_wrap.column_padding_left {
        margin-left: -30px;
    }
    .row.column_padding_left > [class*="column-"],
    .columns_wrap.column_padding_left > [class*="column-"],
    .row > [class*="column-"].column_padding_left,
    .columns_wrap > [class*="column-"].column_padding_left {
        padding-left: 30px;
    }
    .row.column_padding_right,
    .columns_wrap.column_padding_right {
        margin-right: -30px;
    }
    .row.column_padding_right > [class*="column-"],
    .columns_wrap.column_padding_right > [class*="column-"],
    .row > [class*="column-"].column_padding_right,
    .columns_wrap > [class*="column-"].column_padding_right {
        padding-right: 30px;
    }
    .row.column_padding_center,
    .columns_wrap.column_padding_center {
        margin-left: -15px;
        margin-right: -15px;
    }
    .row.column_padding_center > [class*="column-"],
    .columns_wrap.column_padding_center > [class*="column-"],
    .row > [class*="column-"].column_padding_center,
    .columns_wrap > [class*="column-"].column_padding_center {
        padding-left: 30px;
    }
    .row > [class*="column-"].column_padding_bottom,
    .columns_wrap > [class*="column-"].column_padding_bottom {
        padding-bottom: 30px;
    }
    .isotope_wrap {
        margin-right: -30px;
    }
    .isotope_wrap .isotope_item {
        padding-right: 30px;
        padding-bottom: 30px;
    }
    /* Menu area */
    .menu_right .menu_main_wrap.search_opened .menu_main_nav_area {
        display: none;
    }
    /* Posts layouts */
    .post_item_courses .post_category {
        max-height: 1.2em;
        overflow: hidden;
    }
    .post_item_courses .post_descr .post_price {
        margin-top: 1.2em;
    }
    /* Widgets */
    .widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li + li {
        margin-left: 0.4em;
    }
    .widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li a {
        padding: 2px 0.25em;
    }
    .widget_area .widget_calendar td .day_wrap {
        padding: 6px 3px;
    }
    /* Woocommerce */
    .woocommerce ul.products,
    .woocommerce-page ul.products {
        margin-right: -30px;
    }
    .woocommerce.columns-1 ul.products li.product,
    .woocommerce-page.columns-1 ul.products li.product,
    .woocommerce ul.products li.product,
    .woocommerce-page ul.products li.product {
        padding: 0 30px 30px 0;
    }
    .woocommerce .widget_price_filter .price_label {
        font-size: 1em;
    }
    .woocommerce ul.products li.product .price,
    .woocommerce-page ul.products li.product .price {
        font-size: 1em;
    }
    .menu_user_cart .widget_shopping_cart ul.cart_list > li > a:not(.remove) {
        margin-top: -0.15em;
    }
}


/*
Sony Xperia
LG Optimus
Blackberry Storm 3, Torch 9850 & Torch 9860
Nokia Lumia 610, 710 & 800
HTC Desire, Desire Z, Desire S & One V
Samsung Galaxy
*/

@media (min-width: 800px) and (max-width: 959px) {
    /* Body sizes */
    .body_style_boxed .page_wrap {
        width: 760px;
    }
    .slider_boxed,
    .content_wrap,
    .content_container {
        width: 720px;
    }
    /* Content and Sidebar */
    .sidebar_show .content {
        width: 100%;
        float: none;
    }
    .sidebar {
        width: 100%;
        float: none;
    }
    .article_style_boxed .sidebar {
        margin-top: 20px;
    }
    .sidebar aside {
        display: inline-block;
        vertical-align: top;
        width: 30%;
        margin-left: 3.5%;
    }
    .sidebar aside+aside {
        padding-top: 0;
        border-top: none;
        margin-top: 0;
    }
    .sidebar aside:nth-child(3n+1) {
        margin-left: 0;
    }
    .sidebar aside:nth-child(3n+4),
    .sidebar aside:nth-child(3n+5),
    .sidebar aside:nth-child(3n+6) {
        padding-top: 20px;
        border-top: 1px solid #f4f7f9;
        margin-top: 20px;
    }
    /* Fullwide or Fullscreen with sidebar */
    .body_style_fullwide.sidebar_right .content,
    .body_style_fullscreen.sidebar_right .content {
        padding-right: 0;
    }
    .body_style_fullwide.sidebar_right .sidebar,
    .body_style_fullscreen.sidebar_right .sidebar {
        margin-left: 0;
    }
    .body_style_fullwide.sidebar_left .content,
    .body_style_fullscreen.sidebar_left .content {
        padding-left: 0;
    }
    .body_style_fullwide.sidebar_left .sidebar,
    .body_style_fullscreen.sidebar_left .sidebar {
        margin-right: 0;
    }
    /* Grid */
    .container,
    .container-fluid {
        padding-left: 10px;
        padding-right: 10px;
    }
    .row,
    .columns_wrap {
        margin-right: -20px;
    }
    .row > [class*="column-"],
    .columns_wrap > [class*="column-"] {
        padding-right: 20px;
    }
    .row.column_padding_left,
    .columns_wrap.column_padding_left {
        margin-left: -20px;
    }
    .row.column_padding_left > [class*="column-"],
    .columns_wrap.column_padding_left > [class*="column-"],
    .row > [class*="column-"].column_padding_left,
    .columns_wrap > [class*="column-"].column_padding_left {
        padding-left: 20px;
    }
    .row.column_padding_right,
    .columns_wrap.column_padding_right {
        margin-right: -20px;
    }
    .row.column_padding_right > [class*="column-"],
    .columns_wrap.column_padding_right > [class*="column-"],
    .row > [class*="column-"].column_padding_right,
    .columns_wrap > [class*="column-"].column_padding_right {
        padding-right: 20px;
    }
    .row.column_padding_center,
    .columns_wrap.column_padding_center {
        margin-left: -10px;
        margin-right: -10px;
    }
    .row.column_padding_center > [class*="column-"],
    .columns_wrap.column_padding_center > [class*="column-"],
    .row > [class*="column-"].column_padding_center,
    .columns_wrap > [class*="column-"].column_padding_center {
        padding-left: 20px;
    }
    .row > [class*="column-"].column_padding_bottom,
    .columns_wrap > [class*="column-"].column_padding_bottom {
        padding-bottom: 20px;
    }
    .isotope_wrap {
        margin-right: -20px;
    }
    .isotope_wrap .isotope_item {
        padding-right: 20px;
        padding-bottom: 20px;
    }
    .gallery.gallery-columns-9 .gallery-item {
        width: 20% !important;
    }
    .gallery.gallery-columns-8 .gallery-item {
        width: 20% !important;
    }
    .gallery.gallery-columns-7 .gallery-item {
        width: 20% !important;
    }
    .gallery.gallery-columns-6 .gallery-item {
        width: 20% !important;
    }
    /* Menu area */
    .menu_right .menu_main_wrap.search_opened .menu_main_nav_area {
        display: none;
    }
    /* Posts layouts */
    .post_item_courses .post_category {
        max-height: 1.2em;
        overflow: hidden;
    }
    .post_item_courses .post_descr .post_price {
        margin-top: 1.2em;
    }
    .post_item_courses .post_info_wrap .post_button + .post_button {
        margin-left: 0.4em;
    }
    /* Widgets */
    .widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li + li {
        margin-left: 0.4em;
    }
    .widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li a {
        padding: 2px 0.5em;
    }
    /* Woocommerce */
    .woocommerce ul.products,
    .woocommerce-page ul.products {
        margin-right: -20px;
    }
    .woocommerce.columns-1 ul.products li.product,
    .woocommerce-page.columns-1 ul.products li.product,
    .woocommerce ul.products li.product,
    .woocommerce-page ul.products li.product {
        padding: 0 20px 20px 0;
    }
    .woocommerce .widget_price_filter .price_label {
        font-size: 1em;
    }
    .woocommerce ul.products li.product .price,
    .woocommerce-page ul.products li.product .price {
        font-size: 1em;
    }
    .menu_user_cart .widget_shopping_cart ul.cart_list > li > a:not(.remove) {
        margin-top: -0.15em;
    }
    .woocommerce table.cart img,
    .woocommerce #content table.cart img,
    .woocommerce-page table.cart img,
    .woocommerce-page #content table.cart img {
        width: 60px;
    }
    .woocommerce table.cart td,
    .woocommerce #content table.cart td,
    .woocommerce-page table.cart td,
    .woocommerce-page #content table.cart td {
        padding: 8px;
    }
    /* Scroll to Top */
    .scroll_to_top {
        right: 1em;
    }
    .scroll_to_top.show {
        bottom: 1em;
    }
}


/*
Portrait orientation
Sony Xperia
LG Optimus
Blackberry Storm 3, Torch 9850 & Torch 9860
Nokia Lumia 610, 710 & 800
HTC Desire, Desire Z, Desire S & One V
Samsung Galaxy
*/

@media (min-width: 480px) and (max-width: 799px) {
    /* Body sizes */
    .body_style_boxed .page_wrap {
        width: 450px;
    }
    .slider_boxed,
    .content_wrap,
    .content_container {
        width: 420px;
    }
    /* Content and Sidebar */
    .sidebar_show .content {
        width: 100%;
        float: none;
    }
    .sidebar {
        width: 100%;
        float: none;
    }
    .article_style_boxed .sidebar {
        margin-top: 20px;
    }
    .widget_area aside {
        display: inline-block;
        float: none;
        vertical-align: top;
        width: 47%;
        margin-left: 4%;
    }
    .widget_area aside[class*="column-"] {
        margin-left: 0;
    }
    .widget_area aside+aside {
        padding-top: 0;
        border-top: none;
        margin-top: 0;
    }
    .widget_area aside:nth-child(2n+1) {
        margin-left: 0;
    }
    .widget_area aside:nth-child(2n+3),
    .widget_area aside:nth-child(2n+4) {
        padding-top: 10px;
        border-top: 1px solid #f4f7f9;
        margin-top: 10px;
    }
    /* Fullwide or Fullscreen with sidebar */
    .body_style_fullwide.sidebar_right .content,
    .body_style_fullscreen.sidebar_right .content {
        padding-right: 0;
    }
    .body_style_fullwide.sidebar_right .sidebar,
    .body_style_fullscreen.sidebar_right .sidebar {
        margin-left: 0;
    }
    .body_style_fullwide.sidebar_left .content,
    .body_style_fullscreen.sidebar_left .content {
        padding-left: 0;
    }
    .body_style_fullwide.sidebar_left .sidebar,
    .body_style_fullscreen.sidebar_left .sidebar {
        margin-right: 0;
    }
    /* Grid */
    .container,
    .container-fluid {
        padding-left: 10px;
        padding-right: 10px;
    }
    .row,
    .columns_wrap {
        margin-right: -20px;
    }
    .row > [class*="column-"],
    .columns_wrap > [class*="column-"] {
        padding-right: 20px;
    }
    .row.column_padding_left,
    .columns_wrap.column_padding_left {
        margin-left: -20px;
    }
    .row.column_padding_left > [class*="column-"],
    .columns_wrap.column_padding_left > [class*="column-"],
    .row > [class*="column-"].column_padding_left,
    .columns_wrap > [class*="column-"].column_padding_left {
        padding-left: 20px;
    }
    .row.column_padding_right,
    .columns_wrap.column_padding_right {
        margin-right: -20px;
    }
    .row.column_padding_right > [class*="column-"],
    .columns_wrap.column_padding_right > [class*="column-"],
    .row > [class*="column-"].column_padding_right,
    .columns_wrap > [class*="column-"].column_padding_right {
        padding-right: 20px;
    }
    .row.column_padding_center,
    .columns_wrap.column_padding_center {
        margin-left: -10px;
        margin-right: -10px;
    }
    .row.column_padding_center > [class*="column-"],
    .columns_wrap.column_padding_center > [class*="column-"],
    .row > [class*="column-"].column_padding_center,
    .columns_wrap > [class*="column-"].column_padding_center {
        padding-left: 20px;
    }
    .row > [class*="column-"].column_padding_bottom,
    .columns_wrap > [class*="column-"].column_padding_bottom {
        padding-bottom: 20px;
    }
    /* Columns relayout (max 2 columns in the row) */
    .row:not(.columns_fluid) > [class*="column-"],
    .columns_wrap:not(.columns_fluid) > [class*="column-"] {
        width: 49%;
    }
    .row:not(.columns_fluid) > .column-1_1,
    .row:not(.columns_fluid) > .column-2_2,
    .row:not(.columns_fluid) > .column-3_3,
    .row:not(.columns_fluid) > .column-4_4,
    .row:not(.columns_fluid) > .column-5_5,
    .row:not(.columns_fluid) > .column-6_6,
    .row:not(.columns_fluid) > .column-7_7,
    .row:not(.columns_fluid) > .column-8_8,
    .row:not(.columns_fluid) > .column-9_9,
    .row:not(.columns_fluid) > .column-10_10,
    .row:not(.columns_fluid) > .column-11_11,
    .row:not(.columns_fluid) > .column-12_12,
    .columns_wrap:not(.columns_fluid) > .column-1_1,
    .columns_wrap:not(.columns_fluid) > .column-2_2,
    .columns_wrap:not(.columns_fluid) > .column-3_3,
    .columns_wrap:not(.columns_fluid) > .column-4_4,
    .columns_wrap:not(.columns_fluid) > .column-5_5,
    .columns_wrap:not(.columns_fluid) > .column-6_6,
    .columns_wrap:not(.columns_fluid) > .column-7_7,
    .columns_wrap:not(.columns_fluid) > .column-8_8,
    .columns_wrap:not(.columns_fluid) > .column-9_9,
    .columns_wrap:not(.columns_fluid) > .column-10_10,
    .columns_wrap:not(.columns_fluid) > .column-11_11,
    .columns_wrap:not(.columns_fluid) > .column-12_12,
    .row:not(.columns_fluid) > .column-1_3:nth-child(3),
    .columns_wrap:not(.columns_fluid) > .column-1_3:nth-child(3),
    .row:not(.columns_fluid) > .column-2_3,
    .columns_wrap:not(.columns_fluid) > .column-2_3,
    .row:not(.columns_fluid) > .column-1_3.after_span_2,
    .columns_wrap:not(.columns_fluid) > .column-1_3.after_span_2,
    .row:not(.columns_fluid) > .column-2_4,
    .columns_wrap:not(.columns_fluid) > .column-3_4,
    .row:not(.columns_fluid) > .column-1_4.after_span_2,
    .columns_wrap:not(.columns_fluid) > .column-1_4.after_span_3,
    .row:not(.columns_fluid) > .column-1_5:nth-child(5),
    .columns_wrap:not(.columns_fluid) > .column-1_5:nth-child(5),
    .row:not(.columns_fluid) > .column-2_5,
    .columns_wrap:not(.columns_fluid) > .column-2_5,
    .row:not(.columns_fluid) > .column-3_5,
    .columns_wrap:not(.columns_fluid) > .column-3_5,
    .row:not(.columns_fluid) > .column-4_5,
    .columns_wrap:not(.columns_fluid) > .column-4_5,
    .row:not(.columns_fluid) > .column-2_6,
    .columns_wrap:not(.columns_fluid) > .column-2_6,
    .row:not(.columns_fluid) > .column-3_6,
    .columns_wrap:not(.columns_fluid) > .column-3_6,
    .row:not(.columns_fluid) > .column-4_6,
    .columns_wrap:not(.columns_fluid) > .column-4_6,
    .row:not(.columns_fluid) > .column-5_6,
    .columns_wrap:not(.columns_fluid) > .column-5_6 {
        width: 100%;
    }
    .row:not(.columns_fluid) > [class*="column-"]:nth-child(2n+3),
    .columns_wrap:not(.columns_fluid) > [class*="column-"]:nth-child(2n+3),
    .row:not(.columns_fluid) > [class*="column-"]:nth-child(2n+4),
    .columns_wrap:not(.columns_fluid) > [class*="column-"]:nth-child(2n+4) {
        padding-top: 20px;
    }
    .woocommerce.columns-3 ul.products li.product,
    .woocommerce-page.columns-3 ul.products li.product,
    .woocommerce ul.products li.product.column-1_3,
    .woocommerce-page ul.products li.product.column-1_3,
    .woocommerce.columns-4 ul.products li.product,
    .woocommerce-page.columns-4 ul.products li.product,
    .woocommerce ul.products li.product.column-1_4,
    .woocommerce-page ul.products li.product.column-1_4,
    .woocommerce.columns-5 ul.products li.product,
    .woocommerce-page.columns-5 ul.products li.product,
    .woocommerce ul.products li.product.column-1_5,
    .woocommerce-page ul.products li.product.column-1_5,
    .woocommerce.columns-6 ul.products li.product,
    .woocommerce-page.columns-6 ul.products li.product,
    .woocommerce ul.products li.product.column-1_6,
    .woocommerce-page ul.products li.product.column-1_6 {
        width: 50%;
    }
    .woocommerce ul.products li.first,
    .woocommerce-page ul.products li.first {
        clear: none;
    }
    .woocommerce ul.products li:nth-child(2n+3),
    .woocommerce-page ul.products li:nth-child(2n+3) {
        clear: both;
    }
    .isotope_wrap {
        margin-right: -20px;
    }
    .isotope_wrap .isotope_item {
        padding-right: 20px;
        padding-bottom: 20px;
    }
    .gallery.gallery-columns-9 .gallery-item {
        width: 33.3333% !important;
    }
    .gallery.gallery-columns-8 .gallery-item {
        width: 33.3333% !important;
    }
    .gallery.gallery-columns-7 .gallery-item {
        width: 33.3333% !important;
    }
    .gallery.gallery-columns-6 .gallery-item {
        width: 33.3333% !important;
    }
    .gallery.gallery-columns-5 .gallery-item {
        width: 33.3333% !important;
    }
    .gallery.gallery-columns-4 .gallery-item {
        width: 33.3333% !important;
    }
    /* Menu area */
    .admin-bar.top_panel_over .top_panel_wrap {
        top: 46px;
    }
    .admin-bar.top_panel_fixed .top_panel_wrap {
        top: 46px;
    }
    .admin-bar #debug_log {
        top: 46px;
    }
    .menu_user_wrap .menu_user_left {
        float: none;
        line-height: 1.3;
        text-align: center;
        margin-top: 3em;
    }
    .menu_user_wrap .menu_user_contact_area {
        padding-top: 4px;
    }
    .menu_main_wrap .logo {
        max-width: 50%;
        margin-top: 1em;
    }
    .menu_main_wrap .search_wrap {
        margin-top: 1em;
    }
    .menu_main_responsive_button {
        margin-top: 1em;
    }
    .top_panel_over.top_panel_opacity_transparent.top_panel_style_dark .menu_main_wrap .content_wrap:after {
        display: none;
    }
    .menu_user_wrap .menu_user_nav > li > ul {
        top: 21px;
    }
    .page_top_wrap .breadcrumbs {
        float: none;
    }
    .page_top_wrap.page_top_title .breadcrumbs {
        max-width: 100%;
        padding: 1.5em 0 0 0;
    }
    /* Posts layouts */
    .body_style_fullscreen.layout_single-courses .post_featured {
        max-height: 20em;
    }
    .post_featured_left > .post_featured,
    .post_featured_right > .post_featured {
        float: none;
        margin-left: 0;
        margin-bottom: 2em;
        width: 100%;
    }
    .isotope_wrap .isotope_column_3 {
        width: 50%;
    }
    .isotope_wrap .isotope_item_courses .post_item .hover_icon,
    .isotope_wrap .isotope_item_grid .post_item .hover_icon,
    .isotope_wrap .isotope_item_square .post_item .hover_icon,
    .isotope_wrap .isotope_item_portfolio .post_item .hover_icon {
        display: none;
    }
    .ih-item.square.effect1.bottom_to_top .info .post_title {
        margin-top: 35% !important;
    }
    .post_item_courses .post_category {
        max-height: 1.2em;
        overflow: hidden;
    }
    .post_item_courses .post_descr .post_price {
        margin-top: 1.2em;
    }
    .post_item_courses .post_info_wrap .post_button + .post_button {
        margin-left: 0.4em;
    }
    .post_item_courses .post_featured .post_title,
    .post_item_courses .post_featured .post_descr {
        padding: 4px 8px;
    }
    .ih-item.square.effect_dir .info .post_title {
        margin-bottom: 1% !important;
        margin-top: 1% !important;
        padding-bottom: 0 !important;
    }
    .body_style_fullscreen.layout_single-courses .post_featured .post_icon {
        font-size: 2.5em;
        margin-top: 0.33em;
    }
    .body_style_fullscreen.layout_single-courses .post_featured .post_categories:after {
        margin-top: 1em;
    }
    .body_style_fullscreen.layout_single-courses .post_featured .post_title {
        font-size: 2em;
        line-height: 1.2em;
        max-width: 95%;
    }
    .body_style_fullscreen.layout_single-courses .post_featured .post_button {
        margin-top: 1em;
    }
    .comments_list_wrap ul ul ul {
        /* padding-left:0; */
        margin-left: 0;
    }
    /* Reviews block */
    .reviews_block {
        width: 100%;
    }
    .content .reviews_block {
        float: none;
        margin-left: 0;
    }
    /* Widgets */
    td,
    th {
        padding: 2px;
    }
    .widget_area .post_item .post_title {
        margin-top: 0;
    }
    .widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li + li {
        margin-left: 0.4em;
    }
    .widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li a {
        padding: 2px 0.5em;
    }
    /* Woocommerce */
    .woocommerce-shipping-fields {
        margin-top: 2em;
    }
    .woocommerce ul.products,
    .woocommerce-page ul.products {
        margin-right: -20px;
    }
    .woocommerce.columns-1 ul.products li.product,
    .woocommerce-page.columns-1 ul.products li.product,
    .woocommerce ul.products li.product,
    .woocommerce-page ul.products li.product {
        padding: 0 20px 20px 0;
    }
    .woocommerce .widget_price_filter .price_label {
        font-size: 1em;
    }
    .woocommerce ul.products li.product .price,
    .woocommerce-page ul.products li.product .price {
        font-size: 1em;
    }
    .menu_user_cart .widget_shopping_cart ul.cart_list > li > a:not(.remove) {
        margin-top: -0.15em;
    }
    .woocommerce table.cart img,
    .woocommerce #content table.cart img,
    .woocommerce-page table.cart img,
    .woocommerce-page #content table.cart img {
        width: 50px;
    }
    .woocommerce table.cart td,
    .woocommerce #content table.cart td,
    .woocommerce-page table.cart td,
    .woocommerce-page #content table.cart td {
        padding: 6px;
    }
    /* Shortcodes */
    .sc_accordion.sc_accordion_style_2 .sc_accordion_item .sc_accordion_title .sc_accordion_icon {
        border-width: 1px;
    }
    .sc_tabs.sc_tabs_style_1 .sc_tabs_titles li.ui-state-active a:after {
        height: 2px;
    }
    input.sc_button_size_large[type="submit"],
    input.sc_button_size_large[type="button"],
    button.sc_button_size_large,
    .sc_button.sc_button_size_large {
        padding: 1em 1.25em;
    }
    input.sc_button_size_medium[type="submit"],
    input.sc_button_size_medium[type="button"],
    button.sc_button_size_medium,
    .sc_button.sc_button_size_medium {
        padding: 0.8em 1em;
    }
    input[type="submit"]:before,
    input[type="button"]:before,
    button:before,
    .sc_button:before {
        margin-right: 4px;
    }
    .sc_price_block .sc_price_block_description {
        height: 5.5em;
    }
    .sc_slider,
    .sc_slider .swiper_slide {
        max-height: 210px;
    }
    .sc_tabs .sc_tabs_titles li a {
        padding: 0.5em;
    }
    /* Scroll to Top */
    .scroll_to_top {
        right: 1em;
    }
    .scroll_to_top.show {
        bottom: 1em;
    }
    /* Info section */
    .sc_columns_count_2 .column-1_2.sc_info_st1 {
        width: 100%;
    }
    /* Testimonials slider */
    .sc_slider_swiper {
        min-height: 180px !important;
    }
    /* Events calendar */
    #tribe-bar-collapse-toggle {
        display: block;
        width: 60%;
        padding-top: 20px;
    }
    .tribe-bar-filters {
        display: none !important;
    }
    #tribe-bar-form #tribe-bar-views {
        left: 0;
        width: 40%;
    }
    #tribe-bar-form.tribe-bar-collapse .tribe-bar-views-inner {
        padding-bottom: 35px;
        padding-left: 0;
        padding-right: 0;
        padding-top: 10px;
    }
    .tribe-bar-views-inner {
        padding-top: 10px;
        padding-bottom: 40px;
    }
    /* Reviews section */
    .sc_reviews.alignright {
        margin-left: 0;
        margin-bottom: 40px;
    }
    .sc_reviews + h2.margin_top_2em {
        margin-top: 0;
    }
    /* Homepage */
    .sc_features_st1 {
        width: 80% !important;
    }
    /* Revolution slider */
    .tp-caption .slide_text {
        font-size: 10px !important;
        padding-right: 5px !important;
    }
    #rev_slider_3_1 .slide2 .title,
    #rev_slider_3_1 .slide2 .slide_text,
    #rev_slider_3_1 .slide2 .slide_button {
        margin-left: 80px;
    }
    /* Related posts */
    .sidebar_hide .related_wrap.scroll_wrap .post_item_related {
        width: 420px;
    }
    .sidebar_show .related_wrap.scroll_wrap .post_item_related {
        width: 375px;
    }
    .sc_video_st2 {
        width: 95% !important;
        float: none;
        margin-top: 0.5em;
    }
    /* Isotope items */
    .post_item_courses .post_info_wrap .post_button {
        margin-top: 5px;
    }
    .isotope_item_content.ih-item.circle .post_descr a {
        height: 20px;
    }
    .isotope_item_content.ih-item.square .post_descr p a {
        display: none;
    }
    .ih-item.circle.effect10.bottom_to_top .info .post_title {
        margin-top: 55%;
        padding-top: 0;
    }
    /* Course pages */
    .sc_course_info_st1 {
        margin-bottom: 50px;
    }
    .post_info_time,
    .post_info_length {
        font-size: 0.95em;
    }
    .post_item_single_courses .post_icon:before {
        margin: 10px 0;
    }
    /* Team page */
    .res_width_100per_imp {
        width: 100% !important;
        margin-top: 20px;
        padding-right: 0;
    }
    .res_width_100per_imp blockquote.width_80per {
        width: 100%;
    }
    .comments_field.comments_site.column-1_1 {
        padding-top: 0 !important;
    }
    /* Cart page */
    .actions input {
        display: block !important;
        margin: 5px auto !important;
    }
    .menu_main_wrap .menu_main_nav_area .menu_main_responsive a:hover,
    .menu_main_wrap .menu_main_nav_area .menu_main_responsive li.current-menu-item,
    .menu-item.menu-item-has-children.current-menu-ancestor.current-menu-parent> a {
        background-color: #018763;
    }
}


/*
Very common low res
*/

@media (max-width: 479px) {
    /* Body sizes */
    .body_style_boxed .page_wrap {
        width: 300px;
    }
    .slider_boxed,
    .content_wrap,
    .content_container {
        width: 280px;
    }
    /* Content and Sidebar */
    .sidebar_show .content {
        width: 100%;
        float: none;
    }
    .sidebar {
        width: 100%;
        float: none;
    }
    .article_style_boxed .sidebar {
        margin-top: 10px;
    }
    .widget_area aside {
        display: block;
        float: none;
        width: 100%;
        margin-left: 0 !important;
    }
    .widget_area aside+aside {
        padding-top: 10px;
        border-top: 1px solid #f4f7f9;
        margin-top: 10px;
    }
    /* Fullwide or Fullscreen with sidebar */
    .body_style_fullwide.sidebar_right .content,
    .body_style_fullscreen.sidebar_right .content {
        padding-right: 0;
    }
    .body_style_fullwide.sidebar_right .sidebar,
    .body_style_fullscreen.sidebar_right .sidebar {
        margin-left: 0;
    }
    .body_style_fullwide.sidebar_left .content,
    .body_style_fullscreen.sidebar_left .content {
        padding-left: 0;
    }
    .body_style_fullwide.sidebar_left .sidebar,
    .body_style_fullscreen.sidebar_left .sidebar {
        margin-right: 0;
    }
    /* Grid */
    .container,
    .container-fluid {
        padding-left: 5px;
        padding-right: 5px;
    }
    .row,
    .columns_wrap {
        margin-right: -10px;
    }
    .row > [class*="column-"],
    .columns_wrap > [class*="column-"] {
        padding-right: 10px;
    }
    .row.column_padding_left,
    .columns_wrap.column_padding_left {
        margin-left: -10px;
    }
    .row.column_padding_left > [class*="column-"],
    .columns_wrap.column_padding_left > [class*="column-"],
    .row > [class*="column-"].column_padding_left,
    .columns_wrap > [class*="column-"].column_padding_left {
        padding-left: 10px;
    }
    .row.column_padding_right,
    .columns_wrap.column_padding_right {
        margin-right: -10px;
    }
    .row.column_padding_right > [class*="column-"],
    .columns_wrap.column_padding_right > [class*="column-"],
    .row > [class*="column-"].column_padding_right,
    .columns_wrap > [class*="column-"].column_padding_right {
        padding-right: 10px;
    }
    .row.column_padding_center,
    .columns_wrap.column_padding_center {
        margin-left: -5px;
        margin-right: -5px;
    }
    .row.column_padding_center > [class*="column-"],
    .columns_wrap.column_padding_center > [class*="column-"],
    .row > [class*="column-"].column_padding_center,
    .columns_wrap > [class*="column-"].column_padding_center {
        padding-left: 10px;
    }
    .row > [class*="column-"].column_padding_bottom,
    .columns_wrap > [class*="column-"].column_padding_bottom {
        padding-bottom: 10px;
    }
    /* Columns relayout (no columns) */
    .row:not(.columns_fluid) > [class*="column-"],
    .columns_wrap:not(.columns_fluid) > [class*="column-"] {
        width: 100%;
    }
    .row.columns_fluid > [class*="column-"],
    .columns_wrap.columns_fluid > [class*="column-"] {
        width: 49%;
    }
    .row.columns_fluid > .column-1_1,
    .row.columns_fluid > .column-2_2,
    .row.columns_fluid > .column-3_3,
    .row.columns_fluid > .column-4_4,
    .row.columns_fluid > .column-5_5,
    .row.columns_fluid > .column-6_6,
    .row.columns_fluid > .column-7_7,
    .row.columns_fluid > .column-8_8,
    .row.columns_fluid > .column-9_9,
    .row.columns_fluid > .column-10_10,
    .row.columns_fluid > .column-11_11,
    .row.columns_fluid > .column-12_12,
    .columns_wrap.columns_fluid > .column-1_1,
    .columns_wrap.columns_fluid > .column-2_2,
    .columns_wrap.columns_fluid > .column-3_3,
    .columns_wrap.columns_fluid > .column-4_4,
    .columns_wrap.columns_fluid > .column-5_5,
    .columns_wrap.columns_fluid > .column-6_6,
    .columns_wrap.columns_fluid > .column-7_7,
    .columns_wrap.columns_fluid > .column-8_8,
    .columns_wrap.columns_fluid > .column-9_9,
    .columns_wrap.columns_fluid > .column-10_10,
    .columns_wrap.columns_fluid > .column-11_11,
    .columns_wrap.columns_fluid > .column-12_12,
    .row.columns_fluid > .column-1_3:nth-child(3),
    .columns_wrap.columns_fluid > .column-1_3:nth-child(3),
    .row.columns_fluid > .column-2_3,
    .columns_wrap.columns_fluid > .column-2_3,
    .row.columns_fluid > .column-1_3.after_span_2,
    .columns_wrap.columns_fluid > .column-1_3.after_span_2,
    .row.columns_fluid > .column-2_4,
    .columns_wrap.columns_fluid > .column-3_4,
    .row.columns_fluid > .column-1_4.after_span_2,
    .columns_wrap.columns_fluid > .column-1_4.after_span_3,
    .row.columns_fluid > .column-1_5:nth-child(5),
    .columns_wrap.columns_fluid > .column-1_5:nth-child(5),
    .row.columns_fluid > .column-2_5,
    .columns_wrap.columns_fluid > .column-2_5,
    .row.columns_fluid > .column-3_5,
    .columns_wrap.columns_fluid > .column-3_5,
    .row.columns_fluid > .column-4_5,
    .columns_wrap.columns_fluid > .column-4_5,
    .row.columns_fluid > .column-2_6,
    .columns_wrap.columns_fluid > .column-2_6,
    .row.columns_fluid > .column-3_6,
    .columns_wrap.columns_fluid > .column-3_6,
    .row.columns_fluid > .column-4_6,
    .columns_wrap.columns_fluid > .column-4_6,
    .row.columns_fluid > .column-5_6,
    .columns_wrap.columns_fluid > .column-5_6 {
        width: 100%;
    }
    .row:not(.columns_fluid) > [class*="column-"]+[class*="column-"],
    .columns_wrap:not(.columns_fluid) > [class*="column-"]+[class*="column-"],
    .row.columns_fluid > [class*="column-"]:nth-child(2n+3),
    .columns_wrap.columns_fluid > [class*="column-"]:nth-child(2n+3),
    .row.columns_fluid > [class*="column-"]:nth-child(2n+4),
    .columns_wrap.columns_fluid > [class*="column-"]:nth-child(2n+4) {
        padding-top: 10px;
    }
    .isotope_wrap {
        margin-right: -10px;
    }
    .isotope_wrap .isotope_item {
        padding-right: 10px;
        padding-bottom: 10px;
    }
    .gallery.gallery-columns-9 .gallery-item {
        width: 50% !important;
    }
    .gallery.gallery-columns-8 .gallery-item {
        width: 50% !important;
    }
    .gallery.gallery-columns-7 .gallery-item {
        width: 50% !important;
    }
    .gallery.gallery-columns-6 .gallery-item {
        width: 50% !important;
    }
    .gallery.gallery-columns-5 .gallery-item {
        width: 50% !important;
    }
    .gallery.gallery-columns-4 .gallery-item {
        width: 50% !important;
    }
    .gallery.gallery-columns-3 .gallery-item {
        width: 50% !important;
    }
    .woocommerce[class*="column-"] ul.products li.product,
    .woocommerce-page[class*="column-"] ul.products li.product,
    .woocommerce ul.products li.product[class*="column-"],
    .woocommerce-page ul.products li.product[class*="column-"],
    .woocommerce .related ul li.product,
    .woocommerce .related ul.products li.product,
    .woocommerce .upsells.products ul li.product,
    .woocommerce .upsells.products ul.products li.product,
    .woocommerce-page .related ul li.product,
    .woocommerce-page .related ul.products li.product,
    .woocommerce-page .upsells.products ul li.product,
    .woocommerce-page .upsells.products ul.products li.product {
        width: 100%;
        float: none;
    }
    /* Menu area */
    .admin-bar.top_panel_over .top_panel_wrap {
        top: 46px;
    }
    .admin-bar.top_panel_fixed .top_panel_wrap {
        top: 46px;
    }
    .admin-bar #debug_log {
        top: 46px;
    }
    .menu_user_wrap .menu_user_left {
        float: none;
        line-height: 1.3em;
        text-align: center;
        margin-top: 3em;
    }
    .menu_user_wrap .menu_user_contact_area {
        padding-top: 4px;
    }
    .menu_user_wrap .menu_user_nav > li {
        margin-bottom: 4px;
    }
    .menu_user_wrap .menu_user_nav > li.menu_user_register,
    .menu_user_wrap .menu_user_nav > li.menu_user_controls,
    .menu_user_wrap .menu_user_nav > li.menu_user_bookmarks {
        margin-left: 0.5em;
    }
    .menu_main_wrap .logo {
        max-width: 50%;
        margin-top: 1.5em;
    }
    .menu_main_wrap .search_wrap {
        margin-top: 1em;
    }
    .menu_main_responsive_button {
        margin-top: 1em;
    }
    .top_panel_over.top_panel_opacity_transparent.top_panel_style_dark .menu_main_wrap .content_wrap:after {
        display: none;
    }
    .menu_user_wrap .menu_user_nav > li > ul {
        top: 21px;
    }
    .menu_right .menu_main_wrap.search_opened .logo {
        display: none;
    }
    .menu_main_wrap .menu_main_nav_area .menu_main_responsive a:hover,
    .menu_main_wrap .menu_main_nav_area .menu_main_responsive li.current-menu-item,
    .menu-item.menu-item-has-children.current-menu-ancestor.current-menu-parent> a {
        background-color: #018763;
    }
    .page_top_wrap .breadcrumbs {
        float: none;
    }
    .page_top_wrap.page_top_title .breadcrumbs {
        max-width: 100%;
        padding: 1.5em 0 0 0;
    }
    /* Registration popup */
    .popup_wrap {
        width: 230px;
    }
    .popup_wrap .login_socials_title {
        font-size: 1.25em;
    }
    .popup_wrap input[type="text"],
    .popup_wrap input[type="email"],
    .popup_wrap input[type="password"] {
        font-size: 1em;
    }
    /* Posts layouts */
    .body_style_fullscreen.layout_single-courses .post_featured {
        max-height: 18em;
    }
    .post_featured_left > .post_featured,
    .post_featured_right > .post_featured {
        float: none;
        margin-left: 0;
        margin-bottom: 2em;
        width: 100%;
    }
    .isotope_wrap .isotope_item {
        width: 100% !important;
    }
    .body_style_fullscreen.layout_single-courses .post_featured .post_icon {
        font-size: 2.5em;
        margin-top: 0.33em;
    }
    .body_style_fullscreen.layout_single-courses .post_featured .post_categories:after {
        margin-top: 1em;
    }
    .body_style_fullscreen.layout_single-courses .post_featured .post_title {
        font-size: 1.5em;
        line-height: 1.2em;
        max-width: 95%;
    }
    .body_style_fullscreen.layout_single-courses .post_featured .post_button {
        margin-top: 1em;
    }
    .comments_list_wrap ul ul ul {
        /* padding-left:0; */
        margin-left: 0;
    }
    /* Reviews block */
    .reviews_block {
        width: 100%;
    }
    .content .reviews_block {
        float: none;
        margin-left: 0;
    }
    /* Widgets */
    td,
    th {
        padding: 2px;
    }
    .widget_area .post_item .post_title {
        margin-top: 0;
    }
    .widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li + li {
        margin-left: 0.4em;
    }
    .widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li a {
        padding: 2px 0.5em;
    }
    /* Woocommerce */
    .woocommerce-shipping-fields {
        margin-top: 2em;
    }
    .woocommerce ul.products,
    .woocommerce-page ul.products {
        margin-right: -20px;
    }
    .woocommerce.columns-1 ul.products li.product,
    .woocommerce-page.columns-1 ul.products li.product,
    .woocommerce ul.products li.product,
    .woocommerce-page ul.products li.product {
        padding: 0 20px 20px 0;
    }
    .woocommerce .widget_price_filter .price_label {
        font-size: 1em;
    }
    .woocommerce ul.products li.product .price,
    .woocommerce-page ul.products li.product .price {
        font-size: 1em;
    }
    .menu_user_cart .widget_shopping_cart ul.cart_list > li > a:not(.remove) {
        margin-top: -0.15em;
    }
    .woocommerce div.product .woocommerce-tabs ul.tabs li {
        padding: 0;
    }
    .woocommerce table.cart img,
    .woocommerce #content table.cart img,
    .woocommerce-page table.cart img,
    .woocommerce-page #content table.cart img {
        width: 40px;
    }
    .woocommerce table.cart td,
    .woocommerce #content table.cart td,
    .woocommerce-page table.cart td,
    .woocommerce-page #content table.cart td {
        padding: 4px;
    }
    .woocommerce div.product .woocommerce-tabs ul.tabs li a,
    .woocommerce #content div.product .woocommerce-tabs ul.tabs li a,
    .woocommerce-page div.product .woocommerce-tabs ul.tabs li a,
    .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a {
        font-size: 11px;
    }
    /* Shortcodes */
    .sc_accordion.sc_accordion_style_2 .sc_accordion_item .sc_accordion_title .sc_accordion_icon {
        border-width: 1px;
    }
    input.sc_button_size_large[type="submit"],
    input.sc_button_size_large[type="button"],
    button.sc_button_size_large,
    .sc_button.sc_button_size_large {
        padding: 1em 1.25em;
    }
    input.sc_button_size_medium[type="submit"],
    input.sc_button_size_medium[type="button"],
    button.sc_button_size_medium,
    .sc_button.sc_button_size_medium {
        padding: 0.8em 1em;
    }
    input[type="submit"]:before,
    input[type="button"]:before,
    button:before,
    .sc_button:before {
        margin-right: 4px;
    }
    .sc_contact_form.sc_contact_form_standard .sc_contact_form_field {
        float: none;
        width: 100%;
        padding-left: 0 !important;
    }
    .sc_price_block .sc_price_block_description {
        height: 5.5em;
    }
    .sc_slider,
    .sc_slider .swiper_slide {
        max-height: 130px;
    }
    .sc_tabs .sc_tabs_titles li a {
        padding: 0.5em;
    }
    .sc_tabs.sc_tabs_style_1 .sc_tabs_titles li.ui-state-active a:after {
        height: 2px;
    }
    .sc_video_player.sc_video_bordered .sc_video_frame {
        max-width: 198px;
    }
    /* Scroll to Top */
    .scroll_to_top {
        right: 1em;
    }
    .scroll_to_top.show {
        bottom: 1em;
    }
    /* Info section */
    .sc_info_st1 .sc_icon {
        margin-bottom: 1em;
        margin-right: 0.2em;
    }
    /* Testimonials slider */
    .sc_slider_swiper {
        min-height: 205px !important;
    }
    /* Pricing section */
    .sc_pricing_cust_st1 {
        width: 90% !important;
    }
    /* Cart page */
    .article_style_boxed .content .post_item.sc_cart_st1 {
        padding: 10px;
    }
    .woocommerce td.product-quantity {
        min-width: 30px;
    }
    .woocommerce table.shop_table th {
        padding: 9px 5px;
    }
    .woocommerce table.cart thead th,
    .woocommerce #content table.cart thead th,
    .woocommerce-page table.cart thead th,
    .woocommerce-page #content table.cart thead th {
        font-size: 12px;
    }
    .woocommerce-page table.cart td.actions > input.button {
        margin: 10px auto;
        display: block;
    }
    /* Related section */
    .related_wrap.scroll_wrap .post_item_related {
        width: 270px;
    }
    /* Themerex message */
    .themerex_message {
        left: 64%;
    }
    /* Events calendar */
    #tribe-bar-collapse-toggle {
        display: block;
        width: 60%;
        padding-top: 20px;
    }
    .tribe-bar-filters {
        display: none !important;
    }
    #tribe-bar-form #tribe-bar-views {
        left: 0;
        width: 40%;
    }
    #tribe-bar-form.tribe-bar-collapse .tribe-bar-views-inner {
        padding-bottom: 45px;
        padding-left: 0;
        padding-right: 0;
        padding-top: 10px;
    }
    .tribe-bar-views-inner {
        padding-top: 10px;
        padding-bottom: 40px;
    }
    .tribe-events-calendar thead th {
        font-size: 10px;
        padding: 7px 0.8em;
    }
    /* Video shortcode */
    .sc_video_st1 {
        float: none;
        display: block;
        margin: 0 auto;
    }
    .sc_video_player.sc_video_bordered .sc_video_frame {
        max-width: 235px;
    }
    /* Reviews section */
    .sc_reviews.alignright {
        margin-left: 0;
        margin-bottom: 40px;
    }
    .sc_reviews + h2.margin_top_2em {
        margin-top: 0;
    }
    /* Skills section */
    .sc_skills.sc_skills_pie {
        width: 100% !important;
    }
    /* Slider shortcode */
    .sc_slider_controls_wrap {
        top: 50%;
    }
    .sc_slider_pagination {
        min-height: 130px !important;
    }
    /* Image alignment shortcode */
    .sc_image.sc_image_shape_square.width_280,
    .sc_image.sc_image_shape_square.width_280,
    .sc_image.sc_image_shape_round.width_240 {
        float: none;
        display: block;
        margin: 10px auto 10px auto;
        height: auto !important;
    }
    /* Related posts */
    .sidebar_hide .related_wrap.scroll_wrap .post_item_related {
        width: 280px;
    }
    .sidebar_show .related_wrap.scroll_wrap .post_item_related {
        width: 235px;
    }
    #sc_slider_21.sc_slider_swiper,
    #sc_slider_22.sc_slider_swiper {
        min-height: 0 !important;
    }
    /* Comments */
    .comments_list_wrap ul ul {
        margin-left: 15px;
    }
    /* Post gallery */
    #gallery-1 .gallery-item {
        width: 100% !important;
    }
    /* Hover pages */
    .hover_icon.icon-plus-2 {
        display: none;
    }
    /* Free lesson page */
    h2.sc_title.sc_title_regular {
        font-size: 1.8em;
    }
    /* Course page */
    .layout_single-courses .content .post_info:not(.post_info_bottom) {
        margin-top: 1.75em;
    }
    .reviews_block .reviews_summary .reviews_criteria {
        font-size: 0.85em;
    }
    /* Lesson page */
    .post_access_denied {
        padding: 2.5em 2em;
    }
    .post_access_denied p {
        font-size: 1.5em;
        line-height: 1.2;
    }
    /* Team page */
    .sc_button_courses_st1 {
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    /* Isotope items */
    .ih-item.circle .info .post_title {
        margin-top: 35%;
    }
    .ih-item.square.effect1 p,
    .ih-item.square.effect3 p,
    .ih-item.square.effect9 p {
        display: none !important;
    }
    .ih-item.square.effect1.bottom_to_top .info .post_title {
        margin-top: 40%;
    }
    /* Shop page */
    .article_style_boxed.woocommerce select,
    .article_style_boxed.woocommerce-page select {
        -webkit-appearance: none;
    }
    .woocommerce .cart .button,
    .woocommerce .cart input.button {
        float: right;
    }
    .woocommerce-page table.cart td.actions > input.button {
        margin: 5px 0;
    }
    /* Paid Course */
    .sc_course_st1 h1 {
        font-size: 1.2em !important;
    }
    /* Revolution slider */
    .tp-caption.title {
        padding-right: 5px !important;
    }
    .tp-caption .font-w_400 {
        font-size: 10px !important;
    }
    .tp-caption.slide_button {
        padding: 10px !important;
    }
    .tp-caption.slide_button .slide_button_white {
        font-size: 10px !important;
    }
    .tp-caption.roundedimage {
        border-width: 6px !important;
    }
    /* Index page slider */
    #rev_slider_1_1 .tp-caption.slide_button {
        left: 110px !important;
        top: 250px !important;
        max-height: 60px !important;
        max-width: 120px !important;
    }
    /* Homepage 2 slider */
    #rev_slider_2_1 .tp-caption.slide_button {
        left: 100px !important;
        top: 240px !important;
        max-height: 60px !important;
        max-width: 120px !important;
    }
    /* Homepage 3 slider */
    #rev_slider_3_1 .tp-caption.slide_button {
        max-height: 60px !important;
        max-width: 120px !important;
        top: 190px !important;
    }
    #rev_slider_3_1 .slide2 .tp-caption {
        left: 50px !important;
    }
    #rev_slider_3_1 .tp-caption.slide_text,
    #rev_slider_3_1 .slide1 .tp-caption.slidetextcentered {
        display: none !important;
    }
}
@charset "utf-8";

/* Responsive styles
-------------------------------------------------------------- */


/*
Apple iPhone 5, 5S & 5C 
Apple iPod Touch (5th generation)
*/

@media (min-width: 1136px) and (max-width: 1279px) {
    body {
        font-size: 14px;
    }
}


/*
Apple iPhone 4 & 4S
Apple iPod Touch (4th generation)
*/

@media (min-width: 960px) and (max-width: 1135px) {
    body {
        font-size: 13px;
    }
    h1 {
        font-size: 3em;
    }
    /* 39px */
    h2 {
        font-size: 2.3077em;
    }
    /* 30px */
    h3 {
        font-size: 2.3077em;
    }
    /* 30px */
    h4 {
        font-size: 1.3846em;
    }
    /* 18px */
    h5 {
        font-size: 1.2308em;
    }
    /* 16px */
    h6 {
        font-size: 1em;
    }
    /* 13px */
    /* Menu area */
    .menu_main_wrap .logo a,
    .menu_user_wrap {
        font-size: 0.8461em;
    }
    .menu_main_wrap .menu_main_nav > li {
        font-size: 0.9231em;
    }
    .menu_main_wrap .search_wrap {
        margin-top: 2em;
    }
    .page_top_wrap .breadcrumbs {
        font-size: 0.8461em;
    }
    .page_top_wrap.page_top_title .breadcrumbs {
        padding: 2em 0 1em 2.5em;
    }
    /* Post layouts */
    .isotope_filters a {
        font-size: 0.8461em;
    }
    /* Post parts */
    .post_info {
        font-size: 0.8461em;
    }
    .post_info {
        font-size: 0.8461em;
    }
    .post_rating .reviews_star {
        font-size: 1em;
    }
    .post_item_courses .post_category {
        font-size: 1em;
        margin: 0 0 0.4em;
    }
    .post_item_courses .post_descr .post_price_period {
        font-size: 1em;
    }
    .post_item_courses .post_descr .post_price_value {
        font-size: 1.3846em;
    }
    /* Footer */
    .contacts_wrap .contacts_address {
        font-size: 1em;
    }
    /* Widgets */
    .widget_area .post_item .post_info {
        font-size: 0.7692em;
    }
    .widget_area .widget_tag_cloud a {
        font-size: 0.8461em !important;
    }
    .widget_area .widget_calendar .weekday {
        font-size: 0.8461em;
    }
    /* Shortcodes */
    .sc_testimonial_content {
        font-size: 1.25em;
    }
    .sc_testimonial_author {
        font-size: 1em;
    }
}


/*
Sony Xperia
LG Optimus
Blackberry Storm 3, Torch 9850 & Torch 9860
Nokia Lumia 610, 710 & 800
HTC Desire, Desire Z, Desire S & One V
Samsung Galaxy
*/

@media (min-width: 800px) and (max-width: 959px) {
    body {
        font-size: 13px;
    }
    h1 {
        font-size: 3em;
    }
    /* 39px */
    h2 {
        font-size: 2.3077em;
    }
    /* 30px */
    h3 {
        font-size: 2.3077em;
    }
    /* 30px */
    h4 {
        font-size: 1.3846em;
    }
    /* 18px */
    h5 {
        font-size: 1.2308em;
    }
    /* 16px */
    h6 {
        font-size: 1em;
    }
    /* 13px */
    /* Menu area */
    .menu_main_wrap .logo a,
    .menu_user_wrap {
        font-size: 0.8461em;
    }
    .menu_main_wrap .menu_main_nav > li {
        font-size: 0.9231em;
    }
    .menu_main_wrap .search_wrap {
        margin-top: 2em;
    }
    .page_top_wrap .breadcrumbs {
        font-size: 0.8461em;
    }
    .page_top_wrap.page_top_title .breadcrumbs {
        padding: 2em 0 1em 2.5em;
    }
    /* Post layouts */
    .isotope_filters a {
        font-size: 0.8461em;
    }
    /* Post parts */
    .post_info {
        font-size: 0.8461em;
    }
    .post_info {
        font-size: 0.8461em;
    }
    .post_rating .reviews_star {
        font-size: 1em;
    }
    .post_item_courses .post_category {
        font-size: 1em;
        margin: 0 0 0.4em;
    }
    .post_item_courses .post_descr .post_price_period {
        font-size: 1em;
    }
    .post_item_courses .post_descr .post_price_value {
        font-size: 1.3846em;
    }
    /* Footer */
    .contacts_wrap .contacts_address {
        font-size: 1em;
    }
    /* Widgets */
    .widget_area .post_item .post_info {
        font-size: 0.7692em;
    }
    .widget_area .widget_tag_cloud a {
        font-size: 0.8461em !important;
    }
    .widget_area .widget_calendar .weekday {
        font-size: 0.8461em;
    }
    .widget_area .reviews_block .reviews_summary .reviews_criteria {
        font-size: 0.7692em;
    }
    /* Shortcodes */
    input[type="submit"],
    input[type="button"],
    button,
    .sc_button {
        padding: 0.75em;
    }
    .sc_testimonial_content {
        font-size: 1.25em;
    }
    .sc_testimonial_author {
        font-size: 1em;
    }
}


/*
Portrait orientation

Sony Xperia
LG Optimus
Blackberry Storm 3, Torch 9850 & Torch 9860
Nokia Lumia 610, 710 & 800
HTC Desire, Desire Z, Desire S & One V
Samsung Galaxy
*/

@media (min-width: 480px) and (max-width: 799px) {
    body {
        font-size: 12px;
    }
    h1 {
        font-size: 2.5em;
    }
    /* 30px */
    h2 {
        font-size: 2em;
    }
    /* 24px */
    h3 {
        font-size: 2em;
    }
    /* 24px */
    h4 {
        font-size: 1.3333em;
    }
    /* 16px */
    h5 {
        font-size: 1.1667em;
    }
    /* 14px */
    h6 {
        font-size: 1em;
    }
    /* 12px */
    /* Menu area */
    .menu_main_wrap .logo a,
    .menu_user_wrap {
        font-size: 0.8333em;
    }
    .menu_main_wrap .menu_main_nav > li {
        font-size: 0.9167em;
    }
    .page_top_wrap .breadcrumbs {
        font-size: 0.8333em;
    }
    /* Post layouts */
    .isotope_filters a {
        font-size: 1em;
    }
    /* Post parts */
    .post_info {
        font-size: 0.8333em;
    }
    .post_info {
        font-size: 0.8333em;
    }
    .post_rating .reviews_star {
        font-size: 1em;
    }
    .post_item_courses .post_category {
        font-size: 1em;
        margin: 0 0 0.4em;
    }
    .post_item_courses .post_descr .post_price_period {
        font-size: 1em;
    }
    .post_item_courses .post_descr .post_price_value {
        font-size: 1.3333em;
    }
    /* Footer */
    .contacts_wrap .contacts_address {
        font-size: 1em;
    }
    /* Widgets */
    .widget_area .post_item .post_info {
        font-size: 0.75em;
    }
    .widget_area .widget_tag_cloud a {
        font-size: 0.8333em !important;
    }
    .widget_area .widget_calendar .weekday {
        font-size: 0.8333em;
    }
    .widget_area .reviews_block .reviews_summary .reviews_criteria {
        font-size: 0.75em;
    }
    /* Shortcodes */
    input[type="submit"],
    input[type="button"],
    button,
    .sc_button {
        padding: 0.7em 0.6em;
    }
    .sc_testimonial_content {
        font-size: 1.25em;
    }
    .sc_testimonial_author {
        font-size: 1em;
    }
    .sc_tabs .sc_tabs_titles li {
        font-size: 1.25em;
    }
    .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li a {
        border-width: 1px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }
}


/*
Very common low res
*/

@media (max-width: 479px) {
    body {
        font-size: 12px;
    }
    h1 {
        font-size: 2.5em;
    }
    /* 30px */
    h2 {
        font-size: 2em;
    }
    /* 24px */
    h3 {
        font-size: 2em;
    }
    /* 24px */
    h4 {
        font-size: 1.3333em;
    }
    /* 16px */
    h5 {
        font-size: 1.1667em;
    }
    /* 14px */
    h6 {
        font-size: 1em;
    }
    /* 12px */
    /* Menu area */
    .menu_main_wrap .logo a,
    .menu_user_wrap {
        font-size: 0.8333em;
    }
    .menu_main_wrap .menu_main_nav > li {
        font-size: 0.9167em;
    }
    .page_top_wrap .breadcrumbs {
        font-size: 0.8333em;
    }
    /* Post layouts */
    .isotope_filters a {
        font-size: 0.8333em;
    }
    /* Post parts */
    .post_info {
        font-size: 0.8333em;
    }
    .post_info {
        font-size: 0.8333em;
    }
    .post_rating .reviews_star {
        font-size: 1em;
    }
    .post_item_courses .post_category {
        font-size: 1em;
        margin: 0 0 0.4em;
    }
    .post_item_courses .post_descr .post_price_period {
        font-size: 1em;
    }
    .post_item_courses .post_descr .post_price_value {
        font-size: 1.3333em;
    }
    .layout_single-courses .content .post_info:not(.post_info_bottom) {
        font-size: 1.25em;
    }
    /* Footer */
    .contacts_wrap .contacts_address {
        font-size: 0.85em;
    }
    /* Widgets */
    .widget_area .post_item .post_info {
        font-size: 0.75em;
    }
    .widget_area .widget_tag_cloud a {
        font-size: 0.8333em !important;
    }
    .widget_area .widget_calendar .weekday {
        font-size: 0.8333em;
    }
    .widget_area .reviews_block .reviews_summary .reviews_criteria {
        font-size: 0.75em;
    }
    /* Shortcodes */
    input[type="submit"],
    input[type="button"],
    button,
    .sc_button {
        padding: 0.7em 0.6em;
    }
    blockquote {
        font-size: 1.5em;
    }
    .sc_countdown.sc_countdown_style_1 .sc_countdown_digits,
    .sc_countdown.sc_countdown_style_1 .sc_countdown_separator {
        font-size: 2em;
        height: 2em;
        line-height: 2em;
    }
    .sc_countdown.sc_countdown_style_1 .sc_countdown_digits {
        width: 2em;
    }
    .sc_testimonial_content {
        font-size: 1.25em;
    }
    .sc_testimonial_author {
        font-size: 1em;
    }
    .sc_tabs .sc_tabs_titles li {
        font-size: 1.25em;
    }
    .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li a {
        border-width: 1px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }
}