/* Accordion
-------------------------------------------------------------- */

.sc_accordion .sc_accordion_item {
    margin-bottom: 1.25em;
}

.sc_accordion > .sc_accordion_item .sc_accordion_content {
    overflow: hidden;
    display: none;
}

.sc_accordion .sc_accordion_item .sc_accordion_title {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin: 0;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.sc_accordion .sc_accordion_item .sc_accordion_title .sc_items_counter:after {
    content: '. ';
}

.sc_accordion .sc_accordion_item .sc_accordion_title .sc_accordion_icon {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    padding: 0;
    text-align: center;
    overflow: hidden;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.sc_accordion .sc_accordion_item .sc_accordion_title .sc_accordion_icon:before {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.sc_accordion .sc_accordion_item .sc_accordion_content {
    padding: 1.5em 1.8em;
}


/* Style 1 */

.sc_accordion.sc_accordion_style_1 .sc_accordion_item .sc_accordion_title {
    border: 1px solid #e4e7e8;
    padding: 0.5em 0.5em 0.5em 3em;
}

.sc_accordion.sc_accordion_style_1 .sc_accordion_item .sc_accordion_title .sc_accordion_icon {
    width: 2.3333em;
    background-color: #e4e7e8;
    color: #ffffff;
}

.sc_accordion.sc_accordion_style_1 .sc_accordion_item .sc_accordion_title .sc_accordion_icon_opened {
    margin-top: -2.3333em;
}

.sc_accordion.sc_accordion_style_1 .sc_accordion_item .sc_accordion_title.ui-state-active .sc_accordion_icon_opened {
    margin-top: 0;
}

.sc_accordion.sc_accordion_style_1 .sc_accordion_item .sc_accordion_title.ui-state-active .sc_accordion_icon_closed {
    margin-top: 2.3333em;
}


/* Style 2 */

.sc_accordion.sc_accordion_style_2 .sc_accordion_item .sc_accordion_title {
    margin-bottom: 0.6667em;
    padding: 2px 0 2px 2.0833em;
    text-transform: uppercase;
}

.sc_accordion.sc_accordion_style_2 .sc_accordion_item .sc_accordion_title .sc_accordion_icon {
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 1.1667em;
    height: 1.1667em;
}

.sc_accordion.sc_accordion_style_2 .sc_accordion_item .sc_accordion_title .sc_accordion_icon:before {
    font-size: 0.5833em;
    line-height: 1em;
}

.sc_accordion.sc_accordion_style_2 .sc_accordion_item .sc_accordion_title .sc_accordion_icon_opened {
    opacity: 0;
}

.sc_accordion.sc_accordion_style_2 .sc_accordion_item .sc_accordion_title.ui-state-active .sc_accordion_icon_opened {
    opacity: 1;
}

.sc_accordion.sc_accordion_style_2 .sc_accordion_item .sc_accordion_title.ui-state-active .sc_accordion_icon_closed {
    opacity: 0;
}


/* Audio
-------------------------------------------------------------- */

.mejs-offscreen {
    display: none !important;
}

.sc_audio {
    opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.sc_audio.sc_show {
    opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=1);
}

.sc_audio .mejs-container {
    margin: 0;
}

.sc_audio.sc_audio_image {
    padding: 140px 25px 25px 25px;
    background-position: center center;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.sc_audio.sc_audio_info {
    position: relative;
    padding: 90px 25px 25px;
    border: 1px solid #f0f0f0;
}

.sc_audio .sc_audio_header {
    padding: 0 0 20px 0;
}

.sc_audio.sc_audio_image .sc_audio_header {
    min-height: 70px;
}

.sc_audio.sc_audio_image .sc_audio_container {
    position: absolute;
    left: 25px;
    right: 25px;
    bottom: 25px;
}

.sc_audio .sc_audio_header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 25px;
}

.sc_audio .sc_audio_author_by {
    color: #222222;
}

.sc_audio .sc_audio_title {
    font-weight: 700;
    margin: 0;
}

.sc_audio .sc_audio_author {
    font-size: 0.75em;
}


/* Button
-------------------------------------------------------------- */

input[type="submit"],
input[type="button"],
button,
.sc_button {
    display: inline-block;
    text-align: center;
    padding: 0.85em 1.15em;
    font-size: 0.875em;
    line-height: 1.3em;
    font-weight: 700;
}

.sc_button.sc_button_round {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

input[type="submit"]:before,
input[type="button"]:before,
button:before,
.sc_button:before {
    margin-right: 10px;
}

input[type="submit"].sc_button_size_medium,
input[type="button"].sc_button_size_medium,
button.sc_button_size_medium,
.sc_button.sc_button_size_medium {
    font-size: 1em;
    padding: 1.2em 1.5em;
}

input[type="submit"].sc_button_size_large,
input[type="button"].sc_button_size_large,
button.sc_button_size_large,
.sc_button.sc_button_size_large {
    font-size: 1.125em;
    padding: 1.25em 1.75em;
}


/* Blogger
-------------------------------------------------------------- */

.sc_blogger.sc_scroll_controls {
    position: relative;
}

.sc_blogger.sc_scroll_controls_type_top {
    overflow: visible !important;
}

.sc_blogger.sc_scroll_controls_type_top .sc_scroll_controls_wrap {
    top: -50px;
}


/* Style 'Date' */

.sc_blogger.layout_date .sc_blogger_item {
    position: relative;
}

.sc_blogger.layout_date .sc_blogger_item:before {
    content: ' ';
    display: block;
    background-color: #ddd;
    position: absolute;
    z-index: 1;
}

.sc_blogger.layout_date.sc_blogger_vertical .sc_blogger_item:before {
    width: 1px;
    height: 100%;
    left: 40px;
    top: 0;
}

.sc_blogger.layout_date.sc_blogger_horizontal .sc_blogger_item:before {
    height: 1px;
    width: 100%;
    left: 0;
    top: 40px;
}

.sc_blogger.layout_date.sc_blogger_horizontal .sc_blogger_item.sc_blogger_item_last:before {
    content: none;
}

.sc_blogger.layout_date .sc_blogger_item .sc_blogger_date {
    width: 78px;
    height: 78px;
    border: 1px solid #ddd;
    position: relative;
    z-index: 2;
    background-color: #fff;
    text-align: center;
}

.sc_blogger.layout_date .sc_blogger_item .sc_blogger_date .day_month {
    display: block;
    padding: 14px 0 6px 0;
    font-size: 1.15em;
    font-weight: 300;
}

.sc_blogger.layout_date .sc_blogger_item .sc_blogger_date .year {
    display: block;
    font-size: 0.75em;
    margin: 0 auto;
}

.sc_blogger.layout_date .sc_blogger_item .sc_blogger_date .year:before {
    width: 33px;
    display: block;
    margin: 0 auto 3px;
    content: ' ';
    border-top: 1px solid #ddd;
}

.sc_blogger.layout_date .sc_blogger_item .sc_blogger_title {
    margin: 0 0 0.6em 0;
}

.sc_blogger.layout_date.sc_blogger_horizontal {
    overflow: hidden;
}

.sc_blogger.layout_date.sc_blogger_horizontal .sc_blogger_item {
    float: left;
}

.sc_blogger.layout_date.sc_blogger_horizontal .post_content {
    padding-right: 2em;
}

.sc_blogger.layout_date.sc_blogger_horizontal .sc_blogger_item .sc_blogger_date {
    margin-bottom: 1.25em;
}

.sc_blogger.layout_date.sc_blogger_vertical .sc_blogger_item + .sc_blogger_item {
    padding-top: 2em;
}

.sc_blogger.layout_date.sc_blogger_vertical .sc_blogger_item .sc_blogger_date {
    float: left;
}

.sc_blogger.layout_date.sc_blogger_vertical .post_content {
    padding-left: 100px;
}

.sc_blogger.layout_date.sc_blogger_vertical .post_content:after {
    content: ' ';
    width: 100%;
    height: 0;
    display: block;
    clear: both;
}

.sc_blogger.layout_date.sc_blogger_vertical .sc_blogger_item .post_info {
    margin: 0;
}

.sc_blogger.layout_date .load_more {
    height: 60px;
    position: relative;
}

.sc_blogger.layout_date .load_more:before {
    width: 28px;
    height: 28px;
    border: 1px solid #ddd;
    background-color: #fff;
    font-family: "fontello";
    content: '\e823';
    text-align: center;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 24px;
    line-height: 28px;
}

.sc_blogger.layout_date .load_more:after {
    content: '';
    display: block;
    width: 1px;
    height: 100%;
    background-color: #ddd;
    position: absolute;
    left: 40px;
    top: 0;
    z-index: 1;
}


/* Style News */

.sc_blogger.sc_blogger_horizontal.layout_news {
    overflow: hidden;
}

.sc_blogger.sc_blogger_horizontal.layout_news .post_featured {
    width: 40%;
    float: left;
    vertical-align: top;
    margin: 0 2em 0.7em 0;
}

.sc_blogger.sc_blogger_horizontal.layout_news .columns_wrap .post_featured {
    width: 100%;
    float: none;
    margin: 0 0 0.7em 0;
}

.sc_blogger.sc_blogger_vertical.layout_news .sc_blogger_item+.sc_blogger_item {
    padding-top: 2em;
    margin-top: 2em;
    border-top: 1px solid #ddd;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.post_item_news .post_featured .hover_icon:before {
    font-size: 3em;
}


/* Style 'Related' */

.article_style_boxed .sc_blogger.template_related .post_content_wrap {
    background-color: #f4f7f9;
}


/* Style 'Masonry' */

.article_style_boxed .sc_blogger.template_masonry .post_content {
    background-color: #f4f7f9;
}


/* Isotope filters */

.sc_blogger .isotope_filters {
    margin: 1.5em 0 1em;
}


/* Blogger with scroll */

.sc_scroll_horizontal .sc_blogger .isotope_item,
.sc_scroll_horizontal .sc_blogger [class*=column-],
.sc_blogger .sc_scroll_horizontal .isotope_item,
.sc_blogger .sc_scroll_horizontal [class*=column-] {
    width: 400px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding-bottom: 0;
    white-space: nowrap;
}

.sc_scroll_vertical .sc_blogger .isotope_wrap,
.sc_blogger .sc_scroll_vertical .isotope_wrap {
    /*margin-right:0;*/
}

.sc_scroll_vertical .sc_blogger .isotope_item,
.sc_scroll_vertical .sc_blogger [class*=column-],
.sc_blogger .sc_scroll_vertical .isotope_item,
.sc_blogger .sc_scroll_vertical [class*=column-] {
    position: relative;
    /*
	width: 100%;
	display: block;
	padding-right:0;
*/
    width: auto;
    max-width: 400px;
    display: inline-block;
    padding-right: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* Chat
-------------------------------------------------------------- */

.sc_chat {
    position: relative;
    padding-left: 20px;
    overflow: hidden;
}

.sc_chat+.sc_chat {
    margin-top: 1.5em;
}

.sc_chat_inner {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #1eaace;
    padding: 1.2em 1.2em 0.875em;
    overflow: hidden;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.sc_chat:after {
    content: ' ';
    position: absolute;
    z-index: 1;
    top: 30%;
    left: 14px;
    width: 11px;
    height: 30px;
    -webkit-transform: rotate(30deg) skewY(-45deg);
    -moz-transform: rotate(30deg) skewY(-45deg);
    -ms-transform: rotate(30deg) skewY(-45deg);
    -o-transform: rotate(30deg) skewY(-45deg);
    transform: rotate(30deg) skewY(-45deg);
    background-color: #ffffff;
    border-left: 1px solid #1eaace;
    border-bottom: 1px solid #1eaace;
}

.sc_chat .sc_chat_title {
    margin-bottom: 1em;
    font-weight: 400;
    font-size: 0.875em;
}

.sc_chat .sc_chat_avatar {
    width: 75px;
    height: 75px;
    float: left;
    margin: 0 20px 10px 0;
    overflow: hidden;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.sc_chat p {
    margin-bottom: 0;
}


/* Columns
-------------------------------------------------------------- */

.sc_columns .sc_column_item_inner {
    padding: 1.5em;
}


/* Contact form
-------------------------------------------------------------- */

.sc_contact_form_title,
.sc_contact_form_description {
    text-align: center;
}

.sc_contact_form {
    overflow: hidden;
    padding-bottom: 4px;
}

.sc_contact_form .result {
    display: none;
    margin-top: 2em;
}

.sc_contact_form .label_over label {
    display: none;
}

.sc_contact_form .sc_contact_form_info {
    overflow: hidden;
}

.sc_contact_form .sc_contact_form_item {
    margin-bottom: 20px;
    width: 100%;
}

.sc_contact_form.sc_contact_form_standard .sc_contact_form_field {
    width: 33.3333%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.sc_contact_form.sc_contact_form_standard .sc_contact_form_field+.sc_contact_form_field {
    padding-left: 20px;
}

.sc_contact_form .sc_contact_form_item.label_top label {
    display: block;
    margin-bottom: 0.4em;
}

.sc_contact_form .sc_contact_form_item.label_bottom label {
    display: block;
    margin-top: 0.4em;
}

.sc_contact_form .sc_contact_form_item.label_left {
    overflow: hidden;
}

.sc_contact_form .sc_contact_form_item.label_left label {
    display: block;
    float: left;
    width: 25%;
    padding: 0.25em 1.5em 0.25em 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.sc_contact_form .sc_contact_form_item.label_left input,
.sc_contact_form .sc_contact_form_item.label_left textarea {
    display: block;
    float: left;
    width: 75%;
}

.sc_contact_form .sc_contact_form_item.label_left input[type="radio"],
.sc_contact_form .sc_contact_form_item.label_left input[type="checkbox"] {
    width: auto;
    margin-top: 0.5em;
    display: inline-block;
}

.sc_contact_form .sc_contact_form_field input,
.sc_contact_form .sc_contact_form_message textarea {
    width: 100%;
    padding: 0.5em 1em;
    background-color: #ffffff;
}

.sc_contact_form .sc_contact_form_message textarea {
    min-height: 10em;
}

.sc_contact_form .sc_contact_form_button {
    text-align: center;
    margin: 0;
}

.sc_contact_form .sc_contact_form_button button {
    font-size: 0.875em;
    font-weight: 900;
}


/* Content
-------------------------------------------------------------- */

.sc_content {
    /*overflow:hidden;*/
}


/* Countdown
-------------------------------------------------------------- */

.sc_countdown {
    overflow: hidden;
}

.sc_countdown .sc_countdown_item {
    display: block;
    float: left;
    text-align: center;
}

.sc_countdown .sc_countdown_digits {
    display: block;
    overflow: hidden;
    text-align: center;
    margin-bottom: 12px;
}

.sc_countdown .sc_countdown_digits span {
    display: inline-block;
}

.sc_countdown .sc_countdown_separator {
    display: block;
    float: left;
    margin: 0 8px;
}


/* Dropcaps
-------------------------------------------------------------- */

.sc_dropcaps {
    overflow: hidden;
}

.sc_dropcaps .sc_dropcaps_item {
    font-size: 2.25em;
    font-weight: 400;
    line-height: 1em;
    display: block;
    padding: 0 10px;
    margin: 0 8px 2px 0;
    float: left;
}


/* Emailer
-------------------------------------------------------------- */

.sc_emailer {
    display: inline-block;
    padding: 0.25em;
    border: 1px solid #ddd;
}

.sc_emailer .sc_emailer_button {
    display: inline-block;
    text-align: center;
    width: 2em;
    height: 2em;
    line-height: 2em;
}

.sc_emailer input {
    display: inline-block;
    line-height: 2em;
    padding: 0;
    width: 0;
}

.sc_emailer.sc_emailer_opened input {
    width: 250px;
}

.sc_emailer,
.sc_emailer input {
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
}


/* Google map
------------------------------------------------------------- */

.sc_googlemap img {
    max-width: none;
}


/* Icon
-------------------------------------------------------------- */

.sc_icon {
    display: inline-block;
    position: relative;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
}

.sc_icon_shape_square,
.sc_icon_shape_round {
    display: inline-block;
    padding: 4px;
    text-align: center;
    width: 1.2em;
    height: 1.2em;
    line-height: 1.2em;
    border: 0.05em solid #f4f7f9;
}

.sc_icon_shape_round,
a.sc_icon.sc_icon_shape_round:after,
a .sc_icon.sc_icon_shape_round:after {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.sc_icon.sc_icon_shape_square:hover,
.sc_icon.sc_icon_shape_round:hover,
a.sc_icon.sc_icon_shape_square:hover,
a.sc_icon.sc_icon_shape_round:hover,
a:hover .sc_icon.sc_icon_shape_square,
a:hover .sc_icon.sc_icon_shape_round {
    background-color: transparent;
}

a.sc_icon.sc_icon_shape_round:after,
a.sc_icon.sc_icon_shape_square:after,
a .sc_icon.sc_icon_shape_round:after,
a .sc_icon.sc_icon_shape_square:after {
    background-color: inherit;
    box-sizing: content-box;
    content: " ";
    height: 100%;
    width: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    z-index: -1;
}

a.sc_icon.sc_icon_shape_round:hover:after,
a.sc_icon.sc_icon_shape_square:hover:after,
a:hover .sc_icon.sc_icon_shape_round:after,
a:hover .sc_icon.sc_icon_shape_square:after {
    opacity: 0;
    transform: scale(1.8);
}


/* Image
-------------------------------------------------------------- */

.sc_image {
    overflow: hidden;
}

.sc_image.sc_image_shape_round {
    display: block;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.sc_image.sc_image_shape_round figcaption {
    top: 0;
    bottom: 0;
    padding: 0;
    font-size: 1em;
    line-height: 1.3em;
    text-align: center;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.sc_image_shape_round:hover figcaption {
    opacity: 0;
    margin-bottom: 0;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
}

.sc_image_shape_round figcaption span {
    display: block;
    margin: 0 auto;
    font-size: 2em;
}

.sc_image_shape_round figcaption span:before {
    display: block;
    margin: 35% auto 0.5em;
}


/* Infobox
-------------------------------------------------------------- */

.sc_infobox {
    display: block;
    margin: 1.25em 0;
    color: #ffffff;
    font-size: 0.875em;
    font-weight: 300;
    line-height: 1.5em;
    padding: 1.5em;
    clear: both;
}

.sc_infobox b,
.sc_infobox strong {
    font-weight: 900;
}

.sc_infobox p {
    margin: 0;
}

.sc_infobox p+p,
.sc_infobox h1+p,
.sc_infobox h2+p,
.sc_infobox h3+p,
.sc_infobox h4+p,
.sc_infobox h5+p,
.sc_infobox h6+p {
    margin-top: 1em;
}

.sc_infobox h1,
.sc_infobox h2,
.sc_infobox h3,
.sc_infobox h4,
.sc_infobox h5,
.sc_infobox h6 {
    text-align: left;
    margin: 0;
    line-height: 1.2em;
    color: inherit;
}

.sc_infobox.sc_infobox_iconed {
    position: relative;
    padding-left: 5em;
}

.sc_infobox.sc_infobox_iconed:before {
    font-size: 2.1428em;
    line-height: 1em;
    margin-right: 0.6em;
    position: absolute;
    left: 0.6667em;
    top: 0.6667em;
}

.sc_infobox.sc_infobox_closeable {
    cursor: pointer;
    padding-right: 3.5em;
}

.sc_infobox.sc_infobox_closeable:after {
    content: '\e813';
    font-family: "fontello";
    cursor: pointer;
    position: absolute;
    right: 1.25em;
    top: 1.5em;
}


/* List
-------------------------------------------------------------- */

ul.sc_list_style_iconed {
    padding-left: 0;
}

.sc_list_style_iconed li {
    padding: 0 0 0 1.5em;
    list-style: none;
    position: relative;
}

.sc_list_style_iconed li .sc_list_icon {
    position: absolute;
    left: 0;
    top: 0;
}


/* Line
-------------------------------------------------------------- */

.sc_line {
    display: block;
    width: 100%;
    height: 0px;
    border-top: 1px solid #e4e7e8;
    margin: 3em 0 2.5em 0;
}

.sc_line.sc_line_style_dashed {
    border-style: dashed;
}

.sc_line.sc_line_style_dotted {
    border-style: dotted;
}

.sc_line.sc_line_style_double {
    height: 4px;
    border-bottom-width: 1px;
}


/* Number
-------------------------------------------------------------- */

.sc_number_item {
    display: inline-block;
    text-align: center;
    font-size: 3em;
    font-weight: 700;
    width: 1em;
    height: 1.25em;
    line-height: 1.25em;
    background-color: rgba(0, 0, 0, 0.15);
    color: #ffffff;
}

.sc_number_item+.sc_number_item {
    margin-left: 2px;
}


/* Parallax
-------------------------------------------------------------- */

.sc_parallax {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
}

.sc_parallax .sc_parallax_content {
    position: relative;
    overflow: hidden;
    z-index: 2;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
}

.sc_parallax .sc_parallax_overlay {
    overflow: hidden;
}

.sc_parallax .sc_video_bg_wrapper {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.sc_parallax video.sc_video_bg {
    opacity: 0;
    filter: alpha(opacity=0);
}


/* Popup
-------------------------------------------------------------- */

.sc_popup {
    position: relative;
    background-color: #fff;
    padding: 24px 20px 20px 20px;
    width: auto;
    max-width: 500px;
    max-height: 600px;
    margin: 20px auto;
    border: 1px solid #ddd;
    overflow-x: hidden;
    overflow-y: auto;
}

.sc_popup:before {
    height: 4px;
    content: ' ';
    position: absolute;
    width: 100%;
    top: -1px;
    left: -1px;
    display: block;
    padding: 0 1px;
}

.sc_popup.mfp-hide {
    display: none;
}

.sc_popup .mfp-close {
    top: 3px;
    width: 1em;
    height: 1em;
    line-height: 1em;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.sc_popup .mfp-close:active {
    top: 3px;
}


/* Price
-------------------------------------------------------------- */

.sc_price {
    display: inline-block;
    position: relative;
}

.sc_price .sc_price_currency,
.sc_price .sc_price_money {
    font-size: 1.875em;
    line-height: 1em;
    color: #222222;
}

.sc_price .sc_price_info {
    display: inline-block;
    position: relative;
    vertical-align: baseline;
}

.sc_price .sc_price_penny {
    display: block;
    text-decoration: underline;
    margin-bottom: 0.2em;
    margin-left: 0.1em;
    font-size: 0.75em;
    line-height: 1em;
    color: #222222;
}

.sc_price .sc_price_period:before {
    content: '/';
    display: inline-block;
    margin-left: 0.3em;
    margin-right: 0.3em;
}

.sc_price .sc_price_period_empty:before {
    content: ' ';
    display: inline-block;
}


/* Price block
-------------------------------------------------------------- */

.sc_price_block {
    display: inline-block;
    color: #ffffff;
    overflow: hidden;
}

.sc_price_block .sc_price_block_title {
    text-align: center;
    font-size: 2.1875em;
    line-height: 2.4571em;
    min-height: 2.4571em;
}

.sc_price_block .sc_price_block_money {
    text-align: center;
    font-size: 1.125em;
    line-height: 6.1111em;
    height: 6.1111em;
    overflow: hidden;
}

.sc_price_block .sc_price_block_money * {
    color: #ffffff;
}

.sc_price_block .sc_price_block_money .sc_price_block_icon {
    font-size: 4em;
    line-height: inherit;
    display: inline-block;
}

.sc_price_block .sc_price_block_money .sc_price {
    display: inline-block;
}

.sc_price_block .sc_price_block_money .sc_price_block_icon + .sc_price {
    margin-left: 0.5em;
}

.sc_price_block .sc_price_block_money .sc_price_currency {
    font-weight: 100;
    font-size: 3.6111em;
    line-height: inherit;
}

.sc_price_block .sc_price_block_money .sc_price_money {
    font-weight: 900;
    font-size: 4em;
    line-height: inherit;
}

.sc_price_block .sc_price_block_description {
    text-align: center;
    font-size: 0.875em;
    line-height: 1.3em;
    height: 4.2857em;
    padding: 0 2em;
    overflow: hidden;
}

.sc_price_block .sc_price_block_link {
    height: 4.5em;
    text-align: center;
    padding-top: 0.875em;
}


/* Scroll
-------------------------------------------------------------- */

.sc_scroll {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.sc_scroll_wrapper {
    overflow: hidden;
}

.sc_scroll_horizontal .sc_scroll_wrapper {
    width: 100000px;
}

.sc_scroll_horizontal {
    width: 100%;
    padding-bottom: 10px;
}

.sc_scroll_vertical {
    min-height: 200px;
    padding-right: 6px;
}

.sc_scroll_vertical .swiper-slide {
    float: none;
    display: block;
}


/* Scroll bar */

.sc_scroll_bar {
    background: transparent;
    position: absolute;
    z-index: 100;
}

.sc_scroll_vertical .sc_scroll_bar {
    right: 1px;
    top: 0;
    bottom: 0;
    width: 10px;
    border-right: 1px solid #dddddd;
}

.sc_scroll_horizontal .sc_scroll_bar {
    right: 0;
    left: 0;
    bottom: 1px;
    height: 10px;
    border-bottom: 1px solid #dddddd;
}

.sc_scroll_bar .swiper-scrollbar-drag {
    background: none !important;
}

.sc_scroll_vertical .sc_scroll_bar .swiper-scrollbar-drag {
    width: 10px;
    left: 2px;
}

.sc_scroll_horizontal .sc_scroll_bar .swiper-scrollbar-drag {
    height: 10px;
    top: 2px;
}

.sc_scroll_bar .swiper-scrollbar-drag:before {
    content: '';
    display: block;
    position: absolute;
    background-color: #1dbb90;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.sc_scroll_vertical .sc_scroll_bar .swiper-scrollbar-drag:before {
    width: 3px;
    right: -2px;
    top: 0;
    bottom: 0;
    height: 100%;
}

.sc_scroll_horizontal .sc_scroll_bar .swiper-scrollbar-drag:before {
    height: 3px;
    left: 0;
    right: 0;
    bottom: -2px;
    width: 100%;
}


/* Scroll controls */

.sc_scroll_container {
    position: relative;
}

.sc_scroll_controls_type_top .sc_scroll_controls_wrap {
    position: absolute;
    top: -5.5em;
    right: 0;
    width: 12em;
    padding-bottom: 5px;
    overflow: hidden;
    text-align: right;
}

.sc_scroll_controls_type_side .sc_scroll_controls_wrap {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0;
}

.sc_scroll_controls_type_side .sc_scroll_controls_wrap a {
    margin-top: -25px;
    margin-left: -80px;
    display: block;
    position: absolute;
    top: 0;
    left: 8px;
    opacity: 0;
}

.sc_scroll_controls_type_side .sc_scroll_controls_wrap a+a {
    left: auto;
    right: 8px;
    margin-right: -80px;
}

.sc_scroll_controls_type_side:hover .sc_scroll_controls_wrap a {
    margin-left: 0;
    margin-right: 0;
    opacity: 1;
}

.sc_scroll_controls_wrap a {
    display: inline-block;
    text-align: center;
    font-size: 1.5em;
    width: 2em;
    height: 2em;
    line-height: 2em;
    margin-left: 0.6667em;
}

.sc_scroll_controls_wrap a:before {
    font-family: fontello;
}

.sc_scroll_controls_wrap .sc_scroll_next:before {
    content: '\e80f';
}

.sc_scroll_controls_wrap .sc_scroll_prev:before {
    content: '\e810';
}

.sc_scroll_controls_vertical .sc_scroll_controls_wrap .sc_scroll_next:before {
    content: '\e835';
}

.sc_scroll_controls_vertical .sc_scroll_controls_wrap .sc_scroll_prev:before {
    content: '\e828';
}


/* Section
------------------------------------------------------------ */

.sc_section {
    position: relative;
    /*overflow: hidden;*/
    padding: 1px 0;
}

.sc_section:after {
    content: ' ';
    display: block;
    width: 100%;
    height: 0;
    clear: both;
}

.sc_section:not(.sc_scroll_controls) .sc_section_overlay,
.sc_section .sc_section_overlay {
    overflow: hidden;
}

.sc_section .sc_section_overlay {
    padding: 1em 1.5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.sc_pan {
    position: absolute;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/*
.sc_pan_vertical { cursor: n-resize; }
.sc_pan_horizontal { cursor:e-resize; }
*/

.sc_pan_vertical,
.sc_pan_horizontal {
    cursor: all-scroll;
}


/* Skills
-------------------------------------------------------------- */

.sc_skills {
    width: 100%;
}


/* Type Counter */

.sc_skills_counter {
    text-align: center;
}

.sc_skills_counter .sc_skills_item {
    text-align: center;
    display: inline-block;
    padding: 0 10px;
}

.sc_skills_counter .sc_skills_item .sc_skills_count {
    font-size: 4.5em;
    line-height: 1em;
}

.sc_skills_counter .sc_skills_item .sc_skills_count .sc_skills_total {
    position: relative;
    z-index: 1;
}

.sc_skills_counter .sc_skills_item .sc_skills_info {
    color: #222222;
    font-size: 1.125em;
    line-height: 1.3em;
    margin: 10px 0;
}

.sc_skills_counter .sc_skills_item.sc_skills_style_1 .sc_skills_count {
    font-weight: 900;
}

.sc_skills_counter .sc_skills_item.sc_skills_style_2 .sc_skills_count {
    font-weight: 300;
}

.sc_skills_counter .sc_skills_item.sc_skills_style_3 .sc_skills_count {
    font-weight: 300;
    color: #fff;
    padding: 0 10px;
    position: relative;
    overflow: hidden;
    font-size: 3.75em;
    height: 1.3333em;
    line-height: 1.3333em;
}

.sc_skills_counter .sc_skills_item.sc_skills_style_3 .sc_skills_count:before {
    content: ' ';
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-top: 1.3333em solid #fff;
    border-right: 1.6667em solid transparent;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.sc_skills_counter .sc_skills_item.sc_skills_style_4 .sc_skills_count {
    font-weight: 300;
    color: #fff;
    padding: 0 10px;
    font-size: 3.75em;
    line-height: 1.3333em;
    height: 1.3333em;
}

.sc_skills_counter .sc_skills_item.sc_skills_style_4 .sc_skills_info {
    color: #fff;
    padding: 10px;
    margin: 0;
    position: relative;
    border-top: 1px solid #fff;
}

.sc_skills_counter .sc_skills_item.sc_skills_style_4 .sc_skills_info:before {
    position: absolute;
    top: 0;
    left: 0;
    content: ' ';
    background-color: #000;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    filter: alpha(opacity=10);
}

.sc_skills_counter .sc_skills_item.sc_skills_style_4 .sc_skills_info .sc_skills_label {
    position: relative;
    z-index: 2;
}


/* Type Bar */

.sc_skills_bar .sc_skills_item {
    height: 1.5625em;
    line-height: 1.5625emem;
    background-color: #f4f7f9;
    position: relative;
    overflow: hidden;
}

.sc_skills_bar .sc_skills_item .sc_skills_count {
    text-align: right;
    width: 0;
    height: 1.5625emem;
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

.sc_skills_bar .sc_skills_info {
    margin: 10px 0 5px 0;
}

.sc_skills_bar .sc_skills_info .sc_skills_label {
    color: #222222;
}

.sc_skills_bar.sc_skills_vertical .sc_skills_columns .sc_skills_item {
    height: 30em;
}

.sc_skills_bar.sc_skills_vertical .sc_skills_columns .sc_skills_item .sc_skills_count {
    width: 100%;
    height: auto;
    top: auto;
    bottom: 0;
}

.sc_skills_bar.sc_skills_vertical .sc_skills_columns .sc_skills_total {
    text-align: center;
    font-size: 1.25em;
    width: 100%;
    line-height: 3em;
    font-weight: 300;
}

.sc_skills_bar.sc_skills_vertical .sc_skills_columns .sc_skills_column {
    text-align: center;
}

.sc_skills_bar.sc_skills_horizontal .sc_skills_columns .sc_skills_info {
    margin-top: 0;
}

.sc_skills_bar.sc_skills_horizontal .sc_skills_total {
    text-align: right;
    padding-right: 10px;
}


/* Type Pie */

.sc_skills_pie.sc_skills_compact_off {
    text-align: center;
    display: inline-block;
}

.sc_skills_pie.sc_skills_compact_off .sc_skills_total {
    font-size: 1.125em;
}

.sc_skills_pie.sc_skills_compact_on {
    overflow: hidden;
}

.sc_skills_pie.sc_skills_compact_on .sc_skills_item {
    min-width: 100px;
    min-height: 100px;
    float: left;
    width: 50%;
}


/* Type Arc */

.sc_skills_arc {
    overflow: hidden;
}

.sc_skills_arc .sc_skills_arc_canvas {
    min-width: 100px;
    min-height: 100px;
    float: left;
    width: 60%;
}

.sc_skills_arc .sc_skills_legend {
    width: 40%;
}


/* Legend */

.sc_skills_legend {
    width: 50%;
    float: left;
}

.sc_skills_legend_marker {
    display: inline-block;
    margin: 0 10px 2px 0;
    width: 6px;
    height: 6px;
    line-height: 1.5em;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.sc_skills_legend_title,
.sc_skills_legend_value {
    color: #222222;
}

.sc_skills_legend_value {
    display: inline-block;
    margin-left: 6px;
}

.sc_skills_legend_value:before {
    content: '(';
}

.sc_skills_legend_value:after {
    content: ')';
}


/* Slider
-------------------------------------------------------------- */

.sc_slider {
    overflow: hidden;
}

.sc_slider_height_auto {
    -webkit-transition: height ease .5s;
    -moz-transition: height ease .5s;
    -ms-transition: height ease .5s;
    -o-transition: height ease .5s;
    transition: height ease .5s;
}

.sc_slider_swiper {
    position: relative;
    overflow: hidden;
}

.sc_slider_swiper .slides {
    overflow: hidden;
}

.sc_slider_swiper .slides .swiper-slide {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
}

.sc_slider_swiper:not(.sc_slider_height_auto) .slides .swiper-slide {
    min-height: 8em;
}

.sc_slider_swiper .slides .swiper-slide > img {
    width: 100%;
    height: auto;
}


/* Prev / Next controls */

.owl-controls {
    color: #ffffff;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    padding-bottom: 5px;
    height: 0;
}

.owl-controls .owl-prev,.owl-controls .owl-next{
    display: block;
    cursor: pointer;
    width: 2em;
    height: 2em;
    line-height: 2em;
    font-size: 1.5em;
    text-align: center;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
    margin-top: -1em;
   color:transparent;
}

.owl-controls .owl-prev {
    float: left;
    margin-left: -100px;
}
.sc_testimonials .owl-item{
	height: 12em;      
}
.owl-controls .owl-next {
    float: right;
    margin-right: -100px;
}


.owl-controls .owl-next:before {
    content: '\e80f';
    font-family: 'fontello';
    color: #FFF;
}

.owl-controls .owl-prev:before {
    content: '\e810';
    font-family: 'fontello';
    color: #FFF;
}

.sc_slider_swiper:hover .owl-controls .owl-prev {
    margin-left: 20px;
}

.sc_slider_swiper:hover .owl-controls .owl-next {
    margin-right: 20px;
}


/* Side controls */

.sc_slider_swiper + .owl-controls .owl-prev {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
}

.sc_slider_swiper + .owl-controls .owl-prev {
    margin-left: 15px;
}

.sc_slider_swiper + .owl-controls .owl-next {
    margin-right: 15px;
}


/* Top controls */

.sc_slider_swiper.sc_slider_controls_top + .owl-controls {
    top: 6px;
    right: 6px;
    text-align: right;
    cursor: default;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
}

.sc_slider_swiper.sc_slider_controls_top + .owl-controls .owl-next,
.sc_slider_swiper.sc_slider_controls_top + .owl-controls .owl-prev {
    display: inline-block;
    float: none;
    margin-left: 6px;
    margin-right: 0;
}


/* White circles with accent hover */

.sc_slider_swiper .sc_slider_pagination_wrap {
    position: absolute;
    height: 12px;
    margin: 0;
    left: 0;
    right: 0;
    bottom: -12px;
    text-align: center;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
}

.sc_slider_swiper:hover .sc_slider_pagination_wrap {
    bottom: 20px;
    -webkit-transition: all ease .5s .5s;
    -moz-transition: all ease .5s .5s;
    -ms-transition: all ease .5s .5s;
    -o-transition: all ease .5s .5s;
    transition: all ease .5s .5s;
}

.sc_slider_swiper .sc_slider_pagination_wrap span {
    display: inline-block;
    vertical-align: top;
    width: 10px;
    height: 10px;
    margin: 0 8px 0 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #ffffff;
    border: 1px solid transparent;
    cursor: pointer;
}

.sc_slider_swiper .sc_slider_pagination_wrap .swiper-active-switch {
    background-color: transparent;
    border-color: #ffffff;
}

.sc_slider_swiper .sc_slider_pagination_wrap span:hover {
    background-color: transparent;
    border-color: #ffffff;
}


/* Full pagination - posts titles */

.sc_slider_pagination_area {
    overflow: hidden;
    position: relative;
}

.sc_slider_pagination_area .sc_slider {
    float: left;
}

.sc_slider_pagination_area:not(.sc_slider_pagination_over) .sc_slider {
    width: 67%;
}

.sc_slider_pagination_area .sc_slider_pagination {
    float: left;
    width: 33%;
    position: static;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.sc_slider_pagination_over .sc_slider_pagination {
    position: absolute;
    width: 40%;
    left: auto;
    right: -40%;
    top: 0;
    bottom: auto;
    float: none;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
}

.sc_slider_pagination_over:hover .sc_slider_pagination {
    right: 0;
}

.sc_slider_pagination_over .sc_slider_pagination .post_item {
    background-color: transparent !important;
}

.slider_fullwide .sc_slider_pagination_over .sc_slider_pagination,
.slider_fullscreen .sc_slider_pagination_over .sc_slider_pagination {
    width: 20%;
}

.sc_slider_pagination_area .sc_slider_pagination .post_item {
    padding: 1em;
}

.sc_slider_pagination_area .sc_slider_pagination .post_item+.post_item {
    margin: 0;
}

.sc_slider_pagination_area .sc_slider_pagination .post_item.active {
    background-color: rgba(0, 0, 0, 0.1);
}

.sc_slider_pagination_area .sc_slider_pagination .post_item .post_info .post_info_item + .post_info_item:before {
    content: "|";
    margin: 0 5px;
}


/* Info block*/

.sc_slider_swiper .sc_slider_info {
    max-width: 80%;
    min-width: 50%;
    max-height: 100px;
    padding: 10px;
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: rgba(30, 170, 206, 0.8);
    -webkit-transition: all ease .5s .5s;
    -moz-transition: all ease .5s .5s;
    -ms-transition: all ease .5s .5s;
    -o-transition: all ease .5s .5s;
    transition: all ease .5s .5s;
    margin-bottom: 0;
}

.sc_slider_pagination_area .sc_slider .sc_slider_info {
    /*left:0;*/
    max-width: 100%;
}

.sc_slider_swiper:hover .sc_slider_info.sc_slider_info_fixed,
.sc_slider_swiper:hover .sc_slider_info:hover,
.sc_slider_swiper .sc_slider_info:hover {
    margin-bottom: 0 !important;
}

.sc_slider_pagination_over:hover .sc_slider_info,
.sc_slider_swiper:hover .sc_slider_info {
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
    margin-bottom: -130px !important;
}

.sc_slider_swiper .slides .swiper-slide .sc_slider_info a {
    display: inline;
    min-height: 0;
    color: #ffffff;
}

.sc_slider_swiper .slides .swiper-slide .sc_slider_info a:hover {
    color: #cccccc;
}

.sc_slider_swiper .sc_slider_info .sc_slider_subtitle {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 4px;
}

.sc_slider_swiper .sc_slider_info .sc_slider_reviews {
    margin: 0 0 4px;
}

.sc_slider_swiper .sc_slider_info .sc_slider_reviews.after_category {
    display: inline-block;
    position: relative;
    margin: 0 0 0 2px;
    top: 0;
}

.sc_slider_reviews.post_rating .reviews_stars_bg,
.sc_slider_reviews.post_rating .reviews_stars_hover,
.sc_slider_reviews.post_rating .reviews_value {
    color: #ffffff !important;
}

.sc_slider_swiper .sc_slider_info .sc_slider_descr {
    color: #ffffff;
    line-height: 16px;
}

.sc_slider_swiper .sc_slider_info .sc_slider_category {
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    position: relative;
    /*max-width:50%;*/
    /*min-width:135px;*/
    height: 24px;
    line-height: 24px;
    padding: 0 30px 0 0;
    text-align: left;
    overflow: hidden;
}

.sc_slider_pagination_area .sc_slider .sc_slider_info .sc_slider_category {
    min-width: 0;
}

.slider_fullscreen .sc_slider_swiper .sc_slider_info,
.slider_main .sc_slider_swiper .sc_slider_info {
    max-width: 50%;
    min-width: 40%;
    padding: 30px;
    max-height: 150px;
}

.slider_fullscreen .sc_slider_swiper:hover .sc_slider_info,
.slider_main .sc_slider_swiper:hover .sc_slider_info {
    margin-bottom: -180px;
}

.slider_fullscreen .sc_slider_swiper:hover .sc_slider_info.sc_slider_info_fixed,
.slider_fullscreen .sc_slider_swiper:hover .sc_slider_info:hover,
.slider_fullscreen .sc_slider_swiper .sc_slider_info:hover,
.slider_main .sc_slider_swiper:hover .sc_slider_info.sc_slider_info_fixed,
.slider_main .sc_slider_swiper:hover .sc_slider_info:hover,
.slider_main .sc_slider_swiper .sc_slider_info:hover {
    margin-bottom: 0;
}

.slider_fullscreen .sc_slider_swiper .sc_slider_info .sc_slider_category,
.slider_main .sc_slider_swiper .sc_slider_info .sc_slider_category {
    font-size: 14px;
    font-weight: 300;
}

.slider_fullscreen .sc_slider_swiper .sc_slider_info .sc_slider_subtitle,
.slider_main .sc_slider_swiper .sc_slider_info .sc_slider_subtitle {
    font-size: 21px;
    line-height: 28px;
    font-weight: 300;
}

.slider_fullscreen .sc_slider_swiper .sc_slider_info .sc_slider_descr,
.slider_main .sc_slider_swiper .sc_slider_info .sc_slider_descr {
    font-size: 13px;
    line-height: 18px;
    font-weight: 300;
}


/* Socials icons
-------------------------------------------------------------- */

.sc_socials {
    overflow: hidden;
    display: inline-block;
    line-height: 1em;
    margin-right: -1.25em;
}

.sc_socials .sc_socials_item {
    display: inline-block;
    margin: 0 1.25em 1.25em 0;
    outline: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.sc_socials a {
    display: inline-block;
    outline: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.sc_socials a,
.sc_socials a .sc_socials_hover {
    overflow: hidden;
    width: 4em;
    height: 4em;
    text-indent: 999px;
    overflow: hidden;
    position: relative;
    -webkit-border-radius: 6px;
    /* Hack for Chrome - show sharp corners while animation */
    background-repeat: no-repeat;
    background-position: 0 -4em;
    -webkit-background-size: 4em 8em;
    -moz-background-size: 4em 8em;
    -o-background-size: 4em 8em;
    background-size: 4em 8em;
}

.sc_socials.sc_socials_size_tiny,
.sc_socials.sc_socials_size_small {
    margin-right: -0.625em;
}

.sc_socials.sc_socials_size_tiny .sc_socials_item,
.sc_socials.sc_socials_size_small .sc_socials_item {
    margin-right: 0.625em;
}

.sc_socials.sc_socials_size_tiny a,
.sc_socials.sc_socials_size_small a {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.sc_socials.sc_socials_size_tiny a .sc_socials_hover,
.sc_socials.sc_socials_size_small a .sc_socials_hover {
    -webkit-border-radius: 4px;
    /* Hack for Chrome - show sharp corners while animation */
}

.sc_socials.sc_socials_size_tiny a,
.sc_socials.sc_socials_size_tiny a .sc_socials_hover {
    width: 2em;
    height: 2em;
    background-position: 0 -2em;
    -webkit-background-size: 2em 4em;
    -moz-background-size: 2em 4em;
    -o-background-size: 2em 4em;
    background-size: 2em 4em;
}

.sc_socials.sc_socials_size_small a,
.sc_socials.sc_socials_size_small a .sc_socials_hover {
    width: 2.5em;
    height: 2.5em;
    background-position: 0 -2.5em;
    -webkit-background-size: 2.5em 5em;
    -moz-background-size: 2.5em 5em;
    -o-background-size: 2.5em 5em;
    background-size: 2.5em 5em;
}

.sc_socials a .sc_socials_hover,
.sc_socials.sc_socials_size_tiny a .sc_socials_hover,
.sc_socials.sc_socials_size_small a .sc_socials_hover {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    background-position: 0 0;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
}

.sc_socials a:hover .sc_socials_hover {
    opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=100);
}


/* Share buttons */

.sc_socials.sc_socials_share .sc_socials_item {
    vertical-align: top;
}

.sc_socials.sc_socials_share .share_caption {
    display: inline-block;
    font-size: 1.5em;
    line-height: 1.6667em;
    color: #222222;
    margin-right: 0.6em;
}

.sc_socials.sc_socials_share.sc_socials_dir_vertical {
    position: fixed;
    left: 0px;
    top: 16%;
    z-index: 9998;
}

.sc_socials.sc_socials_share.sc_socials_dir_vertical .sc_socials_item {
    display: block;
    margin-top: 6px;
    line-height: 1em;
}

.sc_socials.sc_socials_share.sc_socials_dir_vertical .share_caption {
    display: none;
}

.sc_socials.sc_socials_share .share_counter {
    display: inline-block;
    vertical-align: top;
    margin-left: 6px;
    position: relative;
    background: #fff;
    color: #666;
    padding: 0 8px;
    line-height: 62px;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.sc_socials.sc_socials_share .share_counter:before {
    content: " ";
    position: absolute;
    z-index: 1;
    top: 50%;
    left: -4px;
    width: 6px;
    height: 6px;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #fff;
    -webkit-transform: translateY(-50%) rotate(45deg);
    -moz-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
}

.sc_socials.sc_socials_size_tiny.sc_socials_share .share_counter {
    line-height: 30px;
}

.sc_socials.sc_socials_size_small.sc_socials_share .share_counter {
    line-height: 38px;
}


/* Table
-------------------------------------------------------------- */

.sc_table table {
    width: 100%;
}


/* Tabs
-------------------------------------------------------------- */

.sc_tabs .sc_tabs_titles {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.sc_tabs .sc_tabs_titles li {
    padding: 0;
    list-style: none;
    font-size: 1.5em;
    float: left;
}

.sc_tabs .sc_tabs_titles li:before {
    display: none;
}

.sc_tabs .sc_tabs_titles li a {
    display: block;
    padding: 0.5833em;
}

.sc_tabs .sc_tabs_content {
    display: none;
    overflow: hidden;
}


/* Style 1 */

.sc_tabs.sc_tabs_style_1 .sc_tabs_titles,
.sc_tabs.sc_tabs_style_1 .sc_tabs_titles li {
    margin-bottom: 0;
}

.sc_tabs.sc_tabs_style_1 .sc_tabs_titles li a {
    border: 1px solid #e4e7e8;
}

.sc_tabs.sc_tabs_style_1 .sc_tabs_titles li+li {
    margin-left: -1px;
}

.sc_tabs.sc_tabs_style_1 .sc_tabs_content {
    margin-top: -1px;
    padding: 1.5em;
    border: 1px solid #e4e7e8;
}


/* Style 2 */

.sc_tabs.sc_tabs_style_2 .sc_tabs_titles li {
    margin: 0 0 0.6667em 0;
}

.sc_tabs.sc_tabs_style_2 .sc_tabs_titles li+li {
    margin-left: 0.6667em;
}

.sc_tabs.sc_tabs_style_2 .sc_tabs_content {
    padding: 1.5em;
    border: 1px solid #e4e7e8;
}


/* Team
-------------------------------------------------------------- */

.sc_team_item {
    overflow: hidden;
    margin-bottom: 3.125em;
}

.sc_team_item .sc_team_item_info {
    background-color: #f4f7f9;
    padding: 1.5em 1.25em;
}

.sc_team_item .sc_team_item_info .sc_team_item_title {
    margin: 0;
    font-size: 1.125em;
}

.sc_team_item .sc_team_item_info .sc_team_item_position {
    color: #222222;
}

.sc_team_item .sc_team_item_info .sc_team_item_description {
    margin-top: 1em;
    height: 4.25em;
    overflow: hidden;
}

.sc_team_item .sc_team_item_info .sc_socials {
    margin-top: 1em;
}

.sc_team_item .sc_team_item_avatar img {
    width: 100%;
}


/* Style 2 */

.sc_team_style_2 .sc_team_item_avatar {
    position: relative;
}

.sc_team_style_2 .sc_team_item_avatar .sc_team_item_hover {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    text-align: center;
}

.sc_team_style_2 .sc_team_item:hover .sc_team_item_avatar .sc_team_item_hover {
    opacity: 1;
    filter: alpha(opacity=1);
}

.sc_team_style_2 .sc_team_item_avatar .sc_team_item_hover,
.sc_team_style_2 .sc_team_item_avatar .sc_team_item_hover .sc_team_item_socials {
    overflow: hidden;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
}

.sc_team_style_2 .sc_team_item_avatar .sc_team_item_hover .sc_team_item_socials {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    margin-top: 50px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

.sc_team_style_2 .sc_team_item:hover .sc_team_item_avatar .sc_team_item_hover .sc_team_item_socials {
    margin-top: 0;
}


/* Testimonials
-------------------------------------------------------------- */

.sc_testimonials_wrap {
    position: relative;
}

.sc_testimonials_wrap .sc_section_overlay {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 1.5em 0;
}

.sc_testimonial_item {
    text-align: center;
    padding: 0 5em;
}

.sc_testimonial_author {
    font-size: 0.875em;
}

.sc_testimonial_author:before {
    font-family: fontello;
    content: '\e83c';
    font-size: 2em;
    display: block;
}

.sc_testimonial_content {
    font-size: 1.125em;
}

.sc_testimonial_content p {
    margin: 0;
}

.sc_testimonial_content p+p {
    margin-top: 0.5em;
}

.bg_tint_dark .sc_testimonials a {
    color: #ffffff;
}

.sc_testimonials.sc_slider_swiper:hover .owl-controls .owl-prev {
    margin-left: 10px;
}

.sc_testimonials.sc_slider_swiper:hover .owl-controls .owl-next {
    margin-right: 10px;
}


/* Title
-------------------------------------------------------------- */

.sc_title {
    overflow: hidden;
    position: relative;
    padding-bottom: 2px;
}


/* Inderline */

.sc_title_underline {
    padding-bottom: 16px;
}

.sc_title_underline:after {
    content: ' ';
    display: block;
    position: absolute;
    border-top: 1px solid #222222;
    height: 0;
    width: 1em;
    left: 0;
    bottom: 0;
}

.sc_title_underline.sc_align_center:after {
    left: 50%;
    margin-left: -0.5em;
}

.sc_title_underline.sc_align_right:after {
    right: 0;
    left: auto;
}


/* Divider */

.sc_title_divider {
    position: relative;
    padding-left: 5ex;
    padding-right: 5ex;
    text-align: center;
}

.sc_title_divider .sc_title_divider_before,
.sc_title_divider .sc_title_divider_after {
    display: block;
    width: 4ex;
    height: 1px;
    background-color: #222222;
    position: absolute;
    top: 50%;
}

.sc_title_divider .sc_title_divider_before {
    left: 0;
}

.sc_title_divider .sc_title_divider_after {
    right: 0;
}


/* Icon */

.sc_title_icon {
    display: inline-block;
}

.sc_title_icon_left {
    margin-right: 0.5em;
}

.sc_title_icon_top {
    display: block;
}

.sc_title_icon img {
    width: auto;
}

.sc_title_icon_left img {
    vertical-align: middle;
}

.sc_title_icon_top img {
    vertical-align: baseline;
}

.sc_title_icon_small img {
    height: 1em;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.sc_title_icon_medium img {
    height: 2em;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.sc_title_icon_large img {
    height: 3em;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}


/* Toggles
-------------------------------------------------------------- */

.sc_toggles .sc_toggles_item {
    margin-bottom: 1.25em;
}

.sc_toggles > .sc_toggles_item .sc_toggles_content {
    overflow: hidden;
    display: none;
}

.sc_toggles .sc_toggles_item .sc_toggles_title {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin: 0;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.sc_toggles .sc_toggles_item .sc_toggles_title .sc_items_counter:after {
    content: '. ';
}

.sc_toggles .sc_toggles_item .sc_toggles_title .sc_toggles_icon {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    padding: 0;
    text-align: center;
    overflow: hidden;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.sc_toggles .sc_toggles_item .sc_toggles_title .sc_toggles_icon:before {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.sc_toggles .sc_toggles_item .sc_toggles_content {
    padding: 1.5em 1.8em;
}


/* Style 1 */

.sc_toggles.sc_toggles_style_1 .sc_toggles_item .sc_toggles_title {
    border: 1px solid #e4e7e8;
    padding: 0.5em 0.5em 0.5em 3em;
}

.sc_toggles.sc_toggles_style_1 .sc_toggles_item .sc_toggles_title .sc_toggles_icon {
    width: 2.3333em;
    background-color: #e4e7e8;
    color: #ffffff;
}

.sc_toggles.sc_toggles_style_1 .sc_toggles_item .sc_toggles_title .sc_toggles_icon_opened {
    margin-top: -2.3333em;
}

.sc_toggles.sc_toggles_style_1 .sc_toggles_item .sc_toggles_title.ui-state-active .sc_toggles_icon_opened {
    margin-top: 0;
}

.sc_toggles.sc_toggles_style_1 .sc_toggles_item .sc_toggles_title.ui-state-active .sc_toggles_icon_closed {
    margin-top: 2.3333em;
}


/* Style 2 */

.sc_toggles.sc_toggles_style_2 .sc_toggles_item .sc_toggles_title {
    margin-bottom: 0.6667em;
    padding: 0 0 0 2.0833em;
    text-transform: uppercase;
}

.sc_toggles.sc_toggles_style_2 .sc_toggles_item .sc_toggles_title .sc_toggles_icon {
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 1.1667em;
    height: 1.1667em;
}

.sc_toggles.sc_toggles_style_2 .sc_toggles_item .sc_toggles_title .sc_toggles_icon:before {
    font-size: 0.5833em;
    line-height: 1em;
}

.sc_toggles.sc_toggles_style_2 .sc_toggles_item .sc_toggles_title .sc_toggles_icon_opened {
    opacity: 0;
}

.sc_toggles.sc_toggles_style_2 .sc_toggles_item .sc_toggles_title.ui-state-active .sc_toggles_icon_opened {
    opacity: 1;
}

.sc_toggles.sc_toggles_style_2 .sc_toggles_item .sc_toggles_title.ui-state-active .sc_toggles_icon_closed {
    opacity: 0;
}


/* Tooltip
-------------------------------------------------------------- */

.sc_tooltip_parent {
    text-decoration: none;
    border-bottom: 1px dashed #666666;
    position: relative;
    display: inline-block;
}

.sc_tooltip_parent .sc_tooltip {
    position: absolute;
    color: #fff;
    background-color: #333333;
    white-space: nowrap;
    top: -4em;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 2px 6px;
    z-index: 2;
    font-size: 0.75em;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all ease-out 0.1s;
    -moz-transition: all ease-out 0.1s;
    -ms-transition: all ease-out 0.1s;
    -o-transition: all ease-out 0.1s;
    transition: all ease-out 0.1s;
}

.sc_tooltip_parent:hover .sc_tooltip {
    opacity: 1;
    filter: alpha(opacity=100);
    top: -2.5em;
}

.sc_tooltip_parent .sc_tooltip:before {
    content: '';
    width: 6px;
    height: 6px;
    position: absolute;
    left: 50%;
    bottom: -3px;
    margin-left: -3px;
    z-index: 1;
    background-color: #333333;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}


/* Twitter
-------------------------------------------------------------- */

.sc_twitter_wrap {
    position: relative;
}

.sc_twitter_wrap .sc_section_overlay {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 1.5em 0;
}

.sc_twitter_item {
    text-align: center;
    padding: 0 5em;
}

.sc_twitter_content {
    font-size: 1.125em;
}

.sc_twitter_icon {
    font-size: 2.5em;
    line-height: 1em;
    display: block;
    text-align: center;
    margin-bottom: 0.5em;
}

.sc_twitter_content p {
    margin: 0;
}

.sc_twitter_content p+p {
    margin-top: 0.5em;
}

.bg_tint_dark .sc_twitter a {
    color: #ffffff;
}

.sc_twitter.sc_slider_swiper:hover .owl-controls .owl-prev {
    margin-left: 10px;
}

.sc_twitter.sc_slider_swiper:hover .owl-controls .owl-next {
    margin-right: 10px;
}


/* Video player
-------------------------------------------------------------- */

.sc_video_player {
    background-repeat: no-repeat;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
}


/*
.sc_video_player.sc_video_bordered {
	width:auto;
	height:auto;
	display:inline-block;
}
*/

.sc_video_player.sc_video_bordered {
    width: 100%;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.sc_video_frame {
    position: relative;
    overflow: hidden;
}

.sc_video_frame img {
    width: 100%;
    height: auto;
}


/* Media elements */

.mejs-container {
    max-width: 100%;
}


/* Zoom
-------------------------------------------------------------- */

.sc_zoom_wrap {
    width: auto;
    height: auto;
    display: inline-block;
    background-repeat: no-repeat;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
}

.sc_zoom {
    position: relative;
    overflow: hidden;
}

.sc_zoom img {
    width: 100%;
    height: auto;
}
