<link href="css/owl.carousel.css" rel="stylesheet" type="text/css">
<link href="css/owl.transitions.css" rel="stylesheet" type="text/css">
<div class="page_top_wrap page_top_title page_top_breadcrumbs sc_pt_st1">
    <div class="content_wrap">
        <div class="breadcrumbs">
            <a class="breadcrumbs_item home" href="index.html">Home</a>
            <span class="breadcrumbs_delimiter"></span>
            <span class="breadcrumbs_item current">About Us</span>
        </div>
        <h1 class="page_title">About Us</h1>
    </div>
</div>
<!-- /Page title -->
<!-- Content without sidebar -->
<div class="page_content_wrap">
    <div class="content">
        <article class="post_item post_item_single page">
            <section class="post_content">
                <!-- Info section -->
                <div class="sc_section accent_top bg_tint_light sc_bg1" data-animation="animated fadeInUp normal">
                    <div class="sc_section_overlay">
                        <div class="sc_section_content">
                            <div class="sc_content content_wrap margin_top_2_5em_imp margin_bottom_2_5em_imp">
                                <h2 class="sc_title sc_title_regular sc_align_center margin_top_0 margin_bottom_085em text_center">Why choose online education?</h2>
                                <div class="columns_wrap sc_columns columns_nofluid sc_columns_count_2">
                                    <div class="column-1_2 sc_column_item sc_column_item_1 sc_info_st1 odd first ">
                                        <div class="sc_section font_1_25em lh_1_3em">
                                            <span class="sc_icon icon-pen-2 alignleft link_color disp_block margin_right_05em margin_bottom_015em font_3_5em lh_1em"></span>
                                            <p>Study, have fun, uncover a new passion or learn
                                                <br /> skills that just may change your life.
                                            </p>
                                        </div>
                                        <div class="sc_section font_1_25em lh_1_3em margin_top_05em_imp">
                                            <span class="sc_icon icon-new-2 alignleft link_color disp_block margin_right_05em margin_bottom_015em font_3_5em lh_1em"></span>
                                            <p>Become an online Education student, it&#8217;s easy&#8230;
                                                <br /> Take online Education courses at your pace, at home or in a cafe.
                                            </p>
                                        </div>
                                        <div class="sc_section font_1_25em lh_1_3em margin_top_05em_imp">
                                            <span class="sc_icon icon-lightbulb-2 alignleft link_color disp_block margin_right_05em margin_bottom_015em font_3_5em lh_1em"></span>
                                            <p>From our think tank to your screen—we help you
                                                <br /> learn through cool tools, videos and game-like labs, like our 3D virtual molecule builder.
                                            </p>
                                        </div>
                                        <div class="sc_section font_1_25em lh_1_3em margin_top_05em_imp text-center">
                                            <b><a href="#Advantages" >Know more about Erudo</a></b>
                                        </div>
                                    </div>
                                    <div class="column-1_2 sc_column_item sc_column_item_2 sc_info_st1 even">
                                        <div class="sc_video_player">
                                            <div class="sc_video_frame width_596 height_335" data-width="596" data-height="335">
                                                <iframe class="video_frame" src="http://player.vimeo.com/video/9679622" width="596" height="335">
                                                </iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Info section -->
                <!-- Team section -->
                <div class="sc_section" data-animation="animated fadeInUp normal">
                    <div class="sc_content content_wrap margin_top_3em_imp margin_bottom_3em_imp">
                        <h2 class="sc_title sc_title_regular sc_align_center text_center margin_top_0 margin_bottom_085em">Management Team</h2>
                        <div class="sc_team sc_team_style_1">
                            <div class="sc_columns columns_wrap">
                                <div class="row">
                                    <div class="col-sm-6 center-block">
                                        <div class="col-sm-6 column-1">
                                            <div class="sc_team_item sc_team_item_1 odd first">
                                                <div class="sc_team_item_avatar">
                                                    <div class="management-img" style="background-image:url(https://erudo.in/images/user/Abhiram.jpg)">
                                                        
                                                    </div>
                                                </div>
                                                <div class="sc_team_item_info column-2">
                                                    <h6 class="sc_team_item_title">
                                                            <a >Abhiram Mohan</a>
                                                        </h6>
                                                    <div class="sc_team_item_position">CEO</div>
                                                    <div class="sc_socials sc_socials_size_small ">
                                                        <div class="sc_socials_item">
                                                            <a href="#" target="_blank" class="social_icons social_facebook">
                                                                <span class="sc_socials_hover social_facebook"></span>
                                                            </a>
                                                        </div>
                                                        <div class="sc_socials_item">
                                                            <a href="#" target="_blank" class="social_icons social_gplus">
                                                                <span class="sc_socials_hover social_gplus"></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 column-2">
                                            <div class="sc_team_item sc_team_item_2 even">
                                                <div class="sc_team_item_avatar">
                                                  <div class="management-img" style="background-image:url(images/user/Thejus.jpg)">
                                                        
                                                    </div>
                                                </div>
                                                <div class="sc_team_item_info">
                                                    <h6 class="sc_team_item_title">
                                                            <a>Thejus Poovan</a>
                                                        </h6>
                                                    <div class="sc_team_item_position">CEO</div>
                                                    <div class="sc_socials sc_socials_size_small">
                                                        <div class="sc_socials_item">
                                                            <a href="#" target="_blank" class="social_icons social_gplus">
                                                                <span class="sc_socials_hover social_gplus"></span>
                                                            </a>
                                                        </div>
                                                        <div class="sc_socials_item">
                                                            <a href="#" target="_blank" class="social_icons social_twitter">
                                                                <span class="sc_socials_hover social_twitter"></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Row end -->
                                <h2 class="sc_title sc_title_regular sc_align_center text_center margin_top_0 margin_bottom_085em">Our Mentors</h2>
                                <div class="row mentor-wraper">
                                    <div class="item p-lg text-center">
                                        <img src="images/user/Nithin.jpg" class="img-fluid img-thumbnail img-circle">
                                        <div class="sc_team_item_info">
                                            <h3 class="sc_team_item_title">
                                                            Nithin Madhavan
                                                        </h3>
                                            <div class="sc_team_item_position">MD (KTL Pvt. Ltd.) </div>
                                        </div>
                                    </div>
                                    <div class="item p-lg text-center">
                                        <img src="images/user/Deepak.jpg" class="img-fluid img-thumbnail img-circle">
                                        <div class="sc_team_item_info">
                                            <h3 class="sc_team_item_title">
                                                            Deepak Nambiar
                                                        </h3>
                                            <div class="sc_team_item_position">Co-Founder (KTL Pvt. Ltd.) </div>
                                        </div>
                                    </div>
                                    <div class="item p-lg text-center">
                                        <img src="images/user/Ramya.jpg" class="img-fluid img-thumbnail img-circle">
                                        <div class="sc_team_item_info">
                                            <h3 class="sc_team_item_title">
                                                            Ramya Raman
                                                        </h3>
                                            <div class="sc_team_item_position">Project Manager (KTL Pvt. Ltd.) </div>
                                        </div>
                                    </div>
                                    <div class="item p-lg text-center">
                                        <img src="images/user/10.jpg" class="img-fluid img-thumbnail img-circle">
                                        <div class="sc_team_item_info">
                                            <h3 class="sc_team_item_title">
                                                            Sharjil Muhammed
                                                        </h3>
                                            <div class="sc_team_item_position">CEO (Candiland Media) </div>
                                        </div>
                                    </div>
                                    <div class="item p-lg text-center">
                                        <img src="images/user/Nithin.jpg" class="img-fluid img-thumbnail img-circle">
                                        <div class="sc_team_item_info">
                                            <h3 class="sc_team_item_title">
                                                            Lijesh Leo
                                                        </h3>
                                            <div class="sc_team_item_position">CEO (New Leo Steel Tech) </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Team section -->
                <!-- Partners section -->
                <div class="sc_section" data-animation="animated fadeInUp normal">
                    <div class="sc_content content_wrap margin_top_2_5em_imp margin_bottom_2_5em_imp">
                        <div class="sc_section aligncenter width_70per">
                            <h2 class="sc_title sc_title_regular margin_top_0">Technical Team</h2>
                            <div class="technicalteam">
                                <div class="row tech-wraper">
                                    <div class="item p-lg text-center">
                                        <img src="images/user/Deepak.jpg" class="img-fluid img-thumbnail img-circle">
                                        <div class="sc_team_item_info">
                                            <h3 class="sc_team_item_title">
                                                           Jisna C.K
                                                        </h3>
                                        </div>
                                    </div>
                                    <div class="item p-lg text-center">
                                        <img src="images/user/Ramya.jpg" class="img-fluid img-thumbnail img-circle">
                                        <div class="sc_team_item_info">
                                            <h3 class="sc_team_item_title">
                                                            Prasad Katankot
                                                        </h3>
                                        </div>
                                    </div>
                                    <div class="item p-lg text-center">
                                        <img src="images/user/10.jpg" class="img-fluid img-thumbnail img-circle">
                                        <div class="sc_team_item_info">
                                            <h3 class="sc_team_item_title">
                                                            Jayadev P P
                                                        </h3>
                                        </div>
                                    </div>
                                    <div class="item p-lg text-center">
                                        <img src="images/user/Nithin.jpg" class="img-fluid img-thumbnail img-circle">
                                        <div class="sc_team_item_info">
                                            <h3 class="sc_team_item_title">
                                                            Srishin K P
                                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- tech team -->
                        </div>
                    </div>
                </div>
                <!-- /Partners section -->
            </section>
        </article>
    </div>
</div>
