<style>
.page_top_wrap .breadcrumbs a.breadcrumbs_item {
    color: #FFFFFF;
    font-size: 12px;
}
.page_top_wrap .breadcrumbs .breadcrumbs_item {
    background-color: #529CCC;}

.page_top_wrap .breadcrumbs {
    float: none;
}
.page_top_wrap .breadcrumbs span {
    color: #FFF;
font-size: 12px;
}

</style>





<div class="page_content_wrap  sc_bg1">
    <div class="page_top_wrap page_top_title page_top_breadcrumbs sc_pt_st1">
        <div class="content_wrap">
<h1 class="page_title">Answers</h1>
            <div class="breadcrumbs" style="padding:0">
                <a class="breadcrumbs_item home" href="#doubts">Doubts</a>
                <span class="breadcrumbs_delimiter"></span>
                <span class="breadcrumbs_item home">Answers</span>
            </div>
            
        </div>
    </div>
    <section class="container mt ">
        <div class="col-sm-9 center-block">
            <div class="panel">
                <div class="panel-body">
                    <article>
                        <div class="row">
                            <h3 class="ph-lg">Lorem ipsum dolor sit amet, consectetur</h3>
                            <p class="ph-lg">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                            <div class="col-sm-6"><span class="label label-primary">Math</span> <span class="label label-default">Std 8</span>
                            </div>
                            <div class="text-right col-sm-6"><small class="text-muted">1 Min ago</small></div>
                            <div class="col-sm-12 text-right">
                                <a href="">Sudheep Deshai</a>
                            </div>
                        </div>
                    </article>
                    <div class="row p-lg">
                        <h4 class="mb0">3 Answers</h4>
                        <hr class="mt0" />
                    </div>
                    <article class="enrolled-course answer mb">
                        <div class="row">
                            <p class="ph-lg pt">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                            <div class="text-right col-sm-offset-6 col-sm-6"><small class="text-muted">1 Min ago</small></div>
                            <div class="col-sm-12 text-right">
                                <a href="">Sudheep Deshai</a>
                            </div>
                        </div>
                    </article>
                    <article class="enrolled-course answer">
                        <div class="row">
                            <p class="ph-lg pt">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                            <div class="text-right col-sm-offset-6 col-sm-6"><small class="text-muted">1 Min ago</small></div>
                            <div class="col-sm-12 text-right">
                                <a href="">Sudheep Deshai</a>
                            </div>
                        </div>
                    </article>
                    <article class="postAnswer">
                        <form class="col-sm-8  col-xs-12 center-block">
                            <div class="form-group">
                                <textarea class="form-control open border" placeholder="Type your answer" value="">
                                </textarea>
                            </div>
                            <div class="form-group">
                                <input type="file" id="inputFile4" multiple="">
                                <div class="input-group">
                                    <input type="text" readonly="" class="form-control open" placeholder="Upload file">
                                    <span class="input-group-btn input-group-sm">
                                                <button type="button" class="btn btn-fab btn-fab-mini">
                                                    <i class="material-icons">attach_file</i>
                                                </button>
                                            </span>
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <button class="btn btn-raised btn-info" type="submit">Submit answer</button>
                            </div>
                        </form>
                    </article>
                </div>
            </div>
        </div>
    </section>
</div>
<script type="text/javascript">
$('textarea').val('');
</script>
