<div class="page_content_wrap page_top_wrap ">
    <article class="post_item post_item_single page">
        <section class="post_content">
            <!-- Info section -->
            <div class="sc_section accent_top bg_tint_light sc_bg1" data-animation="animated fadeInUp normal">
                <div class="sc_section_overlay">
                    <div class="sc_section_content">
                        <div class="sc_content content_wrap margin_top_2_5em_imp margin_bottom_2_5em_imp">
                            <h2 class="sc_title sc_title_regular sc_align_center margin_top_0 margin_bottom_085em text_center">Smart Classroom</h2>
                            <div class="columns_wrap sc_columns columns_nofluid ">
                                <div class=" sc_column_item sc_column_item_1 ">
                                    <div class="sc_section font_1_25em lh_1_3em">
                                        <p>Smart classroom is a facility for schools to get access of the best teachers available to teach their children. Through this facility schools can subscribe for a course which is not there in their syllabus and students can explore it.
                                        </p>
                                    </div>
                                    <div class="sc_section font_1_25em lh_1_3em margin_top_05em_imp">
                                        <p>In smart classroom tutor can teach more than one student, just like a class room but in a virtual world. Schools can directly call to us and we will arrange their suggested course at their convenient time.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </article>
    <div class="sc_section " data-animation="animated fadeInUp normal">
        <div class="sc_section_overlay">
            <div class="sc_section_content">
                <div class="sc_content content_wrap margin_top_2_5em_imp margin_bottom_2_5em_imp">
                    <h2 class="sc_title sc_title_regular sc_align_center margin_top_0 margin_bottom_085em text_center">Courses you may looking for</h2>
                    <!-- Advanced seach -->
                    <div class="row">
                        <div class="search-row col-sm-6 center-block">
                            <div class="col-sm-3 pl-sm pr0">
                                <select class="form-control open">
                                    <option selected="" disabled="">Choose class</option>
                                    <option>8</option>
                                    <option>9</option>
                                    <option>10</option>
                                    <option>11</option>
                                    <option>12</option>
                                    <option>B.Tech</option>
                                </select>
                            </div>
                            <div class="col-sm-4 pl-sm pr0">
                                <select class="form-control open">
                                    <option selected="" disabled="">Choose Board</option>
                                    <option>CBSE</option>
                                    <option>ICSE</option>
                                </select>
                            </div>
                            <div class="col-sm-4 pl-sm pr0">
                                <select class="form-control open">
                                    <option selected="" disabled="">Choose Subject</option>
                                    <option>Math</option>
                                    <option>English</option>
                                    <option>History</option>
                                    <option>Chemistry</option>
                                </select>
                            </div>
                            <div class="col-sm-1">
                                <a class="btn btn-link btn-raised ph0 m0" style="background:transparent"> <i class="fa fa-search fa-2x"></i></a>
                            </div>
                        </div>
                        <!-- /.col-lg-6 -->
                        <div class="row col-sm-12 text-center">
                            <h4>Feeling lazy ?</h4>
                            <p>We can arrange a tutor for you. Call
                                <label class="text-info">+91-756-109-0677</label>
                            </p>
                        </div>
                    </div>
                    <!-- Advanced seach -->
                    <article class="courseWrapper">
                        <!-- course -->
                        <div class="course">
                            <h4 class="courseTitle"><a href="#courseTutor">Evaluating Social Programs</a></h4>
                            <div class="courseDetails">
                                <p>
                                    <label class="cTitle">Class</label>: 10</p>
                                <p>
                                    <label class="cTitle">Subject</label>: Chemistry</p>
                                <p>
                                    <label class="cTitle">Syllabus</label>: ICSE</p>
                                <p>
                                    <label class="cTitle">Duration</label>: 30Hrs</p>
                                <p>
                                    <label class="cTitle">Starts On</label>: 13/05/2016</p>
                                <p>
                                    <label class="cTitle">Type</label>: One To One</p>
                            </div>
                            <div class="courseFooter">
                                <div class="row ph-lg text-right">
                                    <a class="pull-left pv" href="#Cart" data-target="#fillDetails" data-toggle="modal">Apply Now</a >
                                <span class="course_price_value">&#x20B9;85</span>
                                <span class="course_price_period">monthly</span>
                            </div>
                        </div>
                    </div>
                    <!-- End of course -->
           
                                    <!-- course -->
                                    <div class="course">
                                        <h4 class="courseTitle"><a href="#courseTutor">Evaluating Social Programs</a></h4>
                                    <div class="courseDetails">
                                        <p>
                                            <label class="cTitle">Class</label>: 10</p>
                                        <p>
                                            <label class="cTitle">Subject</label>: Chemistry</p>
                                        <p>
                                            <label class="cTitle">Syllabus</label>: ICSE</p>
                                        <p>
                                            <label class="cTitle">Duration</label>: 30Hrs</p>
                                        <p>
                                            <label class="cTitle">Starts On</label>: 13/05/2016</p>
                                        <p>
                                            <label class="cTitle">Type</label>: One To One</p>
                                    </div>
                                    <div class="courseFooter">
                                        <div class="row ph-lg text-right">
                                            <a class="pull-left pv" href="#Cart" data-target="#fillDetails" data-toggle="modal">Apply Now</a >
                                <span class="course_price_value">&#x20B9;85</span>
                                <span class="course_price_period">monthly</span>
                            </div>
                        </div>
                    </div>
                    <!-- End of course --> 
                
                                    <!-- course -->
                                    <div class="course">
                                        <h4 class="courseTitle"><a href="#courseTutor">Evaluating Social Programs</a></h4>
                                            <div class="courseDetails">
                                                <p>
                                                    <label class="cTitle">Class</label>: 10</p>
                                                <p>
                                                    <label class="cTitle">Subject</label>: Chemistry</p>
                                                <p>
                                                    <label class="cTitle">Syllabus</label>: ICSE</p>
                                                <p>
                                                    <label class="cTitle">Duration</label>: 30Hrs</p>
                                                <p>
                                                    <label class="cTitle">Starts On</label>: 13/05/2016</p>
                                                <p>
                                                    <label class="cTitle">Type</label>: One To One</p>
                                            </div>
                                            <div class="courseFooter">
                                                <div class="row ph-lg text-right">
                                                    <a class="pull-left pv" href="#Cart" data-target="#fillDetails" data-toggle="modal">Apply Now</a >
                                <span class="course_price_value">&#x20B9;85</span>
                                <span class="course_price_period">monthly</span>
                            </div>
                        </div>
                    </div>
                    <!-- End of course --> 
                
                                    <!-- course -->
                                    <div class="course">
                                        <h4 class="courseTitle"><a href="#courseTutor">Evaluating Social Programs</a></h4>
                                                    <div class="courseDetails">
                                                        <p>
                                                            <label class="cTitle">Class</label>: 10</p>
                                                        <p>
                                                            <label class="cTitle">Subject</label>: Chemistry</p>
                                                        <p>
                                                            <label class="cTitle">Syllabus</label>: ICSE</p>
                                                        <p>
                                                            <label class="cTitle">Duration</label>: 30Hrs</p>
                                                        <p>
                                                            <label class="cTitle">Starts On</label>: 13/05/2016</p>
                                                        <p>
                                                            <label class="cTitle">Type</label>: One To One</p>
                                                    </div>
                                                    <div class="courseFooter">
                                                        <div class="row ph-lg text-right">
                                                            <a class="pull-left pv" href="#Cart" data-target="#fillDetails" data-toggle="modal">Apply Now</a >
                                <span class="course_price_value">&#x20B9;85</span>
                                <span class="course_price_period">monthly</span>
                            </div>
                        </div>
                    </div>
                    <!-- End of course --> 
                
                                    <!-- course -->
                                    <div class="course">
                                        <h4 class="courseTitle"><a href="#courseTutor">Evaluating Social Programs</a></h4>
                                                            <div class="courseDetails">
                                                                <p>
                                                                    <label class="cTitle">Class</label>: 10</p>
                                                                <p>
                                                                    <label class="cTitle">Subject</label>: Chemistry</p>
                                                                <p>
                                                                    <label class="cTitle">Syllabus</label>: ICSE</p>
                                                                <p>
                                                                    <label class="cTitle">Duration</label>: 30Hrs</p>
                                                                <p>
                                                                    <label class="cTitle">Starts On</label>: 13/05/2016</p>
                                                                <p>
                                                                    <label class="cTitle">Type</label>: One To One</p>
                                                            </div>
                                                            <div class="courseFooter">
                                                                <div class="row ph-lg text-right">
                                                                    <a class="pull-left pv" href="#Cart" data-target="#fillDetails" data-toggle="modal">Apply Now</a >
                                <span class="course_price_value">&#x20B9;85</span>
                                <span class="course_price_period">monthly</span>
                            </div>
                        </div>
                    </div>
                    <!-- End of course --> 
                
                                    <!-- course -->
                                    <div class="course">
                                        <h4 class="courseTitle"><a href="#courseTutor">Evaluating Social Programs</a></h4>
                                                                    <div class="courseDetails">
                                                                        <p>
                                                                            <label class="cTitle">Class</label>: 10</p>
                                                                        <p>
                                                                            <label class="cTitle">Subject</label>: Chemistry</p>
                                                                        <p>
                                                                            <label class="cTitle">Syllabus</label>: ICSE</p>
                                                                        <p>
                                                                            <label class="cTitle">Duration</label>: 30Hrs</p>
                                                                        <p>
                                                                            <label class="cTitle">Starts On</label>: 13/05/2016</p>
                                                                        <p>
                                                                            <label class="cTitle">Type</label>: One To One</p>
                                                                    </div>
                                                                    <div class="courseFooter">
                                                                        <div class="row ph-lg text-right">
                                                                            <a class="pull-left pv" href="#Cart" data-target="#fillDetails" data-toggle="modal">Apply Now</a >
                                <span class="course_price_value">&#x20B9;85</span>
                                <span class="course_price_period">monthly</span>
                            </div>
                        </div>
                    </div>
                    <!-- End of course --> 
                </article>





                              
                                <div class="text-center">
                    <ul class="pagination pagination-sm">
                        <li class="disabled"><a href="javascript:void(0)">«</a></li>
                                                                            <li class="active"><a href="javascript:void(0)">1</a></li>
                                                                            <li><a href="javascript:void(0)">2</a></li>
                                                                            <li><a href="javascript:void(0)">3</a></li>
                                                                            <li><a href="javascript:void(0)">»</a></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal fade confirmPayment" id="fillDetails" tabindex="-1" role="dialog" aria-labelledby="confirmDialog">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-body pt0">
                                                                    <!-- form code -->
                                                                    <form class="form-horizontal m-lg">
                                                                        <div class="row">
                                                                            <div class="form-group p">
                                                                                <label class="control-label">School Name</label>
                                                                                <input type="text" class="form-control" id="schoolName">
                                                                            </div>
                                                                            <div class="form-group p">
                                                                                <label class="control-label">Place</label>
                                                                                <input type="text" class="form-control">
                                                                            </div>
                                                                            <div class="col-sm-6">
                                                                                <div class="form-group p">
                                                                                    <label class="control-label">State</label>
                                                                                    <input type="text" class="form-control">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-6">
                                                                                <div class="form-group p">
                                                                                    <label class="control-label">Country</label>
                                                                                    <input type="text" class="form-control">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-6">
                                                                                <div class="form-group p">
                                                                                    <label class="control-label">Phone</label>
                                                                                    <input type="text" class="form-control">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-6">
                                                                                <div class="form-group p">
                                                                                    <label class="control-label">Mobile</label>
                                                                                    <input type="text" class="form-control">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="control-label">Subject</label>
                                                                            <input type="text" class="form-control" readonly="readonly" value="Subject choosen">
                                                                        </div>
                                                                        <div class="form-group text-center">
                                                                            <button class="btn btn-raised btn-info">APPLY</button>
                                                                            <button class="btn btn-raised btn-default" data-dismiss="modal">cancel</button>
                                                                        </div>
                                                                    </form>
                                                                    <!-- end of  form code -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
