<!-- Page title -->
<div class="page_top_wrap page_top_title page_top_breadcrumbs sc_pt_st1">
    <div class="content_wrap">
        <div class="breadcrumbs">
            <a class="breadcrumbs_item home" href="index.html">Home</a>
            <span class="breadcrumbs_delimiter"></span>
            <span class="breadcrumbs_item current">Contact Us</span>
        </div>
        <h1 class="page_title">Contact Us</h1>
    </div>
</div>
<!-- /Page title -->
<!-- Content without sidebar -->
<div class="page_content_wrap">
    <div class="content">
        <article class="post_item post_item_single page">
            <section class="post_content">
                <!-- Features section -->
                <div class="sc_section">
                    <div class="sc_content content_wrap margin_top_3em_imp margin_bottom_3em_imp">
                        <div class="columns_wrap sc_columns columns_fluid sc_columns_count_3">
                            <div class="column-1_3 sc_column_item sc_column_item_1 odd first text_center">
                                <span class="sc_icon icon-mail-2 link_color font_5em lh_1em"></span>
                                <div class="sc_section margin_top_1em_imp">
                                    <p><a href="#">info@erudo.in</a>
                                        <br />
                                        <a href="http://erudo.in" target="_">www.erudo.in</a>
                                    </p>
                                </div>
                            </div>
                            <div class="column-1_3 sc_column_item sc_column_item_2 even text_center">
                                <span class="sc_icon icon-telephone-2 link_color font_5em lh_1em"></span>
                                <div class="sc_section margin_top_1em_imp sc_features_st1">
                                    <p>+91 7561 090 677
                                        <br />+91 9746 594 857 
                                    </p>
                                </div>
                            </div>
                            <div class="column-1_3 sc_column_item sc_column_item_3 odd text_center">
                                <span class="sc_icon icon-map-2 link_color font_5em lh_1em"></span>
                                <div class="sc_section margin_top_1em_imp sc_features_st1">
                                    <p>ERUDO
                                        <br/> CENTRAL BUS TERMINAL
                                        <br /> THAVAKKARA, KANNUR,
                                        <br/> KERALA - 670001
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Features section -->
                <!-- Contact form -->
                <div class="sc_section bg_tint_dark sc_contact_bg_img">
                    <div class="sc_section_overlay sc_contact_bg_color" data-overlay="0.8" data-bg_color="#024b5e">
                        <div class="sc_section_content">
                            <div class="sc_content content_wrap margin_top_3em_imp margin_bottom_3_5em_imp">
                                <div id="sc_contact_form" class="sc_contact_form sc_contact_form_standard aligncenter width_80per">
                                    <h2 class="sc_contact_form_title">Contact Us Today</h2>
                                    <p class="sc_contact_form_description">Your email address will not be published. Required fields are marked *</p>
                                    <form id="sc_contact_form_1" data-formtype="contact" method="post" action="#">
                                        <div class="sc_contact_form_info">
                                            <div class="sc_contact_form_item sc_contact_form_field label_over">
                                                <label class="required" for="sc_contact_form_username">Name</label>
                                                <input id="sc_contact_form_username" type="text" name="username" placeholder="Name *">
                                            </div>
                                            <div class="sc_contact_form_item sc_contact_form_field label_over">
                                                <label class="required" for="sc_contact_form_email">E-mail</label>
                                                <input id="sc_contact_form_email" type="text" name="email" placeholder="E-mail *">
                                            </div>
                                            <div class="sc_contact_form_item sc_contact_form_field label_over">
                                                <label class="required" for="sc_contact_form_subj">Subject</label>
                                                <input id="sc_contact_form_subj" type="text" name="subject" placeholder="Subject">
                                            </div>
                                        </div>
                                        <div class="sc_contact_form_item sc_contact_form_message label_over">
                                            <label class="required" for="sc_contact_form_message">Message</label>
                                            <textarea id="sc_contact_form_message" name="message" placeholder="Message"></textarea>
                                        </div>
                                        <div class="sc_contact_form_item sc_contact_form_button">
                                            <button>SEND MESSAGE</button>
                                        </div>
                                        <div class="result sc_infobox"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Contact form -->
            </section>
        </article>
    </div>
</div>
<!-- /Content without sidebar -->
<!-- Google map -->
<div id="sc_googlemap_1213982173" class="sc_googlemap  width_100per height_30em" data-title="" data-description="Erudo, Kannur Technolodge, Thavakkara, Kannur, Kerala 670001, India" data-address="Kannur Technolodge, Thavakkara, Kannur, Kerala 670001, India" data-latlng="11.8663038,75.3711807" data-zoom="16" data-style="default" data-point="">
</div>
<!-- <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script> -->
<script type="text/javascript">
$(document).find(".sc_googlemap:not(.inited)").length > 0 && $(document).find(".sc_googlemap:not(.inited)").each(function() {
    "use strict";
    if (!(jQuery(this).parents("div:hidden,article:hidden").length > 0)) {
        var e = jQuery(this).addClass("inited"),
            t = e.data("address"),
            i = e.data("latlng"),
            n = e.attr("id"),
            a = e.data("zoom"),
            s = e.data("style"),
            r = e.data("description"),
            o = e.data("title"),
            d = e.data("point");
        themerex_googlemap_init(jQuery("#" + n).get(0), {
            address: t,
            latlng: i,
            style: s,
            zoom: a,
            description: r,
            title: o,
            point: d
        })
    }
});
</script>
