<div class="page_content_wrap page_top_wrap">
    <div class="content">
        <article class="post_item post_item_single page">
            <section class="post_content">

                <!-- Courses section -->
                <div class="sc_section" data-animation="animated fadeInUp normal">
                    <div class="sc_section_overlay">
                        <div class="sc_section_content">
                            <div class="sc_content content_wrap margin_top_2_5em_imp margin_bottom_2_5em_imp">
                                <h2 class="sc_title sc_title_regular sc_align_center margin_top_0 margin_bottom_085em text_center">Courses you may looking for</h2>
                                <!-- Advanced seach -->
                                <div class="row">
                                    <div class="col-sm-6 center-block">
                                        <div class="input-group ">
                                            <div class="form-group has-feedback">
                                                <input type="text" class="form-control" aria-label="..." placeholder="SEARCH COURSE">
                                                <a class="glyphicon glyphicon-menu-down form-control-feedback search dropdown-toggle"></a>
                                                <ul class="dropdown-menu dropdown-menu-right col-sm-12 ph-lg advanced-search">
                                                    <form class="form-horizontal ph-lg">
                                                        <div class="form-group">
                                                            <label for="subject">Subject</label>
                                                            <input type="text" class="form-control" id="subject" placeholder="Subject">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="tutor">Tutor</label>
                                                            <input type="text" class="form-control" id="tutor" placeholder="Tutor">
                                                        </div>
                                                        <div class="form-group ">
                                                            <label for="tutor">Price</label>
                                                            <div class="row">
                                                                <div class="col-xs-6 col-sm-6">
                                                                    <select class="price-criteria">
                                                                        <option selected="">Less than</option>
                                                                        <option>Greater than</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-xs-6 col-sm-3">
                                                                    <input type="text" value="500" class="form-control " pattern="\d+">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group text-center">
                                                            <button type="submit" class="btn btn-info btn-raised search-btn"><em class="fa fa-search"></em></button>
                                                        </div>
                                                    </form>
                                                </ul>
                                            </div>
                                            <div class="input-group-btn">
                                                <button class="btn btn-info btn-raised search-btn">Search</button>
                                            </div>
                                            <!-- /btn-group -->
                                        </div>
                                        <!-- /input-group -->
                                    </div>
                                    <!-- /.col-lg-6 -->
                                    <div class="row text-center">
                                        <h4>Feeling lazy ?</h4>
                                        <p>We can arrange a tutor for you. Call
                                            <label class="text-info">+91-756-109-0677</label>
                                        </p>
                                    </div>
                                </div>
                                <!-- Advanced seach -->
                                <article class="courseWrapper">
                                    <!-- course -->
                                    <div class="course">
                                        <h4 class="courseTitle"><a href="#personalpagel">Evaluating Social Programs</a></h4>
                                        <div class="courseDetails">
                                            <p>
                                                <label class="cTitle">Class</label>: 10</p>
                                            <p>
                                                <label class="cTitle">Subject</label>: Chemistry</p>
                                            <p>
                                                <label class="cTitle">Syllabus</label>: ICSE</p>
                                            <p>
                                                <label class="cTitle">Type</label>: One To One</p>
                                            <p>
                                                </p>
                                            <p>
                                                </p>
                                        </div>
                                        <div class="courseFooter">
                                            <div class="row ph-lg text-right">
                                                <a class="pull-left pv" href="#Cart">Request Session</a >
                                <span class="course_price_value">&#x20B9;85</span>
                                <span class="course_price_period">monthly</span>
                            </div>
                        </div>
                    </div>
                    <!-- End of course -->
           
                                    <!-- course -->
                                    <div class="course">
                                        <h4 class="courseTitle"><a href="#personalpagel">Evaluating Social Programs</a></h4>
                                                <div class="courseDetails">
                                                    <p>
                                                        <label class="cTitle">Class</label>: 10</p>
                                                    <p>
                                                        <label class="cTitle">Subject</label>: Chemistry</p>
                                                    <p>
                                                        <label class="cTitle">Syllabus</label>: ICSE</p>
                                                    <p>
                                                        <label class="cTitle">Type</label>: One To One</p>
                                                    <p>
                                                        </p>
                                                    <p>
                                                        </p>
                                                </div>
                                                <div class="courseFooter">
                                                    <div class="row ph-lg text-right">
                                                        <a class="pull-left pv" href="#Cart">Request Session</a >
                                <span class="course_price_value">&#x20B9;85</span>
                                <span class="course_price_period">monthly</span>
                            </div>
                        </div>
                    </div>
                    <!-- End of course --> 
                
                                    <!-- course -->
                                    <div class="course">
                                        <h4 class="courseTitle"><a href="#personalpagel">Evaluating Social Programs</a></h4>
                                                        <div class="courseDetails">
                                                            <p>
                                                                <label class="cTitle">Class</label>: 10</p>
                                                            <p>
                                                                <label class="cTitle">Subject</label>: Chemistry</p>
                                                            <p>
                                                                <label class="cTitle">Syllabus</label>: ICSE</p>
                                                            <p>
                                                                <label class="cTitle">Type</label>: One To One</p>
                                                            <p>
                                                               </p>
                                                            <p>
                                                               </p>
                                                        </div>
                                                        <div class="courseFooter">
                                                            <div class="row ph-lg text-right">
                                                                <a class="pull-left pv" href="#Cart">Request Session</a >
                                <span class="course_price_value">&#x20B9;85</span>
                                <span class="course_price_period">monthly</span>
                            </div>
                        </div>
                    </div>
                    <!-- End of course --> 
                
                                    <!-- course -->
                                    <div class="course">
                                        <h4 class="courseTitle"><a href="#personalpagel">Evaluating Social Programs</a></h4>
                                                                <div class="courseDetails">
                                                                    <p>
                                                                        <label class="cTitle">Class</label>: 10</p>
                                                                    <p>
                                                                        <label class="cTitle">Subject</label>: Chemistry</p>
                                                                    <p>
                                                                        <label class="cTitle">Syllabus</label>: ICSE</p>
                                                                    <p>
                                                                        <label class="cTitle">Type</label>: One To One</p>
                                                                    <p>
                                                                       </p>
                                                                    <p>
                                                                        </p>
                                                                </div>
                                                                <div class="courseFooter">
                                                                    <div class="row ph-lg text-right">
                                                                        <a class="pull-left pv" href="#Cart">Request Session</a >
                                <span class="course_price_value">&#x20B9;85</span>
                                <span class="course_price_period">monthly</span>
                            </div>
                        </div>
                    </div>
                    <!-- End of course --> 
                
                                    <!-- course -->
                                    <div class="course">
                                        <h4 class="courseTitle"><a href="#personalpagel">Evaluating Social Programs</a></h4>
                                                                        <div class="courseDetails">
                                                                            <p>
                                                                                <label class="cTitle">Class</label>: 10</p>
                                                                            <p>
                                                                                <label class="cTitle">Subject</label>: Chemistry</p>
                                                                            <p>
                                                                                <label class="cTitle">Syllabus</label>: ICSE</p>
                                                                            <p>
                                                                                <label class="cTitle">Type</label>: One To One</p>
                                                                            <p>
                                                                               </p>
                                                                            <p>
                                                                                </p>
                                                                        </div>
                                                                        <div class="courseFooter">
                                                                            <div class="row ph-lg text-right">
                                                                                <a class="pull-left pv" href="#Cart">Request Session</a >
                                <span class="course_price_value">&#x20B9;85</span>
                                <span class="course_price_period">monthly</span>
                            </div>
                        </div>
                    </div>
                    <!-- End of course --> 
                
                                    <!-- course -->
                                    <div class="course">
                                        <h4 class="courseTitle"><a href="#personalpagel">Evaluating Social Programs</a></h4>
                                                                                <div class="courseDetails">
                                                                                    <p>
                                                                                        <label class="cTitle">Class</label>: 10</p>
                                                                                    <p>
                                                                                        <label class="cTitle">Subject</label>: Chemistry</p>
                                                                                    <p>
                                                                                        <label class="cTitle">Syllabus</label>: ICSE</p>
                                                                                    <p>
                                                                                        <label class="cTitle">Type</label>: One To One</p>
                                                                                    <p>
                                                                                        </p>
                                                                                    <p>
                                                                                        </p>
                                                                                </div>
                                                                                <div class="courseFooter">
                                                                                    <div class="row ph-lg text-right">
                                                                                        <a class="pull-left pv" href="#Cart">Request Session</a >
                                <span class="course_price_value">&#x20B9;85</span>
                                <span class="course_price_period">monthly</span>
                            </div>
                        </div>
                    </div>
                    <!-- End of course --> 
                </article>





                         <div class="text-center">
                        <ul class="pagination pagination-sm">
                            <li class="disabled"><a href="javascript:void(0)">«</a></li>
                            <li class="active"><a href="javascript:void(0)">1</a></li>
                            <li><a href="javascript:void(0)">2</a></li>
                            <li><a href="javascript:void(0)">3</a></li>
                            <li><a href="javascript:void(0)">»</a></li>
                        </ul>
                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!-- /Courses section -->
                                                                   
            </section>
            </article>
            </div>
            </div>
         
         
         
          <script type="text/javascript">


            $('a.dropdown-toggle').on('click', function(event) {
                event.stopPropagation();
                $(this).parent().toggleClass('open');
            });

            $('body').on('click', function(e) {
                if ($(e.target).is('.search-btn')) {
                    e.preventDefault();
                    $('a.dropdown-toggle').parent().removeClass('open');
                }
            });
            </script>