<div class="page_content_wrap page_top_wrap sc_bg1">
    <section class="container mt">
        <div class="col-sm-9 center-block">
            <div class="panel">
                <div class="panel-body">
                    <article class="enrolled-course">
                        <div class="row">
                            <h3 class="ph-lg"><a class="doubt" href="answers.html">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</a></h3>
                            <div class="text-center">
                                <img src="images/erudoteacher.png">
                            </div>
                            <p class="ph-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <div class="col-sm-6"><span class="label label-primary">Math</span> <span class="label label-default">Std 8</span><a href="#answers" class="ph-sm ">View answer</a>
                            </div>
                            <div class="text-right col-sm-6"><small class="text-muted">1 Min ago</small></div>
                            <div class="col-sm-12 text-right">
                                <a href="">Sudheep Deshai</a>
                            </div>
                        </div>
                    </article>
                    <article class="enrolled-course">
                        <div class="row">
                            <h3 class="ph-lg"><a class="doubt" href="answers.html">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor</a></h3>
                            <p class="ph-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <div class="col-sm-6"><span class="label label-primary">Math</span> <span class="label label-default">Std 8</span><a href="#answers" class="ph-sm ">View answer</a>
                            </div>
                            <div class="text-right col-sm-6"><small class="text-muted">1 Min ago</small></div>
                            <div class="col-sm-12 text-right">
                                <a href="">Sudheep Deshai</a>
                            </div>
                        </div>
                    </article>
                    <article class="enrolled-course">
                        <div class="row">
                            <h3 class="ph-lg"><a class="doubt" href="answers.html">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed</a></h3>
                            <p class="ph-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <div class="col-sm-6"><span class="label label-primary">Math</span> <span class="label label-default">Std 8</span><a href="#answers" class="ph-sm ">View answer</a>
                            </div>
                            <div class="text-right col-sm-6"><small class="text-muted">1 Min ago</small></div>
                            <div class="col-sm-12 text-right">
                                <a href="">Sudheep Deshai</a>
                            </div>
                        </div>
                    </article>
                    <article class="enrolled-course">
                        <div class="row">
                            <h3 class="ph-lg"><a class="doubt" href="answers.html">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                            <p class="ph-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <div class="col-sm-6"><span class="label label-primary">Math</span> <span class="label label-default">Std 8</span><a href="#answers" class="ph-sm ">View answer</a>
                            </div>
                            <div class="text-right col-sm-6"><small class="text-muted">1 Min ago</small></div>
                            <div class="col-sm-12 text-right">
                                <a href="">Sudheep Deshai</a>
                            </div>
                        </div>
                    </article>
                    <div class="text-center">
                        <ul class="pagination pagination-sm">
                            <li class="disabled"><a href="javascript:void(0)">«</a></li>
                            <li class="active"><a href="javascript:void(0)">1</a></li>
                            <li><a href="javascript:void(0)">2</a></li>
                            <li><a href="javascript:void(0)">3</a></li>
                            <li><a href="javascript:void(0)">»</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
