<link href="css/owl.carousel.css" rel="stylesheet" type="text/css">
<link href="css/owl.transitions.css" rel="stylesheet" type="text/css">
<div id="myCarousel" class="carousel slide" data-interval="4000" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active" data-animation="animated bounceInDown">
            <div class="container">
                <div class="carousel-caption row">
                    <div class="col-xs-9 col-sm-9 text-center mt-lg pt-lg">
                        <div class="tp-caption title" data-animation="animated bounceInLeft">Welcome to Erudo
                            <p class="lead" data-animation="animated bounceInRight"> Advanced tuition portal </p>
                        </div>
                        <span class="tp-caption slide_button  tp-resizeme mt-lg" data-animation="animated zoomInUp">
           <a href="#" class="slide_button_white">Start Learning Now</a>
         </span>
                    </div>
                    <div class="col-xs-3 col-sm-3 mt-lg pt-lg">
                        <img src="images/erudologo.png" alt="logo" data-animation="animated zoomInUp" data-speed="1300" width="200">
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="container">
                <div class="carousel-caption">
                    <div class="tp-caption title" data-animation="animated bounceInLeft">Learn Online</div>
                    <p class="lead mb-lg" data-animation="animated bounceInLeft">
                        <span class="font-w_400">Online Education leads the world in distance education with high quality online degrees and online courses.</span>
                    </p>
                    <span class="tp-caption slide_button tp-resizeme mt-lg" data-animation="animated bounceInDown">
     <a href="#" class="slide_button_white">Start Learning Now</a>
   </span>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="container">
                <div class="carousel-caption">
                    <div class="tp-caption title" data-animation="animated bounceInRight">Personalized Coaching</div>
                    <p class="lead font-w_400 mb-lg" data-animation="animated bounceInRight">Learning is a collaborative process, and we're here to provide you with guidance every step of the way.</p>
                    <span class="tp-caption slide_button  tp-resizeme" data-animation="animated fadeIn">
        <a href="#" class="slide_button_white">Find Personalized Courses</a>
      </span>
                </div>
            </div>
        </div>
    </div>
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
</div>
<!-- /.carousel -->
<div class="page_content_wrap">
    <div class="content">
        <article class="post_item post_item_single page">
            <section class="post_content">
                <!-- Features section -->
                <div class="sc_section" >
                    <div class="row">
                        <div class="col-sm-4 text-center">
                            <div class="row">
                                <div class="col-xs-6">
                                    <img src="images/erudoteacher.png">
                                </div>
                                <a class="col-xs-6 homeCaptionp" href="#tutorsall">
                                    <h3>ERUDO</h3>
                                    <p><b>TUTIONS</b></p>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-4 text-center">
                            <div class="row">
                                <div class="col-xs-6 ">
                                    <img src="images/x1.png">
                                </div>
                                <a class="col-xs-6 homeCaption" href="#classroom">
                                    <h3>ERUDO</h3>
                                    <p><b>CLASSROOMS</b></p>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-4 text-center">
                            <div class="row">
                                <div class="col-xs-6">
                                    <img src="images/help.svg" style="height:120px">
                                </div>
                                <a class="col-xs-6 homeCaption" href="#askdoubt">
                                    <h3>ERUDO</h3>
                                    <p><b>ASK DOUBTS</b></p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Features section -->
                <!-- Courses section -->
                <div class="sc_section accent_top" data-animation="animated fadeInUp normal">
                    <div class="sc_section_overlay">
                        <div class="sc_section_content">
                            <div class="sc_content content_wrap margin_top_2_5em_imp margin_bottom_2_5em_imp">
                                <h2 class="sc_title sc_title_regular sc_align_center margin_top_0 margin_bottom_085em text_center">Courses you may looking for</h2>
                                <!-- Advanced seach -->
                                <div class="row">
                                    <div class="col-sm-6 center-block">
                                        <div class="input-group ">
                                            <div class="form-group has-feedback">
                                                <input type="text" class="form-control" aria-label="..." placeholder="SEARCH COURSE">
                                                <a class="glyphicon glyphicon-menu-down form-control-feedback search dropdown-toggle"></a>
                                                <ul class="dropdown-menu dropdown-menu-right col-sm-12 ph-lg advanced-search">
                                                    <form class="form-horizontal ph-lg">
                                                        <div class="form-group">
                                                            <label for="subject">Subject</label>
                                                            <input type="text" class="form-control" id="subject" placeholder="Subject">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="tutor">Tutor</label>
                                                            <input type="text" class="form-control" id="tutor" placeholder="Tutor">
                                                        </div>
                                                        <div class="form-group ">
                                                            <label for="tutor">Price</label>
                                                            <div class="row">
                                                                <div class="col-xs-6 col-sm-6">
                                                                    <select class="price-criteria">
                                                                        <option selected="">Less than</option>
                                                                        <option>Greater than</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-xs-6 col-sm-3">
                                                                    <input type="text" value="500" class="form-control " pattern="\d+">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group text-center">
                                                            <button type="submit" class="btn btn-info btn-raised search-btn"><em class="fa fa-search"></em></button>
                                                        </div>
                                                    </form>
                                                </ul>
                                            </div>
                                            <div class="input-group-btn">
                                                <button class="btn btn-info btn-raised search-btn">Search</button>
                                            </div>
                                            <!-- /btn-group -->
                                        </div>
                                        <!-- /input-group -->
                                    </div>
                                    <!-- /.col-lg-6 -->
                                    <div class="row text-center">
                                        <h4>Feeling lazy ?</h4>
                                        <p>We can arrange a tutor for you. Call
                                            <label class="text-info">+91-756-109-0677</label>
                                        </p>
                                    </div>
                                </div>
                                <!-- Advanced seach -->
                                <article class="courseWrapper">
                                    <!-- course -->
                                    <div class="course">
                                        <h4 class="courseTitle"><a href="#courseTutor">Evaluating Social Programs</a></h4>
                                        <div class="courseDetails">
                                            <p>
                                                <label class="cTitle">Class</label>: 10</p>
                                            <p>
                                                <label class="cTitle">Subject</label>: Chemistry</p>
                                            <p>
                                                <label class="cTitle">Syllabus</label>: ICSE</p>
                                            <p>
                                                <label class="cTitle">Duration</label>: 30Hrs</p>
                                            <p>
                                                <label class="cTitle">Starts On</label>: 13/05/2016</p>
                                            <p>
                                                <label class="cTitle">Type</label>: One To One</p>
                                        </div>
                                        <div class="courseFooter">
                                            <div class="row ph-lg text-right">
                                                <a class="pull-left pv" href="#Cart">Enroll Now</a >
                                <span class="course_price_value">&#x20B9;85</span>
                                <span class="course_price_period">monthly</span>
                            </div>
                        </div>
                    </div>
                    <!-- End of course -->
           
                                    <!-- course -->
                                    <div class="course">
                                        <h4 class="courseTitle"><a href="#courseTutor">Evaluating Social Programs</a></h4>
                                                <div class="courseDetails">
                                                    <p>
                                                        <label class="cTitle">Class</label>: 10</p>
                                                    <p>
                                                        <label class="cTitle">Subject</label>: Chemistry</p>
                                                    <p>
                                                        <label class="cTitle">Syllabus</label>: ICSE</p>
                                                    <p>
                                                        <label class="cTitle">Duration</label>: 30Hrs</p>
                                                    <p>
                                                        <label class="cTitle">Starts On</label>: 13/05/2016</p>
                                                    <p>
                                                        <label class="cTitle">Type</label>: One To One</p>
                                                </div>
                                                <div class="courseFooter">
                                                    <div class="row ph-lg text-right">
                                                        <a class="pull-left pv" href="#Cart">Enroll Now</a >
                                <span class="course_price_value">&#x20B9;85</span>
                                <span class="course_price_period">monthly</span>
                            </div>
                        </div>
                    </div>
                    <!-- End of course --> 
                
                                    <!-- course -->
                                    <div class="course">
                                        <h4 class="courseTitle"><a href="#courseTutor">Evaluating Social Programs</a></h4>
                                                        <div class="courseDetails">
                                                            <p>
                                                                <label class="cTitle">Class</label>: 10</p>
                                                            <p>
                                                                <label class="cTitle">Subject</label>: Chemistry</p>
                                                            <p>
                                                                <label class="cTitle">Syllabus</label>: ICSE</p>
                                                            <p>
                                                                <label class="cTitle">Duration</label>: 30Hrs</p>
                                                            <p>
                                                                <label class="cTitle">Starts On</label>: 13/05/2016</p>
                                                            <p>
                                                                <label class="cTitle">Type</label>: One To One</p>
                                                        </div>
                                                        <div class="courseFooter">
                                                            <div class="row ph-lg text-right">
                                                                <a class="pull-left pv" href="#Cart">Enroll Now</a >
                                <span class="course_price_value">&#x20B9;85</span>
                                <span class="course_price_period">monthly</span>
                            </div>
                        </div>
                    </div>
                    <!-- End of course --> 
                
                                    <!-- course -->
                                    <div class="course">
                                        <h4 class="courseTitle"><a href="#courseTutor">Evaluating Social Programs</a></h4>
                                                                <div class="courseDetails">
                                                                    <p>
                                                                        <label class="cTitle">Class</label>: 10</p>
                                                                    <p>
                                                                        <label class="cTitle">Subject</label>: Chemistry</p>
                                                                    <p>
                                                                        <label class="cTitle">Syllabus</label>: ICSE</p>
                                                                    <p>
                                                                        <label class="cTitle">Duration</label>: 30Hrs</p>
                                                                    <p>
                                                                        <label class="cTitle">Starts On</label>: 13/05/2016</p>
                                                                    <p>
                                                                        <label class="cTitle">Type</label>: One To One</p>
                                                                </div>
                                                                <div class="courseFooter">
                                                                    <div class="row ph-lg text-right">
                                                                        <a class="pull-left pv" href="#Cart">Enroll Now</a >
                                <span class="course_price_value">&#x20B9;85</span>
                                <span class="course_price_period">monthly</span>
                            </div>
                        </div>
                    </div>
                    <!-- End of course --> 
                
                                    <!-- course -->
                                    <div class="course">
                                        <h4 class="courseTitle"><a href="#courseTutor">Evaluating Social Programs</a></h4>
                                                                        <div class="courseDetails">
                                                                            <p>
                                                                                <label class="cTitle">Class</label>: 10</p>
                                                                            <p>
                                                                                <label class="cTitle">Subject</label>: Chemistry</p>
                                                                            <p>
                                                                                <label class="cTitle">Syllabus</label>: ICSE</p>
                                                                            <p>
                                                                                <label class="cTitle">Duration</label>: 30Hrs</p>
                                                                            <p>
                                                                                <label class="cTitle">Starts On</label>: 13/05/2016</p>
                                                                            <p>
                                                                                <label class="cTitle">Type</label>: One To One</p>
                                                                        </div>
                                                                        <div class="courseFooter">
                                                                            <div class="row ph-lg text-right">
                                                                                <a class="pull-left pv" href="#Cart">Enroll Now</a >
                                <span class="course_price_value">&#x20B9;85</span>
                                <span class="course_price_period">monthly</span>
                            </div>
                        </div>
                    </div>
                    <!-- End of course --> 
                
                                    <!-- course -->
                                    <div class="course">
                                        <h4 class="courseTitle"><a href="#courseTutor">Evaluating Social Programs</a></h4>
                                                                                <div class="courseDetails">
                                                                                    <p>
                                                                                        <label class="cTitle">Class</label>: 10</p>
                                                                                    <p>
                                                                                        <label class="cTitle">Subject</label>: Chemistry</p>
                                                                                    <p>
                                                                                        <label class="cTitle">Syllabus</label>: ICSE</p>
                                                                                    <p>
                                                                                        <label class="cTitle">Duration</label>: 30Hrs</p>
                                                                                    <p>
                                                                                        <label class="cTitle">Starts On</label>: 13/05/2016</p>
                                                                                    <p>
                                                                                        <label class="cTitle">Type</label>: One To One</p>
                                                                                </div>
                                                                                <div class="courseFooter">
                                                                                    <div class="row ph-lg text-right">
                                                                                        <a class="pull-left pv" href="#Cart">Enroll Now</a >
                                <span class="course_price_value">&#x20B9;85</span>
                                <span class="course_price_period">monthly</span>
                            </div>
                        </div>
                    </div>
                    <!-- End of course --> 
                </article>





                              
                                <div class="text-center">
                    <ul class="pagination pagination-sm">
                        <li class="disabled"><a href="javascript:void(0)">«</a></li>
                                                                                        <li class="active"><a href="javascript:void(0)">1</a></li>
                                                                                        <li><a href="javascript:void(0)">2</a></li>
                                                                                        <li><a href="javascript:void(0)">3</a></li>
                                                                                        <li><a href="javascript:void(0)">»</a></li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!-- /Courses section -->
                                                                    <!-- Video training section -->
                                                                    <div class="sc_line sc_line_style_solid margin_top_0 margin_bottom_0"></div>
                                                                    <!-- our tutor tutor-slider -->
                                                                    <div class="sc_section_overlay">
                                                                        <div class="sc_section_content">
                                                                            <div class="sc_content content_wrap margin_top_2_5em_imp margin_bottom_3em_imp">
                                                                                <h2 class="sc_title sc_title_regular sc_align_center margin_top_0 margin_bottom_08em text_center">Our awesome tutors</h2>
                                                                                <div class="p-lg">
                                                                                    <div class="col-sm-6 p0 center-block tutor-slider-wrapper">
                                                                                        <div class="tutor-slider ">
                                                                                            <img class="lazyOwl" data-src="images/user/01.jpg" src="" alt="erudo tutor" width="80" height="80" data-toggle="tooltip" title="Priya kaur, NIT chandigrah" />
                                                                                            <img class="lazyOwl" data-src="images/user/02.jpg" src="" alt="erudo tutor" width="80" height="80" data-toggle="tooltip" title="Priya kaur, NIT chandigrah" />
                                                                                            <img class="lazyOwl" data-src="images/user/03.jpg" src="" alt="erudo tutor" width="80" height="80" data-toggle="tooltip" title="Priya kaur, NIT chandigrah" />
                                                                                            <img class="lazyOwl" data-src="images/user/04.jpg" src="" alt="erudo tutor" width="80" height="80" data-toggle="tooltip" title="Priya kaur, NIT chandigrah" />
                                                                                            <img class="lazyOwl" data-src="images/user/05.jpg" src="" alt="erudo tutor" width="80" height="80" data-toggle="tooltip" title="Priya kaur, NIT chandigrah" />
                                                                                            <img class="lazyOwl" data-src="images/user/06.jpg" src="" alt="erudo tutor" width="80" height="80" data-toggle="tooltip" title="Priya kaur, NIT chandigrah" />
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!-- our tutor tutor-slider -->
                                                                    <div class="sc_section" data-animation="animated fadeInUp normal">
                                                                        <div class="sc_content content_wrap margin_top_2_5em_imp margin_bottom_2_5em_imp ">
                                                                            <div class="columns_wrap sc_columns columns_nofluid sc_columns_count_2">
                                                                                <div class="column-1_2 sc_column_item sc_column_item_1 odd first res_width_100per_imp">
                                                                                    <h3 class="sc_title sc_title_iconed sc_align_left text_left">
                    <span ></span>
                    How Erudo works?
                  </h3>
                                                                                    <p>Mauris vitae quam ligula. In tincidunt sapien sed nibh scelerisque congue. Maecenas ut libero eu metus tincidunt lobortis. Duis accumsan at mauris vel lacinia.</p>
                                                                                    <a href="courses-streampage.html" class="sc_button sc_button_square sc_button_style_filled sc_button_bg_link sc_button_size_mini sc_button_iconed inherit margin_top_1em margin_bottom_4 margin_left_4">BROWSE COURSES</a>
                                                                                </div>
                                                                                <div class="column-1_2 sc_column_item sc_column_item_2 even res_width_100per_imp">
            <div class="sc_video_player sc_video_bordered sc_video_st1">
                <div class="sc_video_frame sc_video_play_button hover_icon hover_icon_play width_100per" data-width="100%" data-height="647" data-video="&lt;iframe class=&quot;video_frame&quot; src=&quot;http://youtube.com/embed/636Dp8eHWnM?autoplay=1&quot; width=&quot;100%&quot; height=&quot;647&quot; frameborder=&quot;0&quot;&gt;&lt;/iframe&gt;">
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!-- /Video training section -->
            </section>
            </article>
            </div>
            </div>
            <footer class="testimonials_wrap sc_section bg_tint_dark post_ts_bg3">
                <div class="sc_section_overlay" data-bg-color="#1eaace" data-overlay="0">
                    <div class="">
                        <!-- Testimonials section -->
                        <div class="sc_testimonials  sc_slider_height_fixed aligncenter height_12em  width_100per">
                            <div class="slides swiper-wrapper">
                                <div class="item">
                                    <div class="">
                                        <div class="sc_testimonial_avatar">
                                            <img alt="" src="https://erudo.in/api/containers/57dcc11f42b610a44d05d9de_profile/download/Anu.jpg" class="img50 img-circle"></div>
                                        <div class="sc_testimonial_content">
                                            <p>Best purchase i made in envato. Great Theme!</p>
                                        </div>
                                        <div class="sc_testimonial_author">
                                            <span>Sarah Jefferson</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="sc_testimonial_item">
                                        <div class="sc_testimonial_avatar">
                                            <img alt="" src="https://erudo.in/api/containers/57dcc6c542b610a44d05d9ff_profile/download/Twomot6.jpg  " class="img50 img-circle"></div>
                                        <div class="sc_testimonial_content">
                                            <p>Thank you for all your help and assistance over the years with our products.
                                                <br /> I would have no hesitation in recommending you to my clients.</p>
                                        </div>
                                        <div class="sc_testimonial_author">
                                            <span>David Anderson</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Testimonials section -->
                    </div>
                </div>
            </footer>
            <script type="text/javascript">
            $('.carousel').carousel({
                pause: "none"
            });


            $(".swiper-wrapper").owlCarousel({
                navigation: true,
                responsive: true,
                responsiveRefreshRate: 200,
                slideSpeed: 200,
                paginationSpeed: 200,
                rewindSpeed: 500,
                stopOnHover: false,
                autoHeight: true,
                singleItem: true,
                mouseDrag: false,
                autoPlay: true,
                navText: ['  ', ' '],
                transitionStyle: "fade"
            });

            $(".tutor-slider").owlCarousel({
                items: 4,
                itemsDesktop: [1199, 4],
                itemsDesktopSmall: [979, 4],
                itemsMobile: [479, 4],
                responsive: true,
                responsiveRefreshRate: 200,
                // slideSpeed: 10,
                // paginationSpeed: 200,
                // rewindSpeed: 10000,
                stopOnHover: true,
                lazyLoad: true,
                mouseDrag: false,
                autoPlay: 1000,
                navText: ['  ', ' '],
                // transitionStyle: "fade"
            });


            $('a.dropdown-toggle').on('click', function(event) {
                event.stopPropagation();
                $(this).parent().toggleClass('open');
            });

            $('body').on('click', function(e) {
                if ($(e.target).is('.search-btn')) {
                    e.preventDefault();
                    $('a.dropdown-toggle').parent().removeClass('open');
                }
            });
            </script>
