<div class="page_content_wrap page_top_wrap sc_bg1">
    <section class="container mt">
        <div class="col-sm-4 center-block mt-lg">
            <div class="panel">
                <div class="panel-body text-center">
                    <h3>Fundamentals of calculus</h3>
                    <h4>Praveen Chathurvedi</h4>
                    <h4>
                        <small>25-06-2016 8:30 - 12:00 PM</small>
                    </h4>
                    <label class="text-danger">Class started 00:22 min ago</label>
                    <label class="text-info">Please wait or revisit at scheduled time to join class </label>
                    <a class="btn btn-info btn-raised" href="videosession.html" target="_">Join Class</a>
                    <div>
                        <a class="btn btn-info btn-raised" href="videosession.html" target="_">Start Class</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</div>